<template lang="html">
  <div v-if="!loading">
    <v-container fluid>
      <v-col>
        <h2>{{ ciclos.ciclos[0].num_ciclo }}</h2>
      </v-col>
        <v-row dense>
            <v-col md="4" v-for="(curso, index) in ciclos.ciclos[0].cursos" :key="index">
              <div v-for="(horario, index2) in curso.horarios" :key='index2'>
                <v-card>
                  <router-link  style="color: #1B4965" :to="{ name: 'AlumnoCurso',
                  params: {id: curso.id_curso, nombre: curso.nombre, codigo: curso.codigo,
                  horario: horario.codigo, ciclo: horario.ciclo, id_horario: horario.id_horario,
                  imagen: imagenes[index].ruta
                  }}">
                    <v-img :src="imagenes[index].ruta" height="200px"></v-img>
                    <h2 align="left" class="ml-5">Horario: {{curso.horarios[index2].codigo}}</h2>
                    <h2 align="left" class="ml-5">{{curso.codigo}} - {{curso.nombre}}</h2>
                  </router-link>
                </v-card>
              </div>
            </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-col>
          <span align="left" class="primario--text ml-5">Aquí puedes ver tus cursos de ciclos anteriores</span>
        </v-col>
        <v-row dense>
          <div v-if="cursosPasados()">
            <v-col v-for="(ciclo, index3) in ciclos.ciclos" :key="index3">
                <div v-if="index3 !== 0">
                  <div v-for="(curso, index4) in ciclo.cursos" :key="index4">
                    <v-list>
                      <v-list-group
                        :value="false"
                        no-action
                      >
                        <template v-slot:activator>
                          <v-list-item-content>
                            <v-list-item-title>{{ ciclos.ciclos[index3].num_ciclo }}</v-list-item-title>
                          </v-list-item-content>
                        </template>
                        <v-list-item
                          v-for="(horario, index5) in curso.horarios" :key="index5"
                          link :to="{ name: 'AlumnoCurso',
                          params: {id: curso.id_curso, nombre: curso.nombre, codigo: curso.codigo, horario: horario.codigo, ciclo: horario.ciclo, id_horario: horario.id_horario}}"
                        >
                          <v-list-item-title>
                            {{ horario.ciclo }}
                            {{ curso.nombre }}
                            ( {{ curso.codigo }} -
                            {{ horario.codigo }} )
                          </v-list-item-title>
                        </v-list-item>
                      </v-list-group>
                    </v-list>
                  </div>
                </div>
            </v-col>
          </div>
          <div v-else>
            <h3>No tienes cursos pasados</h3>
          </div>
        </v-row>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'AlumnosCurso',

  data: () => ({
    loading: true,
    ciclos: {},
    profesor: {},
    primero: true,
    i: 1,
    imagenes: [
      { ruta: 'https://picsum.photos/id/779/4844/3219' }, // machu picchu 366/4000/3000
      { ruta: 'https://picsum.photos/id/685/3000/2000' }, // colchon de nubes
      { ruta: 'https://picsum.photos/id/196/2048/1536' }, // dunas
      { ruta: 'https://picsum.photos/id/327/4442/2961' }, // montaña y hielo
      { ruta: 'https://picsum.photos/id/509/4608/3456' }, // catarata
      { ruta: 'https://picsum.photos/id/866/4704/3136' }, // pico de montaña
      { ruta: 'https://picsum.photos/id/849/3202/2401' }, // mar y montaña
      { ruta: 'https://picsum.photos/id/979/2157/1440' },
      { ruta: 'https://picsum.photos/id/180/2400/1600' }, // computadora y libro
      { ruta: 'https://picsum.photos/id/366/4000/3000' } // teclado y tasa
    ]
  }),
  methods: {
    cursosPasados () {
      if (this.ciclos.ciclos !== {}) {
        console.log('true')
        return this.ciclos.ciclos.length >= 2
      } else {
        console.log('false')
        return false
      }
    },
    getCiclos () {
      console.log(this.$store.state.token)
      const path = '/api/horario_curso_x_estudiante/'
      axios.get(path, {
        headers: {
          Authorization: 'Bearer ' + this.$store.state.token // the token is a variable which holds the token
        }
      }).then((response) => {
        console.log(response.data)
        this.ciclos = Object.assign({}, response.data)
        console.log(this.ciclos)
        this.loading = false
      })
        .catch((error) => {
          console.log(error)
        })
    },
    home () {
      this.$router.push('/AlumnoCurso')
    }
  },
  created () {
    this.getCiclos()
  }
}
</script>
