<template>
  <div v-if="loading">
    <v-card
    v-if="this.laboratorio_individual.laboratorio_corregido"
    flat
    >
        <v-row>
        <v-col>
            <v-card
            flat
            max-width="450"
            class="ml-5 mt-5 mr-5"
            >
            <EstadisticaA :lab="this.laboratorio_individual"></EstadisticaA>
            </v-card>
        </v-col>
        <v-col>
            <v-card
            flat
            max-width="450"
            class="mr-5 mt-5 ml-5"
            >
            <EstadisticaP :lab="this.laboratorio_individual"></EstadisticaP>
            </v-card>
        </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-card flat>
                    <EstadisticaT :lab="this.laboratorio_individual"></EstadisticaT>
                </v-card>
            </v-col>
        </v-row>
    </v-card>
    <v-card v-else>
      <v-card-text>
        <h3 class="primario--text text-md-left mt-5">Este laboratorio aún no ha sido calificado</h3>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
import EstadisticaT from '@/components/Alumnos/EstadisticaT'
import EstadisticaA from '@/components/Alumnos/EstadisticaA'
import EstadisticaP from '@/components/Alumnos/EstadisticaP'
axios.defaults.baseURL = extraConfig.backPath
export default {
  data: () => ({
    laboratorio_individual: {},
    loading: false
  }),
  components: {
    EstadisticaA, EstadisticaP, EstadisticaT
  },
  methods: {
    getNotasLaboratorio () {
      const path = `/api/estadistica_notas_x_laboratorio/${this.idLab}/`
      axios.get(path).then((response) => {
        this.laboratorio_individual = response.data
        console.log(this.idLab)
        console.log(this.laboratorio_individual.laboratorio_sin_empezar)
        console.log(this.laboratorio_individual.laboratorio_corregido)
        this.loading = true
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    this.getNotasLaboratorio()
  },
  props: ['idLab']
}
</script>
