<template>
  <div v-if="loading">
    <v-col>
      <v-card>
        <v-tabs
          v-model="tab"
          background-color="primary"
          dark
        >
          <v-tab
            v-for="(lab, index) in this.labs" :key="index"
          >
            {{ lab.nombre }}
          </v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab">
          <v-tab-item
            v-for="(lab, index) in this.labs" :key="index"
          >
            <EstadisticaxLab :idLab="lab.id"></EstadisticaxLab>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-col>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
import EstadisticaxLab from '@/components/Alumnos/EstadisticaNotasxLab'
axios.defaults.baseURL = extraConfig.backPath
export default {
  data: () => ({
    laboratoriosTodos: {},
    labs: [],
    laboratorio_individual: {},
    loading: false,
    tab: null
  }),
  components: {
    EstadisticaxLab
  },
  methods: {
    getLaboratorios () {
      if (localStorage.getItem('id')) {
        this.id_horario = localStorage.id
      }
      const path = `/api/fases_laboratorios_por_horario/${this.id_horario}/`
      axios.get(path).then((response) => {
        this.laboratoriosTodos = response.data
        for (let m = 0; m < this.laboratoriosTodos.laboratorios.length; m++) {
          let row = {}
          row['id'] = this.laboratoriosTodos.laboratorios[m].id
          row['nombre'] = this.laboratoriosTodos.laboratorios[m].nombre
          this.labs.push(Object.assign({}, row))
          this.loading = true
        }
      })
        .catch((error) => {
          console.log(error)
        })
    },
    handleClick (tab, event) {
      // console.log(tab, event)
    }
  },
  created () {
    this.getLaboratorios()
  }
}
</script>
