<template>
    <div>
        <v-container flat>
            <v-row>
                <v-col cols="3"></v-col>
                <v-col cols="2" class="primario white--text font-weight-medium text-center">Nota mínima</v-col>
                <v-col cols="2" class="primario white--text font-weight-medium text-center">Nota máxima</v-col>
                <v-col cols="2" class="primario white--text font-weight-medium text-center">Media</v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
                <v-col cols="3"> </v-col>
                <v-col cols="2" class="grey lighten-5 font-weight-medium text-center">{{this.lab.puntaje_min}}</v-col>
                <v-col cols="2" class="grey lighten-5 font-weight-medium text-center">{{this.lab.puntaje_max}}</v-col>
                <v-col cols="2" class="grey lighten-5 font-weight-medium text-center">{{this.lab.media}}</v-col>
            </v-row>
            <v-row>
                <v-col cols="3"> </v-col>
                <v-col class="primario white--text font-weight-medium text-center" cols="2">
                    Asistentes
                </v-col>
                <v-col class="grey lighten-5 font-weight-medium text-center" cols="1">
                    {{this.lab.total_estudiantes - this.lab.cant_alumnos_no_asistentes}}
                </v-col>

            </v-row>
            <v-row>
                <v-col cols="3"> </v-col>
                <v-col class="primario white--text font-weight-medium text-center" cols="2">
                    Falta
                </v-col>
                <v-col class="grey lighten-5 font-weight-medium text-center" cols="1">
                    {{this.lab.cant_alumnos_no_asistentes}}
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="3"> </v-col>
                <v-col class="primario white--text font-weight-medium text-center" cols="2">
                    Total
                </v-col>
                <v-col class="grey lighten-5 font-weight-medium text-center" cols="1">
                    {{this.lab.total_estudiantes}}
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
  props: ['lab']
}
</script>
