<template>
  <div>
    <v-list>
        <v-list-item
          v-for="(item, i) in items.fases"
          :key="i"
        >
        <div v-if="estado_fase(item.fecha_ini, item.fecha_fin, item.hora_ini, item.hora_fin) === 'pasado'">
          <router-link style="text-decoration: none" :to="{ name: 'RevisarPreguntasAlumno',
          params: {id_lab: item.laboratorio, id_fase: item.id,
          labNombre: items.nombre,
          faseNombre: item.nombre,
          fasePeso: item.peso}}"
          >
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  dark
                  width="800"
                  max-width="1080"
                  min-width="400"
                  left
                  block
                  outlined
                  color="orange darken-3"
                  v-on="on">
                  <span>{{ item.nombre }}</span>
                  <v-divider></v-divider>
                  <v-icon>mdi-eye</v-icon>
                </v-btn>
              </template>
              <span>FASE FINALIZADA - Revisar</span>
              <v-icon>mdi-eye</v-icon>
            </v-tooltip>
          </router-link>
        </div>
        <div v-if="estado_fase(item.fecha_ini, item.fecha_fin, item.hora_ini, item.hora_fin) === 'presente' && (item.num_intentos_rendidos < item.num_intentos)">
          <router-link
          style="text-decoration: none" :to="{ name: 'LaboratorioFase',
          params: {
          labNombre: items.nombre,
          id_lab: item.laboratorio,
          id_fase: item.id,
          faseNombre: item.nombre,
          fasePeso: item.peso,
          idEstudianteFase: item.id_estudiante_fase,
          numeroIntentosRendidos: item.num_intentos_rendidos
          }}"
          >
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  @click="marcarAsistencia(item.id)"
                  dark
                  width="800"
                  max-width="1080"
                  min-width="400"
                  left
                  block
                  outlined
                  color="success"
                  v-on="on">
                  <span>{{ item.nombre }}</span>
                  <v-divider></v-divider>
                  <v-icon>mdi-lock-open-variant</v-icon>
                </v-btn>
              </template>
              <span>FASE DISPONIBLE <br></span>
              <span>Peso de la fase:  {{item.peso}}</span>
              <span>Cantidad de Preguntas:  {{item.num_preguntas_total}}<br></span>
              <span>Fecha de inicio: {{item.hora_ini}} {{item.fecha_ini}} <br></span>
              <span>Fecha de finalización: {{item.hora_fin}} {{item.fecha_fin}} <br></span>
              <span>Intentos realizados: {{item.num_intentos_rendidos}}<br></span>
              <span>Intentos permitidos: {{item.num_intentos}}<br></span>
              <v-row>
                <v-divider></v-divider>
                <span>clic en la fase para INGRESAR</span>
              </v-row>
            </v-tooltip>
          </router-link>
        </div>
        <div v-if="estado_fase(item.fecha_ini, item.fecha_fin, item.hora_ini, item.hora_fin) === 'presente' && (item.num_intentos_rendidos >= item.num_intentos)">
          <router-link style="text-decoration: none" :to="{ name: 'RevisarPreguntasAlumno',
          params: {id_lab: item.laboratorio, id_fase: item.id,
          labNombre: items.nombre,
          faseNombre: item.nombre,
          fasePeso: item.peso}}"
          >
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  dark
                  width="800"
                  max-width="1080"
                  min-width="400"
                  left
                  block
                  outlined
                  color="orange darken-3"
                  v-on="on">
                  <span>{{ item.nombre }}</span>
                  <v-divider></v-divider>
                  <v-icon>mdi-lock</v-icon>
                </v-btn>
              </template>
              <span>FASE BLOQUEADA - Número de intentos = 0 </span>
            </v-tooltip>
          </router-link>
        </div>
        <div v-if="estado_fase(item.fecha_ini, item.fecha_fin, item.hora_ini, item.hora_fin) === 'futuro'">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                dark
                width="800"
                max-width="1080"
                min-width="400"
                left
                block
                outlined
                color="light-blue accent-4"
                v-on="on">
                <span>{{ item.nombre }}</span>
                <v-divider></v-divider>
                <v-icon>mdi-lock</v-icon>
              </v-btn>
            </template>
            <span>FASE BLOQUEADA - Fecha de inicio: {{item.hora_ini}} {{item.fecha_ini}} </span>
          </v-tooltip>
        </div>
        </v-list-item>
    </v-list>
    <h2>Lista de documentos</h2>
    <v-list v-if="items.guias_doc.length !== 0">
      <v-list-item v-for="(item,i) in items.guias_doc" :key="i">
        <v-row>
          <v-col md="4">
             <span @click="openFile(item)">{{ getNombre(item) }}</span>
          </v-col>
          </v-row>
      </v-list-item>
    </v-list>
    <span v-else> No hay documentos</span>
    <v-spacer></v-spacer>
    <v-spacer></v-spacer>
    <h2>Lista de Guias</h2>
    <v-list v-if="items.guias_teoricas.length !== 0">
      <v-list-item v-for="(item,i) in items.guias_teoricas" :key="i">
        <v-row>
          <v-col md="4">
             <span @click="openGuia(item)" >{{ item.titulo }}</span>
          </v-col>
          </v-row>
      </v-list-item>
    </v-list>
    <span v-else> No hay guias</span>
    <v-divider class="mt-5"></v-divider>
    <v-dialog v-model="dialogGuia" max-width="800px">
          <v-card>
              <v-card-title> {{this.tituloGuia}}</v-card-title>
                <vue-editor v-model="richtextGuia" style="padding:10px" :disabled="true"></vue-editor>
              <v-card-actions>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="dialogGuia=false"
                >
                    Cerrar
                </v-btn>
                </v-card-actions>
          </v-card>
      </v-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
import { VueEditor } from 'vue2-editor'
axios.defaults.baseURL = extraConfig.backPath
export default {
  components: {
    VueEditor
  },
  data: () => ({
    onlyread: false,
    dialogGuia: false,
    richtextGuia: null,
    tituloGuia: null,
    fases: null,
    dato: []
  }),
  methods: {
    openGuia (item) {
      this.dialogGuia = true
      this.onlyread = true
      this.tituloGuia = item.titulo
      this.richtextGuia = item.rich_text
    },
    openFile (item) {
      const path = ''
      window.open(path + item.documento, '_blank')
    },
    getNombre (item) {
      const splitted = item.documento.split('/')
      const len = splitted.length
      return splitted[len - 1]
    },
    marcarAsistencia (idFase) {
      const formData = new FormData()
      formData.append('id_fase', idFase)
      const path = `/api/marcar_asistencia/`
      axios.put(path, formData, {
        headers: {
          Authorization: 'Bearer ' + this.$store.state.token // the token is a variable which holds the token
        }
      }).then((response) => {
        console.log('Se marco asistencia')
        console.log(response)
      })
        .catch((error) => {
          console.log(error)
        })
    },
    // eslint-disable-next-line
    estado_fase (fecha_ini, fecha_fin, hora_ini, hora_fin) {
      return 'presente'
      /* const rand = Math.floor(Math.random() * 3) + 1
      if (rand === 1) {
        return 'pasado'
      }
      if (rand === 2) {
        return 'presente'
      }
      return 'futuro' */

      // eslint-disable-next-line
      const today = new Date()
      const date = today.getFullYear() + '-' + ((today.getMonth() < 10) ? ('0' + (today.getMonth() + 1)) : today.getMonth() + 1) + '-' + ((today.getDate() < 10) ? ('0' + today.getDate()) : today.getDate())
      /* alert(fecha_fin) */
      console.log(date)
      console.log(fecha_fin)
      // eslint-disable-next-line
      if (date > fecha_fin) {
        // console.log('Fecha Actual: [', date,'] > Fecha Fin: [',fecha_fin ,']')
        return 'pasado'
      }
      // eslint-disable-next-line
      if (date < fecha_ini) {
        // console.log('Fecha Actual: [', date,'] < Fecha Ini: [',fecha_ini ,']')
        return 'futuro'
      }
      // Si llegamos aqui es porque: fecha_ini<=date && date<=fecha_fin
      // eslint-disable-next-line
      if (date > fecha_ini && date < fecha_fin) {
        // console.log('Fecha Actual: [', date,'] < Fecha Fin: [',fecha_fin ,']')
        return 'presente'
      }
      // Es este punto hay tres casos: Fecha===Fecha_ini || FEcha === FEcha_fin || fecha ===fecha_ini===fecha_fin
      const time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds()
      /* alert(time) */
      console.log(time)
      console.log(hora_ini)
      console.log(hora_fin)
      // Primero verificaremos si el lab inicia y termina en un solo día
      // eslint-disable-next-line
      if (date === fecha_ini && date === fecha_fin) {
        // eslint-disable-next-line
        if (time > hora_fin) {
          // console.log('Hora Actual: [', time,'] <= Hora Fin: [',hora_fin ,']')
          return 'pasado'
        }
        // eslint-disable-next-line
        if (time < hora_ini) {
          // console.log('Hora Actual: [', time,'] <= Hora Ini: [',hora_ini ,']')
          return 'futuro'
        }
        // Si llegamos aqui es porque: hora_ini<=time && time<=hora_fin
        // console.log('Hora Ini: [',hora_ini ,'] <=','Hora Actual: [', time,'] <= Hora Fin: [',hora_fin ,']')
        return 'presente'
      }
      // eslint-disable-next-line
      if (date === fecha_ini) {
        // eslint-disable-next-line
        if (time < hora_ini) {
          // console.log('Hora Actual: [', time,'] <= Hora Ini: [',hora_ini ,']')
          return 'futuro'
        }
      }
      // eslint-disable-next-line
      if (date === fecha_fin) {
        // eslint-disable-next-line
        if (time > hora_fin) {
          // console.log('Hora Actual: [', time,'] <= Hora Fin: [',hora_fin ,']')
          return 'pasado'
        }
      }
      // Si llegamos aqui es porque: hora_ini<=time && time<=hora_fin
      // console.log('Hora Ini: [',hora_ini ,'] <=','Hora Actual: [', time,'] <= Hora Fin: [',hora_fin ,']')
      return 'presente'
    }
  },
  props: {
    items: Object
  }
}
</script>
