<template>
  <div>
    <template>
      <v-row justify="center">
        <v-expansion-panels accordion>
          <v-expansion-panel
            v-for="(items, laboratorio) in laboratoriosFases.laboratorios"
            :key="laboratorio.id"
          >
            <v-expansion-panel-header disable-icon-rotate class="primario--text font-weight-medium text-h5 px-15">
              {{ items.nombre }}
            </v-expansion-panel-header>
            <v-expansion-panel-content class="px-15">
              <FasexLaboratorio v-bind:items="items"></FasexLaboratorio>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-row>
    </template>
    <v-spacer></v-spacer>
    <v-divider class="mt-15"></v-divider>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
import FasexLaboratorio from '@/components/Alumnos/FasexLaboratorio'
axios.defaults.baseURL = extraConfig.backPath
export default {
  data: () => ({
    id_horario: '',
    laboratoriosFases: {},
    dato: []
  }),
  methods: {
    getLaboratorios () {
      if (localStorage.getItem('id')) {
        this.id_horario = localStorage.id
      }
      const path = `/api/fases_laboratorios_por_horario_token/${this.id_horario}/`
      axios.get(path, {
        headers: {
          Authorization: 'Bearer ' + this.$store.state.token // the token is a variable which holds the token
        }
      }).then((response) => {
        this.laboratoriosFases = response.data
        console.log(response)
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    this.getLaboratorios()
  },
  components: {
    FasexLaboratorio
  }
}
</script>
