<template>
  <div>
    <v-container v-if="loading">
      <v-card v-for="(notas, index) in notasLaboratorio[0].notas_laboratorios" :key="index" class="mt-3">
      <v-card-title class="primario--text font-weight-medium text-uppercase">
        {{ notas.nombre_laboratorio }}
        <v-spacer></v-spacer>
        {{ notas.nota_laboratorio.toFixed(0) }}
      </v-card-title>
      <!--v-list v-if="getNotasFases(this.user,notas.id_laboratorio)"
        class="primario--text font-weight-medium text-uppercase"
      >
      <v-list-item
        v-for="(item, i) in notasFases"
        :key="i"
      >
        <v-list-item-content>
          <v-list-item-title>{{ item }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      </v-list-->
      </v-card>
      <h2 class="mt-5">Promedio final: {{ notasLaboratorio[0].nota_final.toFixed(0) }}</h2>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'Notas',
  data () {
    return {
      user: '',
      notasLaboratorio: {},
      nota: '',
      codigo: '',
      notasFases: '',
      id_horario: '',
      loading: false
    }
  },
  methods: {
    notaNull (item) {
      if (item === null) {
        this.nota = '__'
      } else {
        this.nota = item
      }
      return true
    },
    getNotas () {
      if (localStorage.user) {
        this.user = localStorage.user
      }
      if (localStorage.id) {
        this.id_horario = localStorage.id
      }
      const path = `/listaNotasLabsDelAlumno/${this.id_horario}/${this.user}/`
      axios.get(path).then((response) => {
        this.notasLaboratorio = response.data
        console.log(this.notasLaboratorio[0].notas_laboratorios)
        this.loading = true
        /* for (let m = 0; m < this.notasLaboratorio[0].notas_laboratorios.length; m++) {
          if (this.notasLaboratorio[0].notas_laboratorios[m].nota_laboratorio === null) {
            this.notasLaboratorio[0].notas_laboratorios[m].nota_laboratorio = '__'
          }
        }
        if (this.notasLaboratorio[0].nota_final === null) {
          this.notasLaboratorio[0].nota_final = '____'
        } */
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getNotasFases (estudiante, laboratorio) {
      const path = `/listaNotasLabsDelAlumno/${estudiante}/${laboratorio}/`
      axios.get(path).then((response) => {
        this.notasFases = response.data
      })
        .catch((error) => {
          console.log(error)
        })
      return true
    }
  },
  created () {
    this.getNotas()
  }
}
</script>
