<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="alumnos"
      :search="search"
      class="primario--text font-weight-medium text-uppercase elevation-1"
    >
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title class="primario--text">Añadir Profesor(es)</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialogAgregar" max-width="500px">
            <v-card>
              <v-card-title class="headline">¿Está seguro que desea agregar al profesor?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeAgregar">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="agregarItemConfirm">Aceptar</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          @click="agregarItem(item)"
        >
          mdi-account-plus
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="initialize"
        >
          Aún no hay usuarios
        </v-btn>
      </template>
    </v-data-table>
    <v-snackbar
        v-model="snack"
        :timeout="3000"
        :color="snackColor"
      >
        {{ snackText }}

        <template v-slot:action="{ attrs }">
          <v-btn
            v-bind="attrs"
            text
            @click="snack = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
  </div>

</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'AgregarEstudiantes',
  /* eslint-disable */
  data: () => ({
    snack: false,
    snackColor: '',
    snackText: '',
    registrado: false,
    regAl: false,
    regJp: false,
    regProf: false,
    dialog: false,
    dialogAgregar: false,
    alumnos: [],
    profRegistrados: [],
    dato: [],
    search: '',
    headers: [
      { text: 'Usuario', value: 'username' },
      { text: 'Email', value: 'email' },
      { text: 'Añadir', value: 'actions', sortable: false }
    ],
    editedIndex: -1,
    editedItem: {
      codigo: '',
      nombre: '',
      especialidad: 0
    },
    auxItem: {
      codigo: '',
      nombre: '',
      especialidad: 0
    },
    defaultItem: {
      codigo: '',
      nombre: '',
      especialidad: 0
    },
    horario_prof: {
      /* nota_final: 0, */
      horario: 0,
      profesor: 0
    },
    existe: false
  }),
  methods: {
    getAlumnos () {
      const path = '/api/user/'
      axios.get(path).then((response) => {
        this.alumnos = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    editItem (item) {
      this.editedIndex = this.alumnos.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    agregarItem (item) {
      this.editedIndex = this.alumnos.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogAgregar = true
    },
    agregarItemConfirm () {
      this.horario_prof.horario = this.$route.params.id
      this.horario_prof.profesor = this.editedItem.id
      const path1 = `/api/horario/${this.$route.params.id}/`
      axios.get(path1).then((response) => {
        this.profRegistrados = response.data
        this.existe = false
        console.log(this.horario_prof.profesor)
        for (let i = 0; i < this.profRegistrados.profesores.length; i++) {
          if (this.profRegistrados.profesores[i] === this.horario_prof.profesor) {
            console.log('El profesor ya está registrado')
            this.snackText = 'El profesor ya se encuentra registrado'
            this.snackColor = 'error'
            this.snack = true
            this.existe = true
            break
          }
          console.log(this.profRegistrados.profesores[i])
        }
        if (!this.existe) {
          console.log(this.existe)
          this.existe = false
          for (let j = 0; j < this.profRegistrados.estudiantes.length; j++) {
            if (this.profRegistrados.estudiantes[j] === this.horario_prof.profesor) {
              console.log('El usuario ha sido registrado como estudiante')
              this.snackText = 'El usuario ya se encuentra registrado como estudiante'
              this.snackColor = 'error'
              this.snack = true
              this.existe = true
              break
            }
          }
          for (let j = 0; j < this.profRegistrados.jefes_practica.length; j++) {
            if (this.profRegistrados.jefes_practica[j] === this.horario_prof.profesor) {
              console.log('El usuario ha sido registrado como jp')
              this.snackText = 'El usuario ya se encuentra registrado como jp'
              this.snackColor = 'error'
              this.snack = true
              this.existe = true
              break
            }
          }
          if (!this.existe) {
            console.log(this.existe)
            const path2 = '/api/horario_profesor/'
            axios.post(path2, this.horario_prof).then((response) => {
              this.dato = response.data
              this.snackText = 'Se registro exitosamente al profesor'
              this.snackColor = 'success'
              this.snack = true
            })
              .catch((error) => {
                console.log(error)
                this.snackText = 'Ocurrio un error al registrar al profesor'
                this.snackColor = 'error'
                this.snack = true
              })
          }
        }
      })
        .catch((error) => {
          console.log(error)
        })
      this.closeAgregar()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeAgregar () {
      this.dialogAgregar = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo usuario' : 'Editar usuario'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogAgregar (val) {
      val || this.closeAgregar()
    }
  },
  created () {
    this.getAlumnos()
  }
}
</script>
