<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="alumnos"
      :search="search"
      class="primario--text font-weight-medium text-uppercase elevation-1"
    >
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title class="primario--text">Añadir estudiantes</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialogAgregar" max-width="500px">
            <v-card>
              <v-card-title class="headline">¿Está seguro que desea agregar al alumno?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeAgregar">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="agregarItemConfirm">Aceptar</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <!-- <v-alert type="success" :value="registrado">
          Se registro al estudiante con exito
        </v-alert>
        <v-alert type="error" :value="regJp">
          El participante ya existe como jp
        </v-alert>
        <v-alert type="error" :value="regAl">
          El participante ya esta registrado
        </v-alert>
        <v-alert type="error" :value="regProf">
          El participante ya exite como profesor
        </v-alert> -->
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          @click="agregarItem(item)"
        >
          mdi-account-plus
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="initialize"
        >
          Reset
        </v-btn>
      </template>
    </v-data-table>
    <v-snackbar
        v-model="snack"
        :timeout="3000"
        :color="snackColor"
      >
        {{ snackText }}

        <template v-slot:action="{ attrs }">
          <v-btn
            v-bind="attrs"
            text
            @click="snack = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'AgregarEstudiantes',
  /* eslint-disable */
  data: () => ({
    snack: false,
    snackColor: '',
    snackText: '',
    registrado: false,
    regJp: false,
    regProf: false,
    regAl: false,
    dialog: false,
    dialogAgregar: false,
    alumnos: [],
    alRegistrados: [],
    dato: [],
    search: '',
    headers: [
      { text: 'Usuario', value: 'username' },
      { text: 'Email', value: 'email' },
      { text: 'Añadir', value: 'actions', sortable: false }
    ],
    editedIndex: -1,
    editedItem: {
      codigo: '',
      nombre: '',
      especialidad: 0
    },
    auxItem: {
      codigo: '',
      nombre: '',
      especialidad: 0
    },
    defaultItem: {
      codigo: '',
      nombre: '',
      especialidad: 0
    },
    horario_est: {
      nota_final: 0,
      horario: 0,
      estudiante: 0
    },
    existe: false
  }),
  methods: {
    getAlumnos () {
      const path = '/api/user/'
      axios.get(path).then((response) => {
        this.alumnos = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    editItem (item) {
      this.editedIndex = this.alumnos.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    agregarItem (item) {
      this.editedIndex = this.alumnos.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogAgregar = true
    },
    agregarItemConfirm () {
      /* this.horario_est.horario = this.$route.params.id_horario */
      this.horario_est.horario = this.$route.params.id
      /* this.horario_est.horario = 1 */
      this.horario_est.estudiante = this.editedItem.id
      /* const path1 = `/api/horario/${this.$route.params.id_horario}/` */
      const path1 = `/api/horario/${this.$route.params.id}/`
      /* const path1 = `/api/horario/1/` */
      axios.get(path1).then((response) => {
        this.alRegistrados = response.data
        this.existe = false
        console.log(this.horario_est.estudiante)
        for (let i = 0; i < this.alRegistrados.estudiantes.length; i++) {
          if (this.alRegistrados.estudiantes[i] === this.horario_est.estudiante) {
            console.log('El estudiante ya está registrado')
            /* alert('El alumno ya esta registrado') */
            /* this.regAl = true
            setTimeout(() => this.regAl = false, 3000) */
            this.snackText = 'El estudiante ya se encuentra registrado'
            this.snackColor = 'error'
            this.snack = true
            this.existe = true
            break
          }
          console.log(this.alRegistrados.estudiantes[i])
        }
        if (!this.existe) {
          console.log(this.existe)
          this.existe = false
          for (let j = 0; j < this.alRegistrados.jefes_practica.length; j++) {
            if (this.alRegistrados.jefes_practica[j] === this.horario_est.estudiante) {
              console.log('El usuario ha sido registrado como jp')
              /* alert('El alumno ya esta registrado como JP') */
              /* this.regJp = true
              setTimeout(() => this.regJp = false, 3000) */
              this.snackText = 'El usuario se encuentra como jp'
              this.snackColor = 'error'
              this.snack = true
              this.existe = true
              break
            }
          }
          for (let j = 0; j < this.alRegistrados.profesores.length; j++) {
            if (this.alRegistrados.profesores[j] === this.horario_est.estudiante) {
              console.log('El usuario ha sido registrado como profesor')
              /* alert('El usuario ha sido registrado como profesor') */
              /* this.regProf = true
              setTimeout(() => this.regProf = false, 3000) */
              this.snackText = 'El usuario se encuentra como profesor'
              this.snackColor = 'error'
              this.snack = true
              this.existe = true
              break
            }
          }
          if (!this.existe) {
            console.log(this.existe)
            const path2 = '/api/horario_estudiante/'
            axios.post(path2, this.horario_est).then((response) => {
              this.dato = response.data
              /* alert('Se registro al usuario como estudiante con exito') */
              /* this.registrado = true
              setTimeout(() => this.registrado = false, 3000) */
              this.snackText = 'El usuario se registro como estudiante correctamente'
              this.snackColor = 'success'
              this.snack = true
            })
              .catch((error) => {
                console.log(error)
                this.snackText = 'Error al ingresar al usuario'
                this.snackColor = 'error'
                this.snack = true
              })
          }
        }
      })
        .catch((error) => {
          console.log(error)
        })
      this.closeAgregar()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeAgregar () {
      this.dialogAgregar = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo usuario' : 'Editar usuario'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogAgregar (val) {
      val || this.closeAgregar()
    }
  },
  created () {
    this.getAlumnos()
  }
}
</script>
