<template>
    <div>
        <v-navigation-drawer  class="primario white--text center" dark
        expand-on-hover
        permanent
        >
            <v-card class="primario white--text center" dark>
                <v-divider></v-divider>
                <v-list dense>
                    <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    :to="item.link" link
                    >
                    <v-list-item-icon>
                        <v-icon class="mt-5">{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title class="mt-5">{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-navigation-drawer>
    </div>
</template>

<script>
export default {
  data () {
    return {
      items: [
        { title: 'INICIO', icon: 'mdi-home', link: '/AdminInicio' }
        /* { title: 'CARGAR CURSOS', icon: 'mdi-book-open-variant' } */
      ],
      mini: true
    }
  }
}
</script>
