<template>
    <v-container>
        <v-data-table
            :headers="headers"
            :items="estudiantes"
            :search="search"
            item-key="nombre"
            class="primario--text font-weight-medium text-uppercase elevation-1"
        >
            <template v-slot:top>

            <v-toolbar
                flat
            >
                <v-toolbar-title>Administración de Estudiantes</v-toolbar-title>
                <v-divider
                class="mx-4"
                inset
                vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <template>
                  <v-btn
                      color="#1B4965"
                      dark
                      class="mb-2"
                      :to="{name: 'AgregarParticipantes'}"
                  >
                      Nuevo participante
                  </v-btn>
                </template>
            </v-toolbar>
            </template>
            <template v-slot:item.estudiante="{ item }">
            {{ (usuarios.find( estudiante => estudiante.id === item.estudiante )).username}}
            </template>
            <template v-slot:no-data>
            <v-btn
                color="primary"
                @click="initialize"
            >
                Aún no hay usuarios
            </v-btn>
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'Estudiantes',

  data: () => ({
    usuarios: [],
    estudiantes: [],
    search: '',
    headers: [
      { text: 'Email', value: 'estudiante' }
    ]
  }),
  methods: {
    // getFacultades para cambiar los index
    getUsuarios () {
      const path = '/api/user/'
      axios.get(path).then((response) => {
        this.usuarios = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getEstudiantes () {
      const path = `/api/horario_estudiante_2/4/`
      axios.get(path).then((response) => {
        this.estudiantes = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    this.getUsuarios()
    this.getEstudiantes()
  }
}
</script>
