<template >
  <div>
    <v-container fluid>
        <v-card>
          <v-card-title>
          <h1>Mis cursos</h1>
          </v-card-title>
        </v-card>
        <template>
          <v-card>
            <v-card-title>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="cursos"
              :search="search"
              sort-by="codigo"
              class="primario--text font-weight-medium text-uppercase elevation-1"
            >
            <template v-slot:item.actions="{ item }">
              <router-link :to="{ name: 'HorarioxCurso', params: {id: item.id , nombre: item.nombre, codigo: item.codigo}}">
                <v-icon
                small
                class="mr-2"
                @click="ingresar"
                >
                mdi-pencil
                </v-icon>
              </router-link>
            </template>
            </v-data-table>
          </v-card>
        </template>
        <br>
        <br>

        <!-- ============================================================================================= -->
        <!-- ============================================================================================= -->
        <v-row dense>
          <v-dialog v-model="dialogError2" max-width="500px">
            <v-card>
              <v-card-title class="headline">ERROR!</v-card-title>
              <v-container>
              <span>No se guardaron los siguientes registros</span>
              </v-container>
              <v-list-item
                v-for="(item, i) in regNoGuardados"
                :key="i"
              >
                <v-list-item-content>
                  {{i+1}}{{'.- ' + item}}
                </v-list-item-content>
              </v-list-item>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeError">Cerrar</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogError" max-width="500px">
            <v-card>
              <v-card-title class="headline">ERROR!</v-card-title>
              <v-container>
              <span>No se guardaron los siguientes registros</span>
              </v-container>
              <v-data-table
                :headers="headersNoGuargados"
                :items="regNoGuardados"
                :items-per-page="10"
                class="elevation-1"
              ></v-data-table>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeError">Cerrar</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogSuccess" max-width="500px">
            <v-card>
              <v-card-title class="headline">Registros guardados correctamente!</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeSuccess">Cerrar</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog
            v-model="dialog3"
            max-width="400px"
            >
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                color="#1B4965"
                dark
                class="mb-2 ml-16"
                v-bind="attrs"
                v-on="on"
                >
                CARGA MASIVA CURSOS
                </v-btn>
            </template>
            <v-card>
                <v-card-title>
                <span class="headline">Carga Masiva</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                    <v-row>
                      <v-col>
                        <v-file-input
                          v-model="file"
                          accept=".csv"
                          placeholder="Seleccione el archivo .CSV"
                          label="Archivo"
                        ></v-file-input>
                    </v-col>
                    </v-row>
                </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="close_CM"
                >
                    Cancelar
                </v-btn>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="guardar_CM2"
                >
                    Guardar
                </v-btn>
                </v-card-actions>
            </v-card>
          </v-dialog>
          <ExcelCursos/>
          <v-spacer></v-spacer>
          <v-dialog
            v-model="dialog2"
            max-width="400px"
            >
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                color="#1B4965"
                dark
                class="mb-2 mr-10"
                v-bind="attrs"
                v-on="on"
                >
                CARGA MASIVA HORARIOS
                </v-btn>
            </template>
            <v-card>
                <v-card-title>
                <span class="headline">Carga Masiva</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                    <v-row>
                      <v-col>
                        <v-file-input
                          v-model="file"
                          accept=".csv"
                          placeholder="Seleccione el archivo .CSV"
                          label="Archivo"
                        ></v-file-input>
                    </v-col>
                    </v-row>

                </v-container>
                </v-card-text>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="close_CM"
                >
                    Cancelar
                </v-btn>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="guardar_CM"
                >
                    Guardar
                </v-btn>
                </v-card-actions>
            </v-card>
          </v-dialog>
          <ExcelHorarios/>
          <v-spacer></v-spacer>
            <v-row justify="center">

                <v-dialog
                  v-model="dialogCursoNuevo"
                  persistent
                  max-width="600px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      class="mb-2 ml-10 mr-16"
                      color="primary"
                      dark
                      v-bind="attrs"
                      v-on="on"
                    >
                      Añadir Curso
                    </v-btn>
                  </template>

                  <v-card>
                    <v-card-title>
                      <span class="headline">Nuevo Curso</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12">
                              <v-text-field
                                v-model="newItem.nombre"
                                label="Nombre Curso*"
                                required
                                :rules="rulesNombre"
                                counter="100"
                                maxlenght="100"
                              ></v-text-field>

                          </v-col>
                          <v-col cols="12">
                              <v-text-field
                                v-model="newItem.codigo"
                                label="Codigo Curso*"
                                required
                                :rules="rulesCodigo"
                                counter="6"
                              ></v-text-field>
                          </v-col>
                          <v-col
                            cols="12"
                            sm="12"
                          >
                            <v-select
                            v-model="newItem.especialidad"
                            :items="especialidades"
                            label="Elija una especialidad"
                            item-text="nombre"
                            item-value="id"
                            required
                            hide-selected
                            solo
                            ></v-select>
                          </v-col>
                        </v-row>
                      </v-container>
                      <small>*Indica que estos campos son requeridos</small>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="closeNewCurso"
                      >
                        Close
                      </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="save"
                          v-if="newItem.codigo.length <= 6 && newItem.nombre.length <= 100 && newItem.codigo.length > 0 && newItem.nombre.length > 0"
                        >
                          Save
                        </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </v-row>
        </v-row>
    </v-container>
    <v-snackbar
        v-model="snack"
        :timeout="3000"
        :color="snackColor"
      >
        {{ snackText }}

        <template v-slot:action="{ attrs }">
          <v-btn
            v-bind="attrs"
            text
            @click="snack = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
  </div>
</template>
<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
import ExcelCursos from '@/components/Administrador/PlantillasDeCargaMasivaExcel/ExcelCursos'
import ExcelHorarios from '@/components/Administrador/PlantillasDeCargaMasivaExcel/ExcelHorarios'
axios.defaults.baseURL = extraConfig.backPath

export default {
  components: {
    ExcelCursos,
    ExcelHorarios
  },
  name: 'ListarCursos',
  /* eslint-disable */
  data () {
    return {
      snack: false,
      snackColor: '',
      snackText: '',
      rulesCodigo: [v => v.length <= 6 || 'No debe haber más de 6 caracteres',
                    v => !!v || 'El codigo es obligatorio'],
      rulesNombre: [v => v.length <= 100 || 'No puede haber más de 100 caracteres',
                    v => !!v || 'El nombre es obligatorio'],
      search: '',
      editedItem: {
        name: 'aea',
        calories: 25
      },
      headers: [
        {
          text: 'Codigo',
          align: 'start',
          filterable: true,
          value: 'codigo'
        },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Ver', value: 'actions' }
      ],
      especialidades: [],
      dato: {},
      file: null,
      dialogCursoNuevo: false,
      dialogError2: false,
      dialogError: false,
      dialogSuccess: false,
      regNoGuardados: [],
      headersNoGuargados: [],
      dialog2: false,
      dialog3: false,
      cursos: [],
      horarios: [],
      newItem: {
        codigo: '',
        nombre: '',
        especialidad: 1
      },
      auxItem: {}
    }
  },
  methods: {
    ingresar () {
      console.log('hola')
    },
    getCursos () {
      const path = '/api/curso_token/'
      axios.get(path, {
        headers: {
          Authorization: 'Bearer ' + this.$store.state.token // the token is a variable which holds the token
        }
      }).then((response) => {
        this.cursos = response.data
        console.log(this.cursos)
        console.log(this.$store.state.token)
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getEspecialidades () {
      const path = `/api/lista_especialidades_admin/`
      axios.get(path, {
        headers: {
          Authorization: 'Bearer ' + this.$store.state.token // the token is a variable which holds the token
        }
      }).then((response) => {
        this.especialidades = response.data
        console.log(this.especialidades)
      })
        .catch((error) => {
          console.log(error)
        })
    },
    closeNewCurso(){
      this.dialogCursoNuevo = false
      this.newItem.codigo = ''
      this.newItem.nombre = ''
      this.newItem.especialidad = 1
      /* location.reload() */
    },
    save () {
      /* if (this.$v.$invalid) {
        return false
      } */
      this.auxItem = this.newItem
      this.cursos.push(this.newItem)
      const path = '/api/curso/'
      axios.post(path, this.newItem).then((response) => {
        this.dato = response.data
        /* alert("Se agrego el curso con exito") */
        this.newItem.codigo = ''
        this.newItem.nombre = ''
        this.getCursos()

        this.snackText = 'Se registro el curso exitosamente'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          this.snackText = 'Error al registrar el curso'
          this.snackColor = 'error'
          this.snack = true
        })
      this.dialogCursoNuevo = false
    },
    close_CM () {
      this.dialog2 = false
      this.dialog3 = false
      this.file = null
      this.$nextTick(() => {
      })
    },
    closeError () {
      this.dialogError = false
      this.dialogError2 = false
      this.regNoGuardados = []
      this.$nextTick(() => {
      })
    },
    closeSuccess () {
      this.dialogSuccess = false
      this.$nextTick(() => {
      })
    },
    guardar_CM () {
      const formData = new FormData()
      formData.append('archivo', this.file)
      axios.post('/api/carga_masiva_horario/',
        formData, {headers: {
          'Content-Type': 'multipart/form-data'}
        }).then((res) => {
        console.log(res)
        this.regNoGuardados = res.data
        this.close_CM()
        this.getCursos()
        if (this.regNoGuardados.length !== 0) {
          this.headersNoGuargados = [
            {text: 'Codigo', value: 'curso-codigo'},
            {text: 'Ciclo', value: 'horario-ciclo'},
            {text: 'Error', value: 'error'}
          ]
          this.dialogError = true
        } else {
          this.dialogSuccess = true
        }
        // location.reload()
      })
    },
    guardar_CM2 () {
      const formData = new FormData()
      formData.append('archivo', this.file)
      axios.post('/api/carga_masiva_curso/',
        formData, {headers: {
          'Content-Type': 'multipart/form-data'}
        }).then((res) => {
        console.log(res)
        this.regNoGuardados = res.data.message
        this.close_CM()
        this.getCursos()
        if (this.regNoGuardados.length !== 0) {
          /* this.headersNoGuargados = [
            { text: 'Codigo', value: 'curso-codigo'},
            { text: 'Ciclo', value: 'horario-ciclo'},
            { text: 'Error', value: 'error'}
          ] */
          this.dialogError2 = true
        } else {
          this.dialogSuccess = true
        }
        // location.reload()
      })
    },
    home () {
      this.$router.push('/AdminInicio')
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    }
  },
  created () {
    this.getCursos()
    this.getEspecialidades()
    /* this.getHorarios() */
  },
  props: {
    profesor: Object
  }
}
</script>
