<template > <!-- lang="html" -->
  <div>
    <v-container fluid>
        <v-row>
          <v-col>
            <v-card>
              <v-toolbar flat>
              <v-toolbar-title class="primario--text font-weight-medium">Informacion General</v-toolbar-title>
              <v-spacer></v-spacer>
              </v-toolbar>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="6">
            <v-card>
              <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" width="500px">
              </v-img>
            </v-card>
          </v-col>
          <v-col md="6">
            <v-card>
              <v-card-title>
                <p>Nombre del Curso: {{curso.nombre}}</p>
                <p>Codigo del Curso: {{curso.codigo}}</p>
              </v-card-title>
              <v-card-text>
              </v-card-text>
              <v-card-actions>
                <v-btn @click="dialogEditarCurso = true">Editar</v-btn>
                <v-btn @click="elimCursoDialog = true">Eliminar</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-card>
              <v-toolbar flat>
              <v-toolbar-title class="primario--text font-weight-medium">Horarios</v-toolbar-title>
              <v-spacer></v-spacer>
              </v-toolbar>
            </v-card>
          </v-col>
        </v-row>
        <template>
          <v-card>
            <v-card-title>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="horarios"
              :search="search"
              :sort-by="['ciclo','codigo']"
              update: sort-desc
              class="primario--text font-weight-medium text-uppercase elevation-1"
            >

            <template v-slot:item.actions="{ item }">
              <router-link :to="{ name: 'GestionarHorario', params: {id: item.id}}">
                <v-icon
                small
                class="mr-2"
                @click="ingresar"
                >
                mdi-pencil
                </v-icon>
              </router-link>
            </template>
            </v-data-table>
          </v-card>
        </template>
      <!-- DIALOG PARA NUEVO HORARIO -->
      <!-- ============================================ -->
      <v-dialog
      v-model="dialog"
      max-width="500px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
          color="#1B4965"
          dark
          class="mb-2"
          v-bind="attrs"
          v-on="on"
          >
          Nuevo Horario
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Nuevo Horario</span>
          </v-card-title>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col
                cols="12"

                >
                  <v-text-field
                  v-model="newItem.codigo"
                  label="código"
                  required
                  :rules="rulesHorario"
                  counter="4"
                  maxlenght="4"
                  ></v-text-field>
                </v-col>
                <v-col
                cols="12"

                >
                  <v-text-field
                  v-model="newItem.ciclo"
                  label="ciclo"
                  required
                  :rules="rulesCiclo"
                  counter="6"
                  maxlenght="6"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
              <v-btn
              color="blue darken-1"
              text
              @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
              color="blue darken-1"
              text
              @click="save"
              v-if="newItem.codigo.length <= 4 && newItem.ciclo.length === 6 && newItem.codigo.length > 0"
              >
                Guardar
              </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <template>
        <v-row justify="center">
          <v-dialog
            v-model="elimCursoDialog"
            persistent
            max-width="500"
          >
            <v-card>
              <v-card-title class="headline">
                Advertencia
              </v-card-title>
              <v-card-text>Esta seguro de eliminar el curso?.</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="green darken-5"
                  text
                  @click="elimCursoDialog = false"
                >
                  Cancelar
                </v-btn>
                <v-btn
                  color="green darken-1"
                  text
                  @click="deleteCurso"
                >
                  Si
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </template>
      <template>
        <v-row justify="center">
          <v-dialog
            v-model="dialogEditarCurso"
            persistent
            max-width="600px"
          >
            <v-card>
              <v-card-title>
                <span class="headline">Editar Curso</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editItem.nombre"
                        label="Nombre Curso*"
                        required
                        :rules="rulesNombre"
                        counter="100"
                        maxlenght="100"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editItem.codigo"
                        label="Codigo Curso*"
                        required
                        :rules="rulesCodigo"
                        counter="6"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="dialogEditarCurso = false"
                >
                  Close
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="save2"
                  v-if="editItem.codigo.length <= 6 && editItem.nombre.length > 0 && editItem.codigo.length > 0 && editItem.nombre.length <= 100"
                >
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </template>
    </v-container>
    <v-snackbar
        v-model="snack"
        :timeout="3000"
        :color="snackColor"
      >
        {{ snackText }}

        <template v-slot:action="{ attrs }">
          <v-btn
            v-bind="attrs"
            text
            @click="snack = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'ListarHorarios',
  /* eslint-disable */
  data () {
    return {
      /* search: '',
      headers: [
        {
          text: 'Codigo',
          align: 'start',
          filterable: true,
          value: 'codigo',
        },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Ver', value: 'actions' },
      ], */
      rulesCodigo: [v => v.length <= 6 || 'No debe haber más de 6 caracteres',
                    v => !!v || 'El codigo es obligatorio'],
      rulesNombre: [v => v.length <= 100 || 'No puede haber mas de 100 caracteres',
                    v => !!v || 'El nombre es obligatorio'],
      snack: false,
      snackColor: '',
      snackText: '',
      rulesCiclo: [v => v.length <= 6 || 'Debe haber exactamente 6 caracteres',
                   v => !!v || 'El codigo es obligatorio'],
      rulesHorario: [v => v.length <= 4 || 'Debe haber exactamente 4 caracteres',
                     v => !!v || 'El horario es obligatorio'],
      actualizado: false,
      noactualizado: false,
      dialog: false,
      registrado: false,
      noregistrado: false,
      elimCursoDialog: false,
      dialogEditarCurso: false,
      editItem: {
        codigo: '',
        nombre: '',
        especialidad: 0
      },

      search: '',
      newItem: {
        /* id: 7, */
        codigo: '',
        ciclo: '2020-2',
        num_alumnos: 0,
        num_laboratorios: 0,
        curso: this.$route.params.id/* ,
        estudiantes: [],
        profesores: [],
        jefes_practica: [] */
      },
      dato: {},
      auxItem: {},
      headers: [
        {
          text: 'Horario',
          align: 'start',
          filterable: false,
          value: 'codigo'
        },
        { text: 'Ciclo', value: 'ciclo' },
        { text: 'Ver', value: 'actions' }
      ],
      horarios: [],
      cursos: {},
      curso: {},
      ruta: this.$route.params.id,
      nombreCurso: this.$route.params.nombre,
      codigoCurso: this.$route.params.codigo
    }
  },
  methods: {
    ingresar () {
      console.log('Hola bola')
    },
    getHorarios () {
      /* console.log($route.params.id) */
      const path = `/api/horarios_por_curso/${this.ruta}/`
      axios.get(path).then((response) => {
        /* const kursos = response.data.find( dato => dato.id === $route.params.id) */
        this.cursos = response.data
        this.horarios = this.cursos.horarios
        /* console.log(horarios.codigo) */
        console.log(this.cursos)
      })
        .catch((error) => {
          console.log(error)
        })
    },
    deleteCurso () {
      const path = `/api/curso/${this.ruta}/`
      axios.delete(path).then((response) => {
        location.href = '/AdminInicio'
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getCurso () {
      const path = `/api/curso/${this.ruta}/`
      axios.get(path).then((response) => {
        /* const kursos = response.data.find( dato => dato.id === $route.params.id) */
        this.curso = response.data
        this.editItem = this.curso
        /* console.log(horarios.codigo) */
      })
        .catch((error) => {
          console.log(error)
        })
    },
    save2 () {
      /* this.auxItem = this.newItem */
      /* this.horarios.push(this.newItem) */
      const path = `/api/curso/${this.ruta}/`
      axios.put(path, this.editItem).then((response) => {
        this.curso = response.data
        this.curso = this.editItem
        /* this.actualizado = true
        setTimeout(() => this.actualizado = false, 3000) */
        this.snackText = 'Se actualizo el horario exitosamente'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          /* this.noactualizado = true
          setTimeout(() => this.noactualizado = false, 3000) */
          this.snackText = 'Error al actualizar el horario'
          this.snackColor = 'error'
          this.snack = true
        })
      this.dialogEditarCurso = false
    },
    save () {
      this.auxItem = this.newItem
      this.horarios.push(this.newItem)
      const path = '/api/horario/'
      axios.post(path, this.newItem).then((response) => {
        this.dato = response.data
        this.newItem.codigo = ''
        this.getHorarios()
        /* this.registrado = true
        setTimeout(() => this.registrado = false, 3000) */
        this.snackText = 'Se registro el horario exitosamente'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          /* this.noregistrado = true
          setTimeout(() => this.noregistrado = false, 3000) */
          this.snackText = 'Error al registrar el horario'
          this.snackColor = 'error'
          this.snack = true
          /* setTimeout(() => this.noregistrado = false, 3000) */
        })
      this.close()
    },
    close () {
      this.dialog = false
    },
    home () {
      this.$router.push('/AdminInicio')
    }
  },
  created () {
    /* this.ruta = route.params.id */
    this.getHorarios()
    this.getCurso()
  }

}
</script>
