<template>
  <div>
    <v-container fluid>
        <v-row>
          <v-col>
            <v-card>
              <v-toolbar flat>
              <v-toolbar-title class="primario--text font-weight-medium">Informacion General</v-toolbar-title>
              <v-spacer></v-spacer>
              </v-toolbar>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="6">
            <v-card>
              <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" width="500px">
              </v-img>
            </v-card>
          </v-col>
          <v-col md="6">
            <v-card>
              <v-card-title>
              </v-card-title>
              <v-card-text>
                <p>Ciclo: {{horario.ciclo}}</p>
                <p>Codigo del Horario: {{horario.codigo}}</p>
              </v-card-text>
              <v-card-actions>
                <v-btn @click="actHorarioDialog = true">Editar</v-btn>
                <v-btn @click="elimHorarioDialog = true">Eliminar</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <template>
                  <v-btn
                      color="#1B4965"
                      dark
                      class="mb-2"
                      :to="{name: 'AgregarParticipanteAdmin', params: {id: this.ruta}}"
                  >
                      Nuevo participante
                  </v-btn>
                </template>
            <v-data-table
            :headers="headers3"
            :items="profes"
            :search="search3"
            item-key="nombre"
            class="primario--text font-weight-medium text-uppercase elevation-1"
        >
            <template v-slot:item.actions="{ item }">
              <v-icon
                small
                @click="deleteItemP(item)"
              >
                mdi-delete
              </v-icon>
            </template>
            <template v-slot:top>
            <v-toolbar
                flat
            >
                <v-toolbar-title class="primario--text">Administración de Profesores</v-toolbar-title>
                <v-divider
                class="mx-4"
                inset
                vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
            </v-toolbar>
            </template>
            <template v-slot:item.profesor="{ item }">
            {{ (usuarios.find( profesor => profesor.id === item.profesor )).username}}
            </template>
            <template v-slot:no-data>
            <v-btn
                color="primary"
                @click="initialize"
            >
                Aún no hay profesores registrados
            </v-btn>
            </template>
        </v-data-table>
        <v-dialog v-model="dialogDeleteP" max-width="500px">
          <v-card>
            <v-card-title class="headline">¿Está seguro de eliminar el registro profesor?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDeleteP">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirmP">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
            <v-data-table
            :headers="headers"
            :items="estudiantes"
            :search="search"
            item-key="nombre"
            class="primario--text font-weight-medium text-uppercase elevation-1"
        >
            <template v-slot:item.actions="{ item }">
              <v-icon
                small
                @click="deleteItemE(item)"
              >
                mdi-delete
              </v-icon>
            </template>
            <template v-slot:top>
            <v-toolbar
                flat
            >
                <v-toolbar-title class="primario--text">Administración de Estudiantes</v-toolbar-title>
                <v-divider
                class="mx-4"
                inset
                vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
            </v-toolbar>
            </template>
            <template v-slot:item.estudiante="{ item }">
            {{ (usuarios.find( estudiante => estudiante.id === item.estudiante.id )).username}}
            </template>
            <template v-slot:no-data>
            <v-btn
                color="primary"
                @click="initialize"
            >
                Aún no hay estudiantes registrados
            </v-btn>
            </template>
        </v-data-table>
        <v-dialog v-model="dialogDeleteE" max-width="500px">
          <v-card>
            <v-card-title class="headline">¿Está seguro de eliminar el registro estudiante?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDeleteE">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirmE">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-data-table
            :headers="headers2"
            :items="jps"
            :search="search2"
            item-key="nombre"
            class="primario--text font-weight-medium text-uppercase elevation-1"
        >
            <template v-slot:item.actions="{ item }">
              <v-icon
                small
                @click="deleteItemJ(item)"
              >
                mdi-delete
              </v-icon>
            </template>
            <template v-slot:top>
            <v-toolbar
                flat
            >
                <v-toolbar-title class="primario--text">Administración de Jefes de Práctica</v-toolbar-title>
                <v-divider
                class="mx-4"
                inset
                vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
            </v-toolbar>
            </template>
            <template v-slot:item.jefe_practica="{ item }">
            {{ (usuarios.find( jefe_practica => jefe_practica.id === item.jefe_practica.id )).username}}

            </template>
            <template v-slot:no-data>
            <v-btn
                color="primary"
                @click="initialize"
            >
                Aún no hay jefes de práctica registrados
            </v-btn>
            </template>
        </v-data-table>
        <v-dialog v-model="dialogDeleteJ" max-width="500px">
          <v-card>
            <v-card-title class="headline">¿Está seguro de eliminar el registro jefe de práctica?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDeleteJ">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirmJ">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
          </v-col>
        </v-row>
        <template>
          <v-row justify="center">
            <v-dialog
              v-model="elimHorarioDialog"
              persistent
              max-width="500"
            >
              <v-card>
                <v-card-title class="headline">
                  Advertencia
                </v-card-title>
                <v-card-text>Esta seguro de eliminar el curso?.</v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="green darken-5"
                    text
                    @click="elimHorarioDialog = false"
                  >
                    Cancelar
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="deleteHorario"
                  >
                    Si
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>
      </template>
      <template>
        <v-row justify="center">
          <v-dialog
            v-model="actHorarioDialog"
            persistent
            max-width="600px"
          >
            <v-card>
              <v-card-title>
                <span class="headline">Editar Horario</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editItem.codigo"
                        label="Codigo de Horario*"
                        required
                        :rules="rulesHorario"
                        counter="4"
                        maxlenght="4"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editItem.ciclo"
                        label="Ciclo*"
                        required
                        :rules="rulesCiclo"
                        counter="6"
                        maxlenght="6"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
                <small>* Indica que los campos son obligatorios</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="actHorarioDialog = false"
                >
                  Close
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="save2"
                  v-if="editItem.codigo.length === 4 && editItem.ciclo.length === 6"
                >
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </template>
    </v-container>
    <v-snackbar
        v-model="snack"
        :timeout="3000"
        :color="snackColor"
      >
        {{ snackText }}

        <template v-slot:action="{ attrs }">
          <v-btn
            v-bind="attrs"
            text
            @click="snack = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
  </div>
</template>
<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'ListarHorarios',

  data () {
    return {
      rulesCiclo: [v => v.length <= 6 || 'Debe haber exactamente 6 caracteres',
        v => !!v || 'El codigo es obligatorio'],
      rulesHorario: [v => v.length <= 4 || 'Debe haber exactamente 4 caracteres',
        v => !!v || 'El horario es obligatorio'],
      snack: false,
      snackColor: '',
      snackText: '',
      actHorarioDialog: false,
      editItem: {
        codigo: '',
        ciclo: '',
        num_alumnos: 0,
        num_laboratorios: 0,
        curso: 1
      },
      horario: {},
      elimHorarioDialog: false,
      ruta: this.$route.params.id,
      estudiantes: [],
      usuarios: [],
      jps: [],
      profes: [],
      search: '',
      search2: '',
      search3: '',
      headers: [
        { text: 'Usuario', value: 'estudiante' },
        { text: 'Eliminar', value: 'actions' }
      ],
      headers2: [
        { text: 'Usuario', value: 'jefe_practica' },
        { text: 'Eliminar', value: 'actions' }
      ],
      headers3: [
        { text: 'Usuario', value: 'profesor' },
        { text: 'Eliminar', value: 'actions' }
      ],
      editedIndex: -1,
      editedItem: {
        id: ''
      },
      dialogDeleteE: false,
      dialogDeleteP: false,
      dialogDeleteJ: false
    }
  },
  methods: {
    getHorario () {
      const path = `/api/horario/${this.ruta}/`
      axios.get(path).then((response) => {
        /* const kursos = response.data.find( dato => dato.id === $route.params.id) */
        this.horario = response.data
        this.editItem = this.horario
        /* console.log(horarios.codigo) */
      })
        .catch((error) => {
          console.log(error)
        })
    },
    save2 () {
      const path = `/api/horario/${this.ruta}/`
      axios.put(path, this.editItem).then((response) => {
        this.horario = response.data
        this.editItem = this.horario
        this.snackText = 'Se actualizo el horario exitosamente'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          this.snackText = 'Error al actualizar el horario'
          this.snackColor = 'error'
          this.snack = true
        })
      this.actHorarioDialog = false
    },
    deleteHorario () {
      const path = `/api/horario/${this.ruta}/`
      axios.delete(path).then((response) => {
        /* location.href = '/AdminInicio' */
        history.go(-1)
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getUsuarios () {
      const path = '/api/user/'
      axios.get(path).then((response) => {
        this.usuarios = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getEstudiantes () {
      const path = `/api/horario_estudiante_2/${this.ruta}/`
      axios.get(path).then((response) => {
        this.estudiantes = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getJPS () {
      const path = `/api/horario_jp_2/${this.ruta}/`
      axios.get(path).then((response) => {
        this.jps = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getProfesores () {
      const path = `/api/horario_profesor_2/${this.ruta}/`
      axios.get(path).then((response) => {
        this.profes = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    deleteItemE (item) {
      this.editedIndex = this.estudiantes.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDeleteE = true
    },
    deleteItemP (item) {
      this.editedIndex = this.profes.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDeleteP = true
    },
    deleteItemJ (item) {
      this.editedIndex = this.jps.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDeleteJ = true
    },
    deleteItemConfirmE () {
      this.estudiantes.splice(this.editedIndex, 1)
      console.log('id eliminado: ' + this.editedItem.id)
      const path = `/api/horario_estudiante/${this.editedItem.id}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
        this.snackText = 'Se ha eliminado al estudiante con éxito'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          this.snackText = 'Se ha producido un error, inténtelo de nuevo'
          this.snackColor = 'error'
          this.snack = true
        })
      this.closeDeleteE()
    },
    closeDeleteE () {
      this.dialogDeleteE = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    deleteItemConfirmP () {
      this.profes.splice(this.editedIndex, 1)
      console.log('id eliminado: ' + this.editedItem.id)
      const path = `/api/horario_profesor/${this.editedItem.id}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
        this.snackText = 'Se ha eliminado al profesor con éxito'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          this.snackText = 'Se ha producido un error, inténtelo de nuevo'
          this.snackColor = 'error'
          this.snack = true
        })
      this.closeDeleteP()
    },
    closeDeleteP () {
      this.dialogDeleteP = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    deleteItemConfirmJ () {
      this.jps.splice(this.editedIndex, 1)
      console.log('id eliminado: ' + this.editedItem.id)
      const path = `/api/horario_jefe_practica/${this.editedItem.id}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
        this.snackText = 'Se ha eliminado al estudiante con éxito'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          this.snackText = 'Se ha producido un error, inténtelo de nuevo'
          this.snackColor = 'error'
          this.snack = true
        })
      this.closeDeleteJ()
    },
    closeDeleteJ () {
      this.dialogDeleteJ = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    home () {
      this.$router.push('/gestionarHorario')
    }
  },
  created () {
    this.getHorario()
    this.getEstudiantes()
    this.getUsuarios()
    this.getJPS()
    this.getProfesores()
  }

}
</script>
