<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzq></CabeceraIzq>
            <v-col>
                <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span @click="borrarDatos"><a href="/Profesor" style="color: #1B4965">Volver a cursos</a></span>
                <v-row align="center" justify="center" class="mt-5">
                <v-toolbar class="secundario">
                    <v-spacer></v-spacer>
                    <h1 class="font-weight-regular primario--text">{{ciclo}} {{ nombre }} ( {{ codigo }} - {{horario}})</h1>
                    <v-spacer></v-spacer>
                </v-toolbar>
                </v-row>
                <v-container class="d-flex justify-center mb-6">
                    <v-img max-height="350" max-width="450" :src="this.imag"></v-img>
                </v-container>
                <v-divider></v-divider>
                <v-card
                    class="mx-auto my-12"
                    max-width="374"
                >
                    <Estadistica></Estadistica>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import CabeceraIzq from '@/components/Profesor/CabeceraIzqJP'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import Estadistica from '@/components/Profesor/EstadisticasNotasLab'
import Bar from 'vue-chartjs'
export default {
  extends: Bar,
  data: () => ({
    id: '',
    ciclo: '',
    nombre: '',
    codigo: '',
    horario: '',
    imag: ''
  }),
  mounted () {
    if (localStorage.imag) {
      this.imag = localStorage.imag
    }
    if (localStorage.ciclo) {
      this.ciclo = localStorage.ciclo
    }
    if (localStorage.nombre) {
      this.nombre = localStorage.nombre
    }
    if (localStorage.codigo) {
      this.codigo = localStorage.codigo
    }
    if (localStorage.horario) {
      this.horario = localStorage.horario
    }
    this.renderChart(this.chartdata, this.options)
  },
  methods: {
    buscarDatos () {
      localStorage.getItem('imag')
      localStorage.getItem('id')
      localStorage.getItem('ciclo')
      localStorage.getItem('nombre')
      localStorage.getItem('codigo')
      localStorage.getItem('horario')
    },
    borrarDatos () {
      localStorage.removeItem('imag')
      localStorage.removeItem('id')
      localStorage.removeItem('ciclo')
      localStorage.removeItem('nombre')
      localStorage.removeItem('codigo')
      localStorage.removeItem('horario')
    }
  },
  components: {
    CabeceraIzq, CabeceraGeneral, Bar, Estadistica
  },
  created () {
    this.buscarDatos()
  }
}
</script>
