<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzq></CabeceraIzq>
            <v-col>
                <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span @click="borrarDatos"><a href="/Profesor" style="color: #1B4965">Volver a cursos</a></span>
                <v-row align="center" justify="center" class="mt-5">
                <v-toolbar class="secundario">
                    <v-spacer></v-spacer>
                    <h1 class="font-weight-regular primario--text">{{ciclo}} {{ nombre }} ( {{ codigo }} - {{horario}})</h1>
                    <v-spacer></v-spacer>
                </v-toolbar>
                </v-row>
                <h1>{{this.$route.params.labNombre}}</h1>
                <h2>{{this.$route.params.faseNombre}}</h2>
                <v-spacer></v-spacer>
                <div v-if="cantPreguntas !== 0">
                <v-row>
                    <v-col
                    cols="12"
                    sm="2">
                        <h2>Pregunta {{this.index + 1}}</h2>
                        <p>Este es el enunciado de la pregunta {{this.index + 1}}<br>Puntúa {{this.preguntas[this.index].puntaje_obtenido}}/{{this.preguntas[this.index].puntaje_pregunta}}</p>
                        <h3>Navegación por cuestionario</h3>
                        <v-btn class="ma-1"
                          @click="irAPregunta(index)"
                          v-for="(item, index) of preguntas" :key="index"
                          small
                          outlined
                          >
                          <span>{{parseInt(index, 10)+1}}</span>
                        </v-btn>
                    </v-col>
                    <v-col
                    cols="12"
                    sm="9">
                        <v-row>
                          <h4>Enunciado:</h4>
                        </v-row>
                        <v-row>
                          <p class="text-justify">
                            {{this.preguntas[this.index].enunciado}}
                          </p>
                        </v-row>
                        <v-row>
                          <h4>Respuesta:</h4>
                        </v-row>
                        <v-row>
                          <div v-if="this.preguntas[this.index].tipo===1">
                            <vue-editor id="Editor" :disabled='true'  v-model="this.preguntas[this.index].respuesta">
                            </vue-editor>
                          </div>
                          <div v-if="this.preguntas[this.index].tipo===0">
                            <v-radio-group
                              v-model="radioGroup"
                            >
                              <v-radio
                                v-for="(opcion, index1) in this.preguntas[this.index].opciones"
                                :key="index1"
                                :label="`${opcion.texto_opcion}`"
                                :value="`${opcion.id_opcion}`"
                                disabled
                              ></v-radio>
                            </v-radio-group>
                          </div>
                          <div v-if="this.preguntas[this.index].tipo===2">
                            <v-checkbox
                              v-model="selectedMultiple"
                              v-for="(opcion, index1) in this.preguntas[this.index].opciones"
                              :key="index1"
                              :label="`${opcion.texto_opcion}`"
                              :value="`${opcion.id_opcion}`"
                              disabled
                            ></v-checkbox>
                          </div>
                        </v-row>
                        <v-row>
                          <h4>Comentarios realizados:</h4>
                        </v-row>
                        <v-row>
                          <v-card
                            max-width="1000"
                            width="1000"
                          >
                            <v-list three-line>
                              <template v-for="(item, ind) in items">
                                <v-subheader
                                  v-if="item.header"
                                  :key="item.header"
                                  v-text="item.header"
                                ></v-subheader>

                                <v-divider
                                  v-else-if="item.divider"
                                  :key="ind"
                                  :inset="item.inset"
                                ></v-divider>

                                <v-list-item
                                  v-else
                                  :key="item.title"
                                >
                                  <v-list-item-content>
                                    <v-list-item-title v-html="item.title"></v-list-item-title>
                                    <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
                                  </v-list-item-content>
                                </v-list-item>
                              </template>
                            </v-list>
                          </v-card>
                        </v-row>
                        <v-row>
                          <h4>Comentario:</h4>
                        </v-row>
                        <v-row>
                          <v-col cols="12" md="12">
                            <v-row>
                              <v-textarea outlined dense auto-grow
                              label="Comentario" v-model="comentario">
                              </v-textarea>
                            </v-row>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-btn color="#1B4965" class="mt-2 white--text" @click="saveComentarioPuntaje">Enviar</v-btn>
                        </v-row>
                        <v-row>
                          <div v-if="this.index > 0">
                            <v-btn color="#1B4965" class="mt-2 white--text" @click="anterior">Pregunta anterior</v-btn>
                          </div>
                          <v-spacer></v-spacer>
                          <div v-if="this.index < this.cantPreguntas - 1">
                            <v-btn color="#1B4965" class="mt-2 white--text" @click="siguiente">Siguiente pregunta</v-btn>
                          </div>
                          <div v-else>
                            <v-btn color='#CB3234' class="mt-2 white--text" @click="saveComentarioPuntaje"
                            :to="{name: 'ResumenRespuestasJP'}" >Terminar revisión</v-btn>
                          </div>
                        </v-row>
                    </v-col>
                </v-row>
                </div>
                <div v-else>
                  <h3>Fase sin preguntas asignadas!</h3>
                </div>
            </v-col>
        </v-row>
    <v-snackbar
        v-model="snack"
        :timeout="3000"
        :color="snackColor"
      >
        {{ snackText }}

        <template v-slot:action="{ attrs }">
          <v-btn
            v-bind="attrs"
            text
            @click="snack = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
</template>

<script>
import CabeceraIzq from '@/components/Profesor/CabeceraIzq'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import RevisarPreguntas from '@/components/Profesor/RevisarPreguntas'
import axios from 'axios'
import extraConfig from '@/extraConfig'
import { VueEditor } from 'vue2-editor'
axios.defaults.baseURL = extraConfig.backPath

export default {
  components: {
    CabeceraIzq, CabeceraGeneral, RevisarPreguntas, VueEditor
  },
  data () {
    return {
      snack: false,
      snackColor: '',
      snackText: '',
      items: [],
      /*
      preguntas: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
      aux: 0,
      datos: [],
      idAlumno: this.$route.params.id_alumno,
      idFase: this.$route.params.id_fase */
      rules: {
        puntaje: [
          val => val <= this.preguntas[this.index].puntaje_pregunta || `Error, el puntaje supera los límites`
        ]
      },
      dato: '',
      content: '<h1>Some initial content</h1>',
      preguntas: [],
      cantPreguntas: 0,
      index: 0,
      comentario: '',
      puntaje: 0,
      resp: [],
      puntajeTotal: 0,
      aux: [],
      id: '',
      ciclo: '',
      nombre: '',
      codigo: '',
      horario: '',
      radioGroup: null,
      selectedMultiple: [],
      tipo: null
    }
  },
  methods: {
    anterior () {
      if (this.index > 0) {
        // obtener los comentarios para mostrar
        this.getComentarios()
        // post de la comentario actual
        // this.saveComentarioPuntaje()
        // Cambiamos la pregunta actual
        this.comentario = ''
        this.index-- /*
        if (this.preguntas[this.index].comentarios.length !== 0) {
          this.comentario = this.preguntas[this.index].comentarios[0].texto
        } else {
          this.comentario = ''
        } */
        // Cambiamos la pregunta actual
        this.puntaje = this.preguntas[this.index].puntaje_obtenido
        this.tipo = this.preguntas[this.index].tipo
        if (this.tipo === 0) {
          this.radioGroup = this.preguntas[this.index].opciones_seleccionadas[0].id_opcion.toString()
          console.log('La opcion seleccionada es ' + this.radioGroup)
        }
        if (this.tipo === 2) {
          for (let m = 0; m < this.preguntas[this.index].opciones_seleccionadas.length; m++) {
            this.selectedMultiple.push(this.preguntas[this.index].opciones_seleccionadas[m].id_opcion.toString())
          }
          console.log('Las opciones seleccionada es ' + this.selectedMultiple)
        }
      }
    },
    siguiente () {
      if (this.index < this.cantPreguntas - 1) {
        // obtener los comentarios para mostrar
        this.getComentarios()
        // post de la comentario actual
        // this.saveComentarioPuntaje()
        // Cambiamos la pregunta actual
        this.comentario = ''
        this.index++ /*
        if (this.preguntas[this.index].comentarios.length !== 0) {
          this.comentario = this.preguntas[this.index].comentarios[0].texto
        } else {
          this.comentario = ''
        } */
        // Cambiamos la pregunta actual
        this.puntaje = this.preguntas[this.index].puntaje_obtenido
        this.tipo = this.preguntas[this.index].tipo
        if (this.tipo === 0) {
          this.radioGroup = this.preguntas[this.index].opciones_seleccionadas[0].id_opcion.toString()
          console.log('La opcion seleccionada es ' + this.radioGroup)
        }
        if (this.tipo === 2) {
          for (let m = 0; m < this.preguntas[this.index].opciones_seleccionadas.length; m++) {
            this.selectedMultiple.push(this.preguntas[this.index].opciones_seleccionadas[m].id_opcion.toString())
          }
          console.log('Las opciones seleccionada es ' + this.selectedMultiple)
        }
      }
    },
    irAPregunta (index) {
      if (this.index !== parseInt(index, 10)) {
        // obtener los comentarios para mostrar
        this.getComentarios()
        // post de la comentario actual
        // this.saveComentarioPuntaje()
        // Cambiamos la pregunta actual
        this.comentario = ''
        this.index = parseInt(index, 10) /*
        if (this.preguntas[this.index].comentarios.length !== 0) {
          this.comentario = this.preguntas[this.index].comentarios[0].texto
        } else {
          this.comentario = ''
        } */
        // Cambiamos la pregunta actual
        this.puntaje = this.preguntas[this.index].puntaje_obtenido
        this.tipo = this.preguntas[this.index].tipo
        if (this.tipo === 0) {
          this.radioGroup = this.preguntas[this.index].opciones_seleccionadas[0].id_opcion.toString()
          console.log('La opcion seleccionada es ' + this.radioGroup)
        }
        if (this.tipo === 2) {
          for (let m = 0; m < this.preguntas[this.index].opciones_seleccionadas.length; m++) {
            this.selectedMultiple.push(this.preguntas[this.index].opciones_seleccionadas[m].id_opcion.toString())
          }
          console.log('Las opciones seleccionada es ' + this.selectedMultiple)
        }
      }
    },
    saveComentarioPuntaje () { /*
      this.preguntas[this.index].comentarios[0].texto = this.comentario
      const formData = new FormData()
      formData.append('comentarios[0].texto', this.comentario) */
      if (this.comentario !== '') {
        console.log(this.$store.state.token)
        console.log(this.preguntas[this.index].id_respuesta)
        const path = '/api/comentario_token/'
        axios.post(path, {
          id_respuesta: this.preguntas[this.index].id_respuesta,
          texto_comentario: this.comentario}, {
          headers: {
            Authorization: 'Bearer ' + this.$store.state.token // the token is a variable which holds the token
          }
        }).then((response) => {
          this.dato = response.data
          this.snackText = 'Se ha registrado el comentario correctamente'
          this.snackColor = 'success'
          this.snack = true
          this.getComentarios()
        })
          .catch((error) => {
            console.log(error)
            this.snackText = 'Se ha producido un error, inténtelo de nuevo'
            this.snackColor = 'error'
            this.snack = true
          })
      }
    },
    getPreguntas () {
      console.log(this.$store.state.token)
      console.log(this.$route.params.id_horario)
      console.log(this.$route.params.id_fase)
      console.log(this.$route.params.id_alumno)
      const path = `/lista_pregunta_fase_alumno_View/${this.$route.params.id_alumno}/${this.$route.params.id_fase}/`
      axios.get(path).then((response) => {
        console.log(response.data)
        this.resp = response.data[0].preguntas
        this.preguntas = Object.assign({}, response.data[0].preguntas)
        this.index = 0
        console.log(this.preguntas)
        console.log(this.resp)
        this.cantPreguntas = Object.keys(this.preguntas).length
        console.log('CANTIDAD DE PREGUNTAS: ' + Object.keys(this.preguntas).length)
        if (this.cantPreguntas !== 0) {
          this.tipo = this.preguntas[this.index].tipo
          if (this.tipo === 0) {
            this.radioGroup = this.preguntas[this.index].opciones_seleccionadas[0].id_opcion.toString()
            console.log('La opcion seleccionada es ' + this.radioGroup)
          }
          if (this.tipo === 2) {
            for (let m = 0; m < this.preguntas[this.index].opciones_seleccionadas.length; m++) {
              this.selectedMultiple.push(this.preguntas[this.index].opciones_seleccionadas[m].id_opcion.toString())
            }
            console.log('Las opciones seleccionada es ' + this.selectedMultiple)
          }
          // this.comentario = this.preguntas[this.index].comentarios[0].texto
          this.puntaje = this.preguntas[this.index].puntaje_obtenido
          // mostrar comentarios para la primera pregunta.
          this.getComentarios()
        }
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getComentarios () {
      const path = `/lista_pregunta_fase_alumno_View/${this.$route.params.id_alumno}/${this.$route.params.id_fase}/`
      axios.get(path).then((response) => {
        this.aux = Object.assign({}, response.data[0].preguntas)
        console.log(this.aux[this.index].comentarios.length)
        this.items = []
        let row = {}
        row['header'] = 'Comentarios '
        this.items.push(Object.assign({}, row))
        for (let i = 0; i < this.aux[this.index].comentarios.length; i++) { // i < this.aux[this.index].comentarios.length
          let row2 = {}
          if (i === 0) {
            row2['title'] = '<b>Autor:</b> ' + this.aux[this.index].comentarios[i].autor_email + '<br>' + '<b>Fecha y Hora:</b> ' + this.aux[this.index].comentarios[i].fecha + ' ' + this.aux[this.index].comentarios[i].hora
            row2['subtitle'] = this.aux[this.index].comentarios[i].texto
            this.items.push(Object.assign({}, row2))
          } else {
            let row3 = {}
            row3['divider'] = true
            row3['inset'] = true
            this.items.push(Object.assign({}, row3))
            row2['title'] = '<b>Autor:</b> ' + this.aux[this.index].comentarios[i].autor_email + '<br>' + '<b>Fecha y Hora:</b> ' + this.aux[this.index].comentarios[i].fecha + ' ' + this.aux[this.index].comentarios[i].hora
            row2['subtitle'] = this.aux[this.index].comentarios[i].texto
            this.items.push(Object.assign({}, row2))
          }
        }
      })
        .catch((error) => {
          console.log(error)
        })
    },
    terminar (index) { /*
      if (this.index < this.cantPreguntas) {
        this.saveComentarioPuntaje()
        this.puntaje = this.preguntas[this.index].puntaje_obtenido
      const path = `/lista_pregunta_fase_alumno_View/${this.$route.params.id_alumno}/${this.$route.params.id_fase}/`
      axios.get(path).then((response) => {
        this.resp = response.data[0].preguntas
        let total = 0
        this.preguntas = Object.assign({}, response.data[0].preguntas)
        for (let i = 0; i < this.resp.length; i++) {
          total = total + this.resp[i].puntaje_obtenido
        }
        console.log(total) // Para guardar el puntaje total en la fase
        const path2=''
        axios.put(path).then((response) => {

        })
          .catch((error) => {
            console.log(error)
          })
      })
        .catch((error) => {
          console.log(error)
        }) */
    },
    buscarDatos () {
      localStorage.getItem('id')
      localStorage.getItem('ciclo')
      localStorage.getItem('nombre')
      localStorage.getItem('codigo')
      localStorage.getItem('horario')
    },
    borrarDatos () {
      localStorage.removeItem('id')
      localStorage.removeItem('ciclo')
      localStorage.removeItem('nombre')
      localStorage.removeItem('codigo')
      localStorage.removeItem('horario')
    }
  },
  mounted () {
    this.getPreguntas()
    if (localStorage.ciclo) {
      this.ciclo = localStorage.ciclo
    }
    if (localStorage.nombre) {
      this.nombre = localStorage.nombre
    }
    if (localStorage.codigo) {
      this.codigo = localStorage.codigo
    }
    if (localStorage.horario) {
      this.horario = localStorage.horario
    }
  },
  created () {
    this.buscarDatos()
  }
}
</script>
