<template>
    <div>
        <CabeceraGeneral ></CabeceraGeneral>
        <v-row>
            <v-container>
            <v-col>
                <h1>Mis cursos</h1>
            </v-col>
            <ListarCursosJP></ListarCursosJP>
            </v-container>
        </v-row>
    </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
import ListarCursosJP from '@/components/Profesor/ListarCursosJP.vue'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral.vue'
axios.defaults.baseURL = extraConfig.backPath
export default {
  data: () => ({
    datoId: {}
  }),
  components: {
    ListarCursosJP, CabeceraGeneral
  },
  methods: {
    getId () {
      console.log(this.$store.state.token)
      const path = '/api/who/'
      axios.get(path, {
        headers: {
          Authorization: 'Bearer ' + this.$store.state.token // the token is a variable which holds the token
        }
      }).then((response) => {
        this.datoId = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    this.getId()
  }
}
</script>
