<template>
    <div>
    <CabeceraGeneral></CabeceraGeneral>
    <CabeceraIzq></CabeceraIzq>
    </div>
</template>

<script>
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import CabeceraIzq from '@/components/Todos/CabeceraIzq'
export default {
  components: {
    CabeceraGeneral, CabeceraIzq
  }

}
</script>

<style>

</style>
