<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzq></CabeceraIzq>
            <v-col>
                <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span><a style="color: #1B4965" @click="goBack()">Volver a curso</a></span>
                <h1> Banco de Preguntas</h1>
                <el-tabs type="card" @tab-click="handleClick">
                    <el-tab-pane label="Banco Personal"><PreguntasBanco></PreguntasBanco></el-tab-pane>
                    <el-tab-pane label="Preguntas Sin Curso"><BancoGeneral/></el-tab-pane>
                    <el-tab-pane label="Banco del Curso"><CursoBanco/></el-tab-pane>
                </el-tabs>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import CabeceraIzq from '@/components/Profesor/CabeceraIzq'
import PreguntasBanco from '@/components/Profesor/PreguntasBanco'
import CursoBanco from '@/components/Profesor/CursoBanco'
import BancoGeneral from '@/components/Profesor/BancoGeneral'

export default {
  components: {
    CabeceraGeneral, CabeceraIzq, PreguntasBanco, CursoBanco, BancoGeneral
  },
  methods: {
    goBack () {
      this.$router.go(-1)
    },
    handleClick (tab, event) {
      // console.log(tab, event)
    }
  }
}
</script>

<style>

</style>
