<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzq></CabeceraIzq>
            <v-col>
                <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span @click="borrarDatos"><a href="/Profesor" style="color: #1B4965">Volver a cursos</a></span>
                <v-row align="center" justify="center" class="mt-5">
                <v-toolbar class="secundario">
                    <v-spacer></v-spacer>
                    <h1 class="font-weight-regular primario--text">{{ciclo}} {{ nombre }} ( {{ codigo }} - {{horario}})</h1>
                    <v-spacer></v-spacer>
                </v-toolbar>
                </v-row>
                <v-container class="d-flex justify-center mb-6">
                    <v-img max-height="350" max-width="450" :src="this.imag"></v-img>
                </v-container>
                <v-divider></v-divider>
                <CrearEtiquetaLab></CrearEtiquetaLab>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import ListarCursos from '@/components/Profesor/ListarCursos'
import CrearEtiquetaLab from '@/components/Profesor/CrearEtiquetaLaboratorio'
import CabeceraIzq from '@/components/Profesor/CabeceraIzq'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'

export default {
  data: () => ({
    id_horario: null,
    id: '',
    ciclo: '',
    nombre: '',
    codigo: '',
    horario: '',
    imag: ''
  }),
  mounted () {
    if (localStorage.imag) {
      this.imag = localStorage.imag
    }
    if (localStorage.ciclo) {
      this.ciclo = localStorage.ciclo
    }
    if (localStorage.nombre) {
      this.nombre = localStorage.nombre
    }
    if (localStorage.codigo) {
      this.codigo = localStorage.codigo
    }
    if (localStorage.horario) {
      this.horario = localStorage.horario
    }
    if (localStorage.horario) {
      this.curso = localStorage.curso
    }
  },
  methods: {
    getID () {
      this.id_horario = this.$route.params.id_horario
    },
    cargarDatos () {
      if (this.$route.params.ciclo) {
        localStorage.setItem('imag', this.$route.params.imagen)
        localStorage.setItem('id', this.$route.params.id_horario)
        localStorage.setItem('ciclo', this.$route.params.ciclo)
        localStorage.setItem('nombre', this.$route.params.nombre)
        localStorage.setItem('codigo', this.$route.params.codigo)
        localStorage.setItem('horario', this.$route.params.horario)
        localStorage.setItem('curso', this.$route.params.id)
      }
    },
    buscarDatos () {
      localStorage.getItem('imag')
      localStorage.getItem('id')
      localStorage.getItem('ciclo')
      localStorage.getItem('nombre')
      localStorage.getItem('codigo')
      localStorage.getItem('horario')
      localStorage.getItem('curso')
    },
    borrarDatos () {
      localStorage.removeItem('imag')
      localStorage.removeItem('id')
      localStorage.removeItem('ciclo')
      localStorage.removeItem('nombre')
      localStorage.removeItem('codigo')
      localStorage.removeItem('horario')
      localStorage.removeItem('curso')
    }
  },
  components: {
    ListarCursos, CabeceraIzq, CabeceraGeneral, CrearEtiquetaLab
  },
  created () {
    this.getID()
    this.buscarDatos()
    this.cargarDatos()
  }
}
</script>
