<template>
  <div>
      <CabeceraGeneral></CabeceraGeneral>
      <v-row>
          <CabeceraIzq></CabeceraIzq>
          <v-col>
              <v-icon @click="goBack()">
                    mdi-arrow-left-circle
                </v-icon>
                <span @click="goBack()">Volver a Laboratorios</span>
                <v-row align="center" justify="center" class="mt-5">
                <v-toolbar class="secundario">
                    <v-spacer></v-spacer>
                    <h1 class="font-weight-regular primario--text">{{ciclo}} {{ nombre }} ( {{ codigo }} - {{horario}})</h1>
                    <v-spacer></v-spacer>
                </v-toolbar>
                </v-row>
                <h1>{{labNombre}}</h1>
                <ListarFaseLive></ListarFaseLive>
          </v-col>
      </v-row>

  </div>
</template>

<script>
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import CabeceraIzq from '@/components/Profesor/CabeceraIzq'
import ListarFaseLive from '@/components/Profesor/ListarFaseLive'
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  methods: {
    goBack () {
      this.$router.push({name: 'ProfesorCurso', params: {id_curso: this.$route.params.id_curso, id_horario: this.$route.params.id_horario}})
    },
    async getLab () {
      const path = `/api/laboratorio/${this.$route.params.id_lab}/`
      try {
        const response = await axios.get(path)
        this.lab = response.data
        this.labNombre = response.data.nombre
      } catch (error) {
        console.log(error)
      }
    },
    buscarDatos () {
      localStorage.getItem('id')
      localStorage.getItem('ciclo')
      localStorage.getItem('nombre')
      localStorage.getItem('codigo')
      localStorage.getItem('horario')
    },
    borrarDatos () {
      localStorage.removeItem('id')
      localStorage.removeItem('ciclo')
      localStorage.removeItem('nombre')
      localStorage.removeItem('codigo')
      localStorage.removeItem('horario')
    }
  },
  components: {
    CabeceraGeneral, CabeceraIzq, ListarFaseLive
  },
  data () {
    return {
      ciclo: '',
      horario: '',
      nombre: '',
      codigo: '',
      labNombre: '',
      lab: {}
    }
  },
  async created () {
    this.buscarDatos()
    this.getLab()
  },
  mounted () {
    if (localStorage.ciclo) {
      this.ciclo = localStorage.ciclo
    }
    if (localStorage.nombre) {
      this.nombre = localStorage.nombre
    }
    if (localStorage.codigo) {
      this.codigo = localStorage.codigo
    }
    if (localStorage.horario) {
      this.horario = localStorage.horario
    }
  }

}
</script>

<style>

</style>
