<template>
  <div>
      <CabeceraGeneral></CabeceraGeneral>
      <v-row>
          <CabeceraIzq></CabeceraIzq>
          <v-col>
              <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span><a style="color: #1B4965" @click='goBack'>Volver a curso</a></span>
                <validation-observer
                  ref="observer"
                  v-slot="{ invalid }">
                <v-form @submit.prevent="submit">
                  <v-row>
                    <v-col cols="12">
                    <keep-alive>
                    <validation-provider
                      inmediate
                      v-slot="{ errors }"
                      name="Nombre"
                      rules="nameRules|required"
                    >
                    <v-text-field
                        v-model="phase.nombre"
                        label="Nombre"
                        :error-messages="errors"
                        outlined
                        dense
                        placeholder="Nombre de la fase"
                      ></v-text-field>
                      </validation-provider>
                      </keep-alive>
                    </v-col>
                    <v-col cols="12">
                    <keep-alive>
                    <validation-provider
                      inmediate
                      v-slot="{ errors }"
                      name="Cantidad de intentos"
                      rules="cantTries|required"
                    >
                    <v-text-field
                        v-model="phase.num_intentos"
                        label="Cantidad de intentos"
                        :error-messages="errors"
                        outlined
                        dense
                        placeholder="Numero maximo de intentos"
                        type="number"
                      ></v-text-field>
                      </validation-provider>
                      </keep-alive>
                    </v-col>
                    <v-col cols="12" md="6" sm="4">
                      <!-- Fecha Inicio-->
                      <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :return-value.sync="phase.fecha_ini"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <keep-alive>
                          <validation-provider
                            inmediate
                            v-slot="{ errors }"
                            name="FechaInicio"
                            rules="fechaIniRules:@FechaFin|required"
                          >
                          <v-text-field
                            v-model="phase.fecha_ini"
                            label="Fecha de Inicio"
                            prepend-icon="mdi-calendar"
                            readonly
                            :error-messages="errors"
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                          </validation-provider>
                          </keep-alive>
                        </template>
                        <v-date-picker
                          v-model="phase.fecha_ini"
                          no-title
                          scrollable
                        >
                          <v-spacer></v-spacer>
                          <v-btn
                            text
                            color="primary"
                            @click="menu = false"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            text
                            color="primary"
                            @click="$refs.menu.save(phase.fecha_ini)"
                          >
                            OK
                          </v-btn>
                        </v-date-picker>
                      </v-menu>
                      <!--Fecha Fin-->
                      <v-menu
                        ref="menu4"
                        v-model="menu4"
                        :close-on-content-click="false"
                        :return-value.sync="phase.fecha_fin"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <keep-alive>
                          <validation-provider
                            inmediate
                            v-slot="{ errors }"
                            name="FechaFin"
                            rules="fechaFinRules:@FechaInicio|required"
                          >
                          <v-text-field
                            v-model="phase.fecha_fin"
                            label="Fecha de Fin"
                            prepend-icon="mdi-calendar"
                            readonly
                            :error-messages="errors"
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                          </validation-provider>
                          </keep-alive>
                        </template>
                        <v-date-picker
                          v-model="phase.fecha_fin"
                          no-title
                          scrollable
                        >
                          <v-spacer></v-spacer>
                          <v-btn
                            text
                            color="primary"
                            @click="menu4 = false"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            text
                            color="primary"
                            @click="$refs.menu4.save(phase.fecha_fin)"
                          >
                            OK
                          </v-btn>
                        </v-date-picker>
                      </v-menu>
                      <keep-alive>
                      <validation-provider
                            inmediate
                            v-slot="{ errors }"
                            name="Cantidad de Preguntas/ Alumno"
                            rules="cantPregAsignRules:@total|required"

                          >
                      <v-text-field
                        v-model="phase.num_preguntas_por_alumno"
                        label="Cantidad de Preguntas/ Alumno"
                        outlined
                        dense
                        placeholder="Ingrese una cantidad"
                        type="number"
                        :error-messages="errors"
                      ></v-text-field>
                      </validation-provider>
                      </keep-alive>
                      <keep-alive>
                      <validation-provider
                            inmediate
                            v-slot="{ errors }"
                            name="Porcentaje de peso de la fase"
                            rules="pesoRules|required"
                          >
                      <v-text-field
                        v-model="phase.peso"
                        label="Porcentaje de peso de la fase"
                        outlined
                        dense
                        placeholder="Ingrese una numero de 1 al 100"
                        type="number"
                        :error-messages="errors"
                      ></v-text-field>
                      </validation-provider>
                      </keep-alive>
                    </v-col>
                    <!--HORAS-->
                    <v-col cols="12" md="6" sm="4">
                      <v-menu
                      ref="menu2"
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="time"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <keep-alive>
                        <validation-provider
                            inmediate
                            v-slot="{ errors }"
                            name="HoraInicio"
                            rules="horaIniRules:@HoraFin|required"
                          >
                        <v-text-field
                          v-model="phase.hora_ini"
                          label="Hora de inicio*"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          :error-messages="errors"
                          v-on="on"
                        ></v-text-field>
                        </validation-provider>
                        </keep-alive>
                      </template>
                      <v-time-picker
                        v-if="menu2"
                        v-model="phase.hora_ini"
                        full-width
                        @click:minute="$refs.menu2.save(phase.hora_ini)"
                      ></v-time-picker>
                    </v-menu>
                    <!--HORA FINAL-->
                    <v-menu
                      ref="menu3"
                      v-model="menu3"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="time2"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <keep-alive>
                        <validation-provider
                            inmediate
                            v-slot="{ errors }"
                            name="HoraFin"
                            rules="horaFinRules:@HoraInicio|required"
                          >
                        <v-text-field
                          v-model="phase.hora_fin"
                          label="Hora de Fin*"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                          :error-messages="errors"
                        ></v-text-field>
                        </validation-provider>
                        </keep-alive>
                      </template>
                      <v-time-picker
                        v-if="menu3"
                        v-model="phase.hora_fin"
                        full-width
                        @click:minute="$refs.menu3.save(phase.hora_fin)"
                      ></v-time-picker>
                    </v-menu>
                    <keep-alive>
                    <validation-provider
                            inmediate
                            v-slot="{ errors }"
                            name="total"
                            rules="required"
                          >
                    <v-text-field
                    disabled
                        v-model="phase.num_preguntas_total"
                        label="Cantidad total de Preguntas"
                        outlined
                        dense
                        placeholder="Ingrese una cantidad"
                        type="number"
                        :error-messages="errors"
                      ></v-text-field>
                    </validation-provider>
                    </keep-alive>
                      <PreguntasDialog @asignarPreg="actualizarPreg($event)" ></PreguntasDialog>
                    </v-col>
                  </v-row>
                  <!--PREGUNTAS SELECCIONADAS PARA LA FASE-->
                  <h2>Preguntas Seleccionadas</h2>
                  <v-row justify="center">
                    <v-data-table  :items="preguntas"
                      :headers="headers"
                      :single-expand="singleExpand"
                      :expanded.sync="expanded"
                      show-expand
                      >
                      <template v-slot:item.puntaje="props">
                        <v-edit-dialog
                          :return-value="props.item.puntaje"
                          large
                          persistent
                          @save="save(props.item)"
                          @cancel="cancel"
                          @open="open"
                          @close="close"
                        >
                          <div>{{ props.item.puntaje }}</div>
                          <template v-slot:input>
                            <div class="mt-4 title">
                              Actualizar puntaje
                            </div>
                            <v-text-field
                              v-model="props.item.puntaje"
                              :rules="regla"
                              type="number"
                              label="Editar"
                              single-line
                              counter
                              autofocus
                            ></v-text-field>
                          </template>
                        </v-edit-dialog>
                      </template>
                      <template #item.actions="{item}">
                          <v-icon
                              small
                              @click="deleteItem(item)"
                          >
                              mdi-delete
                          </v-icon>
                      </template>
                      <template #expanded-item="{headers,item}">
                        <td colspan="1000px">
                          <PreguntaDisplay :preguntas="item"></PreguntaDisplay>
                        </td>
                      </template>
                      </v-data-table>
                  </v-row>
                  <br><br>
                  <v-row justify="center">
                  <v-btn
                    rounded
                    color="primary"
                    dark
                    type="submit"
                    :disabled="invalid"
                    @click="guardarFase()"
                  >
                    Guardar
                  </v-btn>
                  <v-btn
                  style="margin-left: 20px"
                    rounded
                    color="primary"
                    dark
                    @click="goBack()"
                  >
                    Cancelar
                  </v-btn>
                  </v-row>
                </v-form>
                </validation-observer>
          </v-col>
      </v-row>
      <v-snackbar
      v-model="snack"
      :timeout="3000"
      :color="snackColor"
    >
      {{ snackText }}

      <template v-slot:action="{ attrs }">
        <v-btn
          v-bind="attrs"
          text
          @click="snack = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import CabeceraIzq from '@/components/Profesor/CabeceraIzq'
import PreguntasDialog from '@/components/Profesor/PreguntasDialog'
import PreguntaDisplay from '@/components/Profesor/PreguntaDisplay'
import axios from 'axios'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
setInteractionMode('eager')
extend('required', {
  ...required,
  message: 'Este campo es obligatorio'
})
extend('nameRules', {validate (value, args) { return value && value.length > 0 }, message: 'Se requiere un nombre'})
extend('cantTries', {validate (value, args) { return value && value > 0 }, message: 'Debe haber al menos 1 intento permitido'})
extend('fechaIniRules', {params: ['date'], validate (value, {date}) { return value && value.length > 0 && value <= date }, message: 'La fecha debe ser valida'})
extend('fechaFinRules', {params: ['date'], validate (value, {date}) { return value && value.length > 0 && value >= date }, message: 'La fecha debe ser valida'})
extend('horaIniRules', {params: ['hour'], validate (value, {hour}) { return value && value.length > 0 && value <= hour }, message: 'La hora debe ser valida'})
extend('horaFinRules', {params: ['hour'], validate (value, {hour}) { return value && value.length > 0 && value >= hour }, message: 'La hora debe ser valida'})
extend('cantPregAsignRules', {params: ['total'], validate (value, {total}) { return value && value > 0 && value <= total }, message: 'Debe haber al menos 1 pregunta asignada y no debe sobrepasar el total'})
extend('pesoRules', {validate (value, args) { return !!value && value > 0 && value <= 100 }, message: 'Se debe asignar un peso de 1 al 100 a la fase'})

export default {
  components: {
    CabeceraGeneral, CabeceraIzq, PreguntasDialog, PreguntaDisplay, ValidationObserver, ValidationProvider
  },
  data () {
    return {
      snack: false,
      snackColor: null,
      snackText: null,
      valid: false,
      regla: [v => v[0] !== '0' || 'No se permiten ceros a la izquierda'],
      editedIndex: -1,
      edit: false,
      extraPreg: [],
      expanded: [],
      singleExpand: true,
      preguntas: [],
      preguntasAux: [],
      phase: {
        id: null,
        nombre: null,
        fecha_ini: new Date().toISOString().substr(0, 10),
        fecha_fin: new Date().toISOString().substr(0, 10),
        hora_ini: null,
        hora_fin: null,
        num_preguntas_por_alumno: null,
        num_preguntas_total: 0,
        peso: null,
        num_intentos: null,
        laboratorio: null
      },
      time: null,
      time2: null,
      allowSpaces: false,
      match: 'Foobar',
      max: 0,
      model: 'Foobar',
      menu: false,
      menu2: false,
      menu3: false,
      menu4: false
    }
  },
  methods: {
    submit () {
      this.$refs.observer.validate()
    },
    agregarPuntajes () {
      console.log('actualizando preguntas')
      const len = this.preguntas.length
      console.log(len)
      for (var i = 0; i < len; i++) {
        this.preguntas[i]['puntaje'] = this.extraPreg[i].puntaje
      }
      console.log(this.preguntas)
    },
    getIntermidiateID (idPreg) {
      console.log(this.extraPreg)
      for (const p of this.extraPreg) {
        if (p.pregunta.id === idPreg) {
          return p.id
        }
      }
      return -1
    },
    async guardarFase () {
      console.log('guardando')
      if (this.$route.params.id !== -1 && this.$route.params.id) {
        // se esta editando
        console.log('editando 1')
        if (this.$route.params.lab && this.$route.params.lab !== -1) {
          this.phase.laboratorio = this.$route.params.lab
          const path = `http://ec2-54-92-230-86.compute-1.amazonaws.com/api/fase/${this.phase.id}/`
          try {
            const response = await axios.patch(path, this.phase)
            console.log(response)
            for (const p of this.preguntas) {
              const preg = {
                puntaje: p.puntaje,
                pregunta: p.id,
                fase: this.phase.id
              }
              const idd = this.getIntermidiateID(p.id)
              if (idd > -1) {
                const pathPreg = `http://ec2-54-92-230-86.compute-1.amazonaws.com/api/pregunta_fase/${idd}/`
                const resp = await axios.patch(pathPreg, preg)
                console.log(resp)
              } else {
                const pathPreg = 'http://ec2-54-92-230-86.compute-1.amazonaws.com/api/pregunta_fase/'
                const resp = await axios.post(pathPreg, preg)
                console.log(resp)
              }
            }
            const ruta = `http://ec2-54-92-230-86.compute-1.amazonaws.com/api/asignar_preguntas_alumnos/${this.phase.id}/`
            const resp = await axios.get(ruta)
            console.log(resp)
            this.goBack()
          } catch (error) {
            console.log(error)
          }
        }
        console.log('editando')
      } else {
        // se esta creando
        console.log('creando')
        if (this.$route.params.lab && this.$route.params.lab !== -1) {
          this.phase.laboratorio = this.$route.params.lab
          const path = 'http://ec2-54-92-230-86.compute-1.amazonaws.com/api/fase/'
          try {
            const response = await axios.post(path, this.phase)
            this.phase.id = response.data.id
            for (const p of this.preguntas) {
              const preg = {
                puntaje: p.puntaje,
                pregunta: p.id,
                fase: this.phase.id
              }
              const pathPreg = 'http://ec2-54-92-230-86.compute-1.amazonaws.com/api/pregunta_fase/'
              const resp = await axios.post(pathPreg, preg)
              console.log(resp)
            }
            const ruta = `http://ec2-54-92-230-86.compute-1.amazonaws.com/api/asignar_preguntas_alumnos/${this.phase.id}/`
            const resp = await axios.get(ruta)
            console.log(resp)
            this.goBack()
          } catch (error) {
            console.log(error)
          }
        }
      }
    },
    save (item) {
      this.editedIndex = this.preguntas.indexOf(item)
      if (this.editedIndex > -1) {
        let editedItem = Object.assign({}, this.preguntas[this.editedIndex])
        editedItem.puntaje = parseInt(item.puntaje, 10)
        this.preguntas.splice(this.editedIndex, 1, editedItem)
        this.editedIndex = -1
        this.$forceUpdate()
      }
      this.snack = true
      this.snackColor = 'success'
      this.snackText = 'Puntaje actualizado'
      console.log('item -----')
      console.log(item)
    },
    cancel () {
      this.snack = true
      this.snackColor = 'error'
      this.snackText = 'Cancelado'
    },
    open () {
      this.snack = true
      this.snackColor = 'info'
      this.snackText = 'Editar abierto'
    },
    close () {
      console.log('Dialog closed')
    },
    async deleteItem (item) {
      console.log('delete')
      console.log(item)
      this.editedIndex = this.preguntas.indexOf(item)
      console.log(`editedIndex:${this.editedIndex}`)
      if (this.editedIndex > -1) {
        const config = {
          headers: { Authorization: `Bearer ${this.$store.state.token}` }
        }
        const idd = this.getIntermidiateID(item.id)
        console.log(idd)
        if (idd > -1) {
          const pathPreg = `http://ec2-54-92-230-86.compute-1.amazonaws.com/api/pregunta_fase/${idd}/`
          try {
            const response = await axios.delete(pathPreg, config)
            console.log('eliminando ---')
            console.log(response)
            this.preguntas.splice(this.editedIndex, 1)
            if (this.phase.num_preguntas_por_alumno === this.phase.num_preguntas_total) {
              this.phase.num_preguntas_total--
              this.phase.num_preguntas_por_alumno--
            } else {
              this.phase.num_preguntas_total--
            }
            await this.getExtra(this.$route.params.id)
            this.agregarPuntajes()
          } catch (error) {
            console.log(error)
          }
        } else {
          this.preguntas.splice(this.editedIndex, 1)
          if (this.phase.num_preguntas_por_alumno === this.phase.num_preguntas_total) {
            this.phase.num_preguntas_total--
            this.phase.num_preguntas_por_alumno--
          } else {
            this.phase.num_preguntas_total--
          }
        }
      }
      this.editedIndex = -1
    },
    actualizarPreg (preg) {
      console.log('actualizando...')
      this.preguntas = preg
      const len = this.preguntas.length
      for (var i1 = 0; i1 < len; i1++) {
        this.preguntas[i1]['puntaje'] = 0
      }
      for (const preg of this.preguntasAux) {
        const index = this.preguntas.indexOf(preg)
        if (index === -1) {
          this.preguntas.push(preg)
        }
      }
      this.phase.num_preguntas_total = this.preguntas.length
    },
    goBack () {
      this.$router.go(-1)
    },
    getPhase (id) {
      console.log(id)
      const path = `http://ec2-54-92-230-86.compute-1.amazonaws.com/api/fase/${id}/`
      axios.get(path).then((response) => {
        this.phase = Object.assign({}, response.data)
      })
        .catch((error) => {
          console.log(error)
        })
    },
    async getExtra (id) {
      const path = `http://ec2-54-92-230-86.compute-1.amazonaws.com/api/pregunta_con_fase/${id}/`
      const config = {
        headers: { Authorization: `Bearer ${this.$store.state.token}` }
      }
      try {
        const response = await axios.get(path, config)
        this.extraPreg = response.data
        console.log('extraaaa ----')
        console.log(this.extraPreg)
      } catch (error) {
        console.log(error)
      }
    },
    async getPregs (id) {
      const path = `http://ec2-54-92-230-86.compute-1.amazonaws.com/api/preguntas_por_fase/${id}/`
      const config = {
        headers: { Authorization: `Bearer ${this.$store.state.token}` }
      }
      try {
        const response = await axios.get(path, config)
        this.preguntas = response.data
        this.agregarPuntajes()
        console.log('Preguntas ---')
        console.log(response)
        this.preguntasAux = [...this.preguntas]
      } catch (error) {
        console.log(error)
      }
    },
    validateField () {
      this.$refs.form.validate()
    }
  },
  async created () {
    if (this.$route.params.id !== -1) {
      await this.getPhase(this.$route.params.id)
      await this.getExtra(this.$route.params.id)
      await this.getPregs(this.$route.params.id)
      this.agregarPuntajes()
    }
  },
  mounted () {
    if (this.$route.params.id !== -1 && this.$route.params.id) {
      this.submit()
    }
  },
  computed: {
    headers () {
      return [
        {text: 'ID', value: 'id'},
        {text: 'Pregunta', value: 'texto_pregunta'},
        {text: 'Puntaje', value: 'puntaje'},
        { text: 'Acciones', value: 'actions', align: 'end', sortable: false }
      ]
    }
  }

}
</script>

<style>

</style>
