<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzq></CabeceraIzq>
            <v-col>
                <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span @click="borrarDatos"><a href="/Profesor" style="color: #1B4965">Volver a cursos</a></span>
                <v-row align="center" justify="center" class="mt-5">
                <v-toolbar class="secundario">
                    <v-spacer></v-spacer>
                    <h1 class="font-weight-regular primario--text">{{ciclo}} {{ nombre }} ( {{ codigo }} - {{horario}})</h1>
                    <v-spacer></v-spacer>
                </v-toolbar>
                </v-row>
                <h1>{{this.$route.params.labNombre}}</h1>
                <ResumenRespuestasFase></ResumenRespuestasFase>
                <v-spacer></v-spacer>
                <v-btn
                    color="#1B4965"
                    dark
                    class="mb-2"
                    :to="{name: 'ResumenNotasFase', params: {nombreLab: this.$route.params.labNombre}}"
                >
                    Ver notas parciales
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import ResumenRespuestasFase from '@/components/Profesor/ResumenRespuestasFase'
import CabeceraIzq from '@/components/Profesor/CabeceraIzq'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'

export default {
  data: () => ({
    id: '',
    ciclo: '',
    nombre: '',
    codigo: '',
    horario: ''
  }),
  components: {
    CabeceraIzq, CabeceraGeneral, ResumenRespuestasFase
  },
  mounted () {
    if (localStorage.ciclo) {
      this.ciclo = localStorage.ciclo
    }
    if (localStorage.nombre) {
      this.nombre = localStorage.nombre
    }
    if (localStorage.codigo) {
      this.codigo = localStorage.codigo
    }
    if (localStorage.horario) {
      this.horario = localStorage.horario
    }
  },
  methods: {
    buscarDatos () {
      localStorage.getItem('id')
      localStorage.getItem('ciclo')
      localStorage.getItem('nombre')
      localStorage.getItem('codigo')
      localStorage.getItem('horario')
    },
    borrarDatos () {
      localStorage.removeItem('id')
      localStorage.removeItem('ciclo')
      localStorage.removeItem('nombre')
      localStorage.removeItem('codigo')
      localStorage.removeItem('horario')
    }
  },
  created () {
    this.buscarDatos()
  }
}
</script>
