<template>
  <v-card>
    <v-card-title class="primario--text">
      Asistencia
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="alumnos"
      :search="search"
      class="primario--text font-weight-medium text-uppercase"
    >
    </v-data-table>
  </v-card>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'Asistencia',
  data () {
    return {
      search: '',
      alumnos: [],
      headers: [],
      asistencias: [],
      codigo: '',
      laboratorios: [],
      horario: this.$route.params.id_horario
    }
  },
  methods: {
    getAsistencia () {
      const path = `/api/asistencia_horario/${this.horario}/`
      axios.get(path).then((response) => {
        this.asistencias = response.data
        this.codigo = this.asistencias.codigo
        this.laboratorios = this.asistencias.laboratorios
        for (let i = 0; i < this.laboratorios.length; i++) {
          let row = {}
          if (i === 0) {
            let row1 = {}
            row1['text'] = 'Usuario'
            row1['value'] = 'username'
            this.headers.push(Object.assign({}, row1))
          }
          row['text'] = this.laboratorios[i].nombre
          row['value'] = this.laboratorios[i].nombre
          this.headers.push(Object.assign({}, row))
        }
        /*
        for(let m = 0; m < this.laboratorios.length; m++){
          let row = {};
          for(let n = 0; n < this.laboratorios[m].estudiantes.length; n++){
            if (m == 0){
              row['username'] = this.laboratorios[m].estudiantes[n].estudiante.username;
              row[this.laboratorios[m].nombre] = this.laboratorios[m].estudiantes[n].asistencia;
              this.alumnos.push(Object.assign({}, row))
            } else{
              for(let o = 0; o < this.e.length; o++){
                if(this.laboratorios[m].estudiantes[n].estudiante.username == this.e[o].username){
                  console.log("yes")
                  row[this.laboratorios[m].nombre] = this.laboratorios[m].estudiantes[n].asistencia;
                  let dato = this.alumnos[o];
                  dato.push(row)
                  this.alumnos = dato
                  console.log(this.alumnos)
                }
              }
            }
          }
        } */
        for (let m = 0; m < this.laboratorios[0].estudiantes.length; m++) {
          let row = {}
          for (let n = 0; n < this.laboratorios.length; n++) {
            if (n === 0) {
              row['username'] = this.laboratorios[n].estudiantes[m].estudiante.username
            }
            if (this.laboratorios[n].estudiantes[m].asistencia === null) {
              row[this.laboratorios[n].nombre] = 'NO'
            } else {
              row[this.laboratorios[n].nombre] = 'SI'
            }
            // row[this.laboratorios[n].nombre] = this.laboratorios[n].estudiantes[m].asistencia
          }
          this.alumnos.push(Object.assign({}, row))
        }
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    this.getAsistencia()
  }
}
</script>
