<template>
    <div>
        <v-navigation-drawer  class="primario white--text center" dark
        expand-on-hover
        permanent
        >
            <v-card class="primario white--text center" dark>
                <v-divider></v-divider>
                <v-list dense>
                    <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    :to="item.link"
                    >
                    <v-list-item-icon>
                        <v-icon class="mt-5">{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title class="mt-5">{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-navigation-drawer>
    </div>
</template>

<script>
export default {
  data () {
    return {
      id: '',
      ciclo: '',
      nombre: '',
      codigo: '',
      horario: '',
      items: [
        { title: 'INICIO', icon: 'mdi-home', link: `/ProfesorCurso/${this.$route.params.id_horario}/curso=${this.$route.params.id_curso}` },
        { title: 'PARTICIPANTES', icon: 'mdi-account-group', link: `/ProfesorCurso/${this.$route.params.id_horario}/${this.$route.params.id_curso}/participantes` },
        { title: 'BANCO DE PREGUNTAS', icon: 'mdi-book-open-variant', link: `/ProfesorBanco/${this.$route.params.id_curso}/${this.$route.params.id_horario}` },
        { title: 'ASISTENCIA', icon: 'mdi-account-check', link: `/ProfesorCurso/${this.$route.params.id_horario}/${this.$route.params.id_curso}/asistencia` },
        { title: 'NOTAS', icon: 'mdi-medal', link: `/ProfesorCurso/${this.$route.params.id_horario}/${this.$route.params.id_curso}/notas` }
      ],
      mini: true
    }
  },
  mounted () {
    if (localStorage.id) {
      this.id = localStorage.id
    }
    if (localStorage.ciclo) {
      this.ciclo = localStorage.ciclo
    }
    if (localStorage.nombre) {
      this.nombre = localStorage.nombre
    }
    if (localStorage.codigo) {
      this.codigo = localStorage.codigo
    }
    if (localStorage.horario) {
      this.horario = localStorage.horario
    }
  },
  methods: {
    buscarDatos () {
      localStorage.getItem('id')
      localStorage.getItem('ciclo')
      localStorage.getItem('nombre')
      localStorage.getItem('codigo')
      localStorage.getItem('horario')
    }
  },
  created () {
    this.buscarDatos()
  }
}
</script>
