<template>
  <div>
      <v-btn
            tile
            color="primario"
            dark
            bottom
            right
            absolute
            style="margin-right:440px;"
            @click="dialog=true"
          >
            <v-icon>mdi-plus</v-icon>
            <h3 class="font-weight-regular">Añadir Guia</h3>
          </v-btn>
      <v-dialog v-model="dialog" max-width="800px">
          <v-card>
              <v-card-title> Crear Guia Teorica</v-card-title>
                <v-text-field v-model="title" label="Titulo de la guia teorica"  style="padding:10px"></v-text-field>
                <vue-editor id='Editor' useCustomImageHandler @image-added="handleImageAdded" v-model="guia" style="padding:10px"></vue-editor>
              <v-card-actions>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="cerrar()"
                >
                    Cancelar
                </v-btn>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="guardarGuia()"
                >
                    Guardar
                </v-btn></v-card-actions>
          </v-card>
      </v-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import { VueEditor } from 'vue2-editor'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  components: {
    VueEditor
  },
  data: () => ({
    guia: null,
    dialog: false,
    title: ''
  }),
  methods: {
    handleImageAdded: function (file, Editor, cursorLocation, resetUploader) {
      // An example of using FormData
      // NOTE: Your key could be different such as:
      // formData.append('file', file)

      var formData = new FormData()
      formData.append('imagen', file)
      console.log('INTENTANDO GUARDAR IMAGEN')
      axios.post('/api/richtext_imagen/',
        formData, {headers: {
          'Content-Type': 'multipart/form-data'}
        }).then((response) => {
        console.log(response)
        let url = response.data.imagen // Get url from response
        Editor.insertEmbed(cursorLocation, 'image', url)
        resetUploader()
      })
        .catch(err => {
          console.log(err)
        })
    },
    cerrar () {
      this.dialog = false
      this.guia = null
      this.title = ''
    },
    async guardarGuia () {
      const path = '/api/guia_teorica/'
      try {
        const newGuia = { laboratorio: this.lab, titulo: this.title, rich_text: this.guia }
        const response = await axios.post(path, newGuia)
        console.log(response)
        this.$router.go()
      } catch (error) {
        console.log(error)
      }
    }
  },
  props: {
    lab: Number
  }
}
</script>

<style>

</style>
