<template>
  <div>
    <v-list>
        <v-list-item
          v-for="(item, i) in items.fases"
          :key="i"
        >
        <v-row>
          <v-col md="4">
            <router-link style="text-decoration: none" class="primario--text text-body-1" :to="{ name: 'ResumenRespuestasJP',
          params: {id_lab: items.id, id_fase: item.id,
          labNombre: items.nombre,
          faseNombre: item.nombre,
          fasePeso: item.peso}}"> {{ item.nombre }} </router-link>
          </v-col>
          <v-list-item-icon style="margin-left: 58.73%">
                <v-icon
                medium
                class="mr-2"
                @click="goLive(item,items.id)"
                >
                  mdi-signal-distance-variant
                </v-icon>
                <v-icon
                  medium
                  class="mr-2"
                  @click="alertEmail(item)"
                >
                    mdi-email-alert-outline
                </v-icon>
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item)"
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                    small
                    @click="deleteItem(item)"
                >
                    mdi-delete
                </v-icon>
          </v-list-item-icon>
          </v-row>
        </v-list-item>
    </v-list>
    <v-spacer></v-spacer>
    <h2>Lista de documentos</h2>
    <v-list v-if="items.guias_doc.length !== 0">
      <v-list-item v-for="(item,i) in items.guias_doc" :key="i">
        <v-row>
          <v-col md="4">
             <span @click="openFile(item)">{{ getNombre(item) }}</span>
          </v-col>
          <v-list-item-icon style="margin-left: 60%">
                <v-icon
                    small
                    @click="deleteDoc(item)"
                >
                    mdi-delete
                </v-icon>
          </v-list-item-icon>
          </v-row>
      </v-list-item>
    </v-list>
    <span v-else> No hay documentos</span>
    <v-divider class="mt-5"></v-divider>
    <v-row justify="center">
      <v-dialog v-model="dialogMail" max-width="600px">
        <v-card>
          <v-card-title class="headline"> ¿Desea enviar una notificacion por correo?</v-card-title>
        <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeEmail">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="emailConfirm">Aceptar</v-btn>
              <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <br>
    <v-row justify="center">
      <v-dialog v-model="dialog" max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            tile
            color="primario"
            dark
            bottom
            right
            absolute
            style="margin-right:200px"
            @click="agregarArchivo(items)"
          >
            <v-icon>mdi-plus</v-icon>
            <h3 class="font-weight-regular">Añadir Archivo</h3>
          </v-btn>
          <v-btn
            tile
            color="primario"
            dark
            bottom
            right
            absolute
            @click="agregarFase()"
          >
            <v-icon>mdi-plus</v-icon>
            <h3 class="font-weight-regular">Añadir fase</h3>
          </v-btn>
        </template>
        <!--v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="editedItem.nombre"
                    label="Nombre*"
                    required
                  ></v-text-field>
                </v-col>
                <v-checkbox v-model="enabled2" hide-details class="shrink mr-2 mt-0"></v-checkbox>
                <h3 class="font-weight-regular">Es una evaluación</h3>
                <v-row>
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      v-model="editedItem.num_preguntas_por_alumno"
                      v-show="enabled2"
                      :rules="[() => !!editedItem.num_preguntas_por_alumno || 'Este campo es obligatorio']"
                      label="Número de preguntas por alumno*"
                      required
                      placeholder="10"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      v-model="editedItem.num_preguntas_total"
                      v-show="enabled2"
                      :rules="[() => !!editedItem.num_preguntas_total || 'Este campo es obligatorio']"
                      label="Número de preguntas totales*"
                      required
                      placeholder="15"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-menu
                      v-model="menu3"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="editedItem.fecha_ini"
                          v-show="enabled2"
                          label="Fecha de inicio"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="editedItem.fecha_ini" locale="es" no-title @input="menu3 = false">
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col
                    cols="11"
                    sm="5"
                  >
                    <v-menu
                      ref="menu1"
                      v-model="menu4"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="time"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="editedItem.hora_ini"
                          v-show="enabled2"
                          label="Hora de inicio"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="menu4"
                        v-model="editedItem.hora_ini"
                        full-width
                        @click:minute="$refs.menu1.save(editedItem.hora_ini)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-menu
                      v-model="menu5"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="editedItem.fecha_fin"
                          v-show="enabled2"
                          label="Fecha fin"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="editedItem.fecha_fin" locale="es" no-title @input="menu5 = false">
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col
                    cols="11"
                    sm="5"
                  >
                    <v-menu
                      ref="menu2"
                      v-model="menu6"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="time2"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="editedItem.hora_fin"
                          v-show="enabled2"
                          label="Hora fin"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="menu6"
                        v-model="editedItem.hora_fin"
                        full-width
                        @click:minute="$refs.menu2.save(editedItem.hora_fin)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-row>
            </v-container>
            <span>* Indica que el campo es obligatorio</span>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="close"
            >
              Cerrar
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click="save"
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card-->
      </v-dialog>
      <v-dialog
            v-model="dialogArch"
            max-width="400px"
            >
            <v-card>
              <validation-observer ref="observer"
                  v-slot="{ invalid }">
              <v-form @submit.prevent="submit">
                <v-card-title>
                <span class="headline">Carga de guia</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                      <v-row>
                        <validation-provider
                            inmediate
                            v-slot="{ errors }"
                            name="documento"
                            rules="required"
                          >
                        <v-file-input
                          v-model="guia.file"
                          placeholder="Seleccione el archivo a subir"
                          label="Archivo"
                          :error-messages="errors"
                        ></v-file-input>
                        </validation-provider>
                    </v-row>
                    <v-row>
                    <v-menu
                        ref="menuu"
                        v-model="menuu"
                        :close-on-content-click="false"
                        :return-value.sync="guia.fecha_autorizacion"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <validation-provider
                            inmediate
                            v-slot="{ errors }"
                            name="fecha"
                            rules="required"
                          >
                          <v-text-field
                            v-model="guia.fecha_autorizacion"
                            label="Fecha de Autorizacion"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            :error-messages="errors"
                          ></v-text-field>
                          </validation-provider>
                        </template>
                        <v-date-picker
                          v-model="guia.fecha_autorizacion"
                          no-title
                          scrollable
                        >
                          <v-spacer></v-spacer>
                          <v-btn
                            text
                            color="primary"
                            @click="menuu = false"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            text
                            color="primary"
                            @click="$refs.menuu.save(guia.fecha_autorizacion)"
                          >
                            OK
                          </v-btn>
                        </v-date-picker>
                      </v-menu>
                    </v-row>
                    <v-row>
                      <v-menu
                      ref="menuu2"
                      v-model="menuu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="time"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <validation-provider
                            inmediate
                            v-slot="{ errors }"
                            name="hora"
                            rules="required"
                          >
                        <v-text-field
                          v-model="guia.hora_autorizacion"
                          label="Hora de autorizacion"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                          :error-messages="errors"
                        ></v-text-field>
                        </validation-provider>
                      </template>
                      <v-time-picker
                        v-if="menuu2"
                        v-model="guia.hora_autorizacion"
                        full-width
                        @click:minute="$refs.menuu2.save(guia.hora_autorizacion)"
                      ></v-time-picker>
                    </v-menu>
                    </v-row>
                </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="close_CM"
                >
                    Cancelar
                </v-btn>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="guardar_CM2"
                    :disabled="invalid"
                >
                    Guardar
                </v-btn>
                </v-card-actions>
                </v-form>
                </validation-observer>
            </v-card>
          </v-dialog>
      <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">¿Está seguro de eliminar la fase?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      <v-dialog v-model="dialogError1" max-width="400px">
          <v-card>
            <v-card-text class="headline" align="center">Error el número de preguntas por alumno debe ser un número</v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeError1">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      <v-dialog v-model="dialogError2" max-width="400px">
          <v-card>
            <v-card-text class="headline" align="center">Error el número de preguntas totales debe ser un número</v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeError2">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-row>
    <v-snackbar
      v-model="snack"
      :timeout="3000"
      :color="snackColor"
    >
      {{ snackText }}

      <template v-slot:action="{ attrs }">
        <v-btn
          v-bind="attrs"
          text
          @click="snack = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import axios from 'axios'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
setInteractionMode('eager')
extend('required', {
  ...required,
  message: 'Este campo es obligatorio'
})
export default {
  components: {
    ValidationObserver, ValidationProvider
  },
  data: () => ({
    menuu: false,
    menuu2: false,
    editedID: -1,
    id: -1,
    guia: {
      fecha_autorizacion: null,
      hora_autorizacion: null,
      file: null,
      fase: null
    },
    dialogArch: false,
    snack: false,
    snackColor: '',
    snackText: '',
    dialogMail: false,
    fases: null,
    dialog: false,
    dialogDelete: false,
    dialogError1: false,
    dialogError2: false,
    fecha_ini: new Date().toISOString().substr(0, 10),
    fecha_fin: new Date().toISOString().substr(0, 10),
    menu: false,
    menu1: false,
    menu2: false,
    menu3: false,
    enabled2: false,
    time: null,
    time2: null,
    time3: null,
    menu4: false,
    menu5: false,
    menu6: false,
    menu7: false,
    dato: [],
    editedIndex: -1,
    editedItem: {
      nombre: '',
      peso: 4,
      num_preguntas_por_alumno: null,
      num_preguntas_total: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      laboratorio: null
    },
    auxItem: {
      nombre: '',
      peso: 4,
      num_preguntas_por_alumno: null,
      num_preguntas_total: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      laboratorio: null
    },
    defaultItem: {
      nombre: '',
      peso: 4,
      num_preguntas_por_alumno: null,
      num_preguntas_total: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      laboratorio: null
    }
  }),
  methods: {
    submit () {
      this.$refs.observer.validate()
    },
    openFile (item) {
      const path = extraConfig.backPath
      window.open(path + item.documento.slice(1), '_blank')
    },
    async deleteDoc (item) {
      const path = `/api/guia/${item.id}/`
      try {
        const response = await axios.delete(path)
        console.log(response)
        this.$router.go()
      } catch (error) {
        console.log(error)
      }
    },
    editDoc (item) {
      this.dialogArch = true
      this.editedID = item.id
      this.guia = {...item}
    },
    getNombre (item) {
      const splitted = item.documento.split('/')
      const len = splitted.length
      return splitted[len - 1]
    },
    agregarArchivo (items) {
      this.dialogArch = true
      this.id = items.id
    },
    close_CM () {
      this.dialogArch = false
      this.guia.file = null
      this.guia.fecha_autorizacion = null
      this.guia.hora_autorizacion = null
      this.guia.fase = null
      this.$nextTick(() => {
      })
    },
    async guardar_CM2 () {
      const formData = new FormData()
      const config = {headers: {
        'Content-Type': 'multipart/form-data'}
      }
      formData.append('documento', this.guia.file)
      formData.append('fecha_autorizacion', this.guia.fecha_autorizacion)
      formData.append('hora_autorizacion', this.guia.hora_autorizacion)
      formData.append('laboratorio', this.id)
      const path = '/api/guia/'
      try {
        const response = await axios.post(path, formData, config)
        console.log(response)
        this.$router.go()
      } catch (error) {
        this.id = -1
        console.log(error)
      }
    },
    goLive (item, id) {
      this.$router.push({name: 'JPFaseLive', params: {id_lab: id, id_fase: item.id, id_horario: this.$route.params.id_horario, id_curso: this.$route.params.id_curso}})
    },
    closeEmail () {
      this.dialogMail = false
      this.snackText = 'Envio de notificacion cancelado'
      this.snackColor = 'info'
      this.snack = true
    },
    async emailConfirm () {
      this.dialogMail = false
      try {
        const path = `/api/correo/${this.auxItem.id}/`
        const response = await axios.get(path)
        if (response.status === 200) {
          this.snackText = 'Envio de notificacion correcto'
          this.snackColor = 'success'
          this.snack = true
        } else {
          this.snackText = 'Error en el envio de notificacion'
          this.snackColor = 'error'
          this.snack = true
        }

        console.log(response)
      } catch (error) {
        console.log(error)
      }
    },
    alertEmail (item) {
      console.log(item)
      this.auxItem = Object.assign({}, item)
      this.dialogMail = true
    },
    agregarFase () {
      console.log(this.items.id)
      this.$router.push({name: 'JPFase', params: {id: -1, lab: this.items.id}})
    },
    editItem (item) {
      this.editedIndex = this.items.fases.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.$router.push({name: 'JPFase', params: {id: item.id, lab: this.items.id}})
    },
    deleteItem (item) {
      this.editedIndex = this.items.fases.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    deleteItemConfirm () {
      this.items.fases.splice(this.editedIndex, 1)
      const path = `/api/fase/${this.editedItem.id}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
      })
        .catch((error) => {
          console.log(error)
        })
      this.closeDelete()
    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeError1 () {
      this.dialogError1 = false
      this.editItem(this.editedItem)
    },
    closeError2 () {
      this.dialogError2 = false
      this.editItem(this.editedItem)
    },
    save () {
      if (this.enabled2 === false) {
        this.editedItem.num_preguntas_por_alumno = 0
        this.editedItem.num_preguntas_total = 0
        this.editedItem.fecha_ini = null
        this.editedItem.fecha_fin = null
        this.editedItem.hora_ini = null
        this.editedItem.hora_fin = null
      } else {
        if (this.editedItem.num_preguntas_por_alumno === null) {
          this.dialogError1 = true
        }
        if (this.editedItem.num_preguntas_total === null) {
          this.dialogError2 = true
        }
      }
      if (this.editedIndex > -1) {
        this.auxItem = this.editedItem
        Object.assign(this.items.fases[this.editedIndex], this.editedItem)
        const path = `/api/fase/${this.auxItem.id}/`
        axios.patch(path, this.editedItem).then((response) => {
          this.dato = response.data
        })
          .catch((error) => {
            console.log(error)
          })
      } else {
        this.auxItem = this.editedItem
        this.auxItem.peso = 4
        this.auxItem.laboratorio = this.items.id
        this.items.fases.push(this.editedItem)
        const path = '/api/fase/'
        axios.post(path, this.auxItem).then((response) => {
          this.dato = response.data
        })
          .catch((error) => {
            console.log(error)
          })
      }
      this.close()
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nueva fase' : 'Editar fase'
    }
  },
  props: {
    items: Object
  }
}
</script>
