<template>
  <div>
    <template>
      <v-row justify="center">
        <v-expansion-panels accordion>
          <v-expansion-panel
            v-for="(items, laboratorio) in laboratoriosFases.laboratorios"
            :key="laboratorio.id"
          >
            <v-expansion-panel-header disable-icon-rotate class="primario--text font-weight-medium text-h5 px-15">
              {{ items.nombre }}
              <template v-slot:actions>
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(items)"
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                    small
                    @click="deleteItem(items)"
                >
                    mdi-delete
                </v-icon>
                <v-icon color="primary">
                  $expand
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content class="px-15">
              <CrearEtiquetaFase v-bind:items="items"></CrearEtiquetaFase>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-row>
    </template>
    <v-spacer></v-spacer>
    <v-divider class="mt-15"></v-divider>
    <v-row justify="center">
      <v-dialog v-model="dialog2" max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            tile
            color="primario"
            dark
            bottom
            left
            absolute
            @click="dialog2 = !dialog2"
          >
            <h3 class="font-weight-regular" v-bind="attrs" v-on="on">Importar Laboratorio</h3>
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Importar Laboratorio</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <h4>Buscar laboratorio por horario: </h4>
                </v-col>
                <v-select class="secundario"
                  v-model="id_horAnt"
                  :items="horariosAnteriores.horarios"
                  label="Elija un horario"
                  item-text="codigo"
                  item-value="id"
                  hide-selected
                  solo
                ></v-select>
                <v-btn color="primario" right class="white--text" @click="labsAnt">
                  Buscar
                </v-btn>
              </v-row>
              <v-row>
                {{id_cicloSel}}
                <v-expansion-panels accordion>
                  <v-expansion-panel
                    v-for="(items, laboratorio) in laboratoriosAnteriores.laboratorios"
                    :key="laboratorio.id"
                  >
                    <v-expansion-panel-header disable-icon-rotate class="primario--text font-weight-medium text-h5 px-15">
                      {{ items.nombre }}
                      <v-spacer class="ml-10"></v-spacer>
                      <v-btn color="primario" right class="white--text" @click="importa(items)">
                        Importar
                      </v-btn>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content class="px-15">
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-row>
            </v-container>
            <span>* Indica que el campo es obligatorio</span>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="close2"
            >
              Cerrar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialog" max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            tile
            color="primario"
            dark
            bottom
            center
            absolute
            @click="dialog = !dialog"
          >
            <v-icon v-bind="attrs" v-on="on">mdi-plus</v-icon>
            <h3 class="font-weight-regular" v-bind="attrs" v-on="on">Añadir laboratorio</h3>
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="editedItem.nombre"
                    label="Nombre*"
                    required
                    :rules="rulesNombre"
                    counter="100"
                    maxlenght="100"
                  ></v-text-field>
                </v-col>
                <v-row>
                  <v-col cols="6" sm="6" md="6">
                    <!-- Fecha Inicio-->
                      <v-menu
                        ref="menu11"
                        v-model="menu11"
                        :close-on-content-click="false"
                        :return-value.sync="editedItem.fecha_ini"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="editedItem.fecha_ini"
                            label="Fecha de Inicio"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="editedItem.fecha_ini"
                          no-title
                          scrollable
                        >
                          <v-spacer></v-spacer>
                          <v-btn
                            text
                            color="primary"
                            @click="menu11 = false"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            text
                            color="primary"
                            @click="$refs.menu11.save(editedItem.fecha_ini)"
                          >
                            OK
                          </v-btn>
                        </v-date-picker>
                      </v-menu>
                  </v-col>
                  <v-col cols="6" sm="6" md="6">
                    <v-menu
                      ref="menu22"
                      v-model="menu22"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="time"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="editedItem.hora_ini"
                          label="Hora de inicio*"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="menu22"
                        v-model="editedItem.hora_ini"
                        full-width
                        @click:minute="$refs.menu22.save(editedItem.hora_ini)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6" sm="6" md="6">
                    <!-- Fecha Fin-->
                      <v-menu
                        ref="menu33"
                        v-model="menu33"
                        :close-on-content-click="false"
                        :return-value.sync="editedItem.fecha_fin"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="editedItem.fecha_fin"
                            label="Fecha de Fin"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="editedItem.fecha_fin"
                          no-title
                          scrollable
                        >
                          <v-spacer></v-spacer>
                          <v-btn
                            text
                            color="primary"
                            @click="menu33 = false"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            text
                            color="primary"
                            @click="$refs.menu33.save(editedItem.fecha_fin)"
                          >
                            OK
                          </v-btn>
                        </v-date-picker>
                      </v-menu>
                  </v-col>
                  <v-col cols="6" sm="6" md="6">
                    <v-menu
                      ref="menu44"
                      v-model="menu44"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="time"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="editedItem.hora_fin"
                          label="Hora de Fin*"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="menu44"
                        v-model="editedItem.hora_fin"
                        full-width
                        @click:minute="$refs.menu44.save(editedItem.hora_fin)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-menu
                      v-model="menu1"
                      :close-on-content-click="false"
                      :nudge-center="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="editedItem.fecha_notificacion"
                          :disabled="!enabled1"
                          label="Fecha de publicación"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="editedItem.fecha_notificacion" locale="es" no-title @input="menu1 = false">
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col
                    cols="11"
                    sm="4"
                  >
                    <v-menu
                      ref="menu8"
                      v-model="menu7"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="time3"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="editedItem.hora_notificacion"
                          :disabled="!enabled1"
                          label="Hora de publicación*"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="menu7"
                        v-model="editedItem.hora_notificacion"
                        full-width
                        @click:minute="$refs.menu8.save(editedItem.hora_notificacion)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                  <v-checkbox v-model="enabled1" hide-details class="shrink mr-2 mt-0"></v-checkbox>
                  <h3 class="font-weight-regular">Publicar</h3>
                </v-row>
              </v-row>
            </v-container>
            <span>* Indica que el campo es obligatorio</span>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="close"
            >
              Cerrar
            </v-btn>

            <v-btn
              color="blue darken-1"
              text
              @click="save"
              v-if="editedItem.nombre.length > 0 && editedItem.fecha_ini != null && editedItem.fecha_fin != null &&editedItem.hora_ini != null && editedItem.hora_fin != null && (!enabled1 || (editedItem.fecha_notificacion != null & editedItem.hora_notificacion != null)) && (editedItem.fecha_fin >= editedItem.fecha_ini) && ((editedItem.hora_fin > editedItem.hora_ini) || (editedItem.fecha_fin > editedItem.fecha_ini) ) && (!enabled1 || (editedItem.fecha_notificacion < editedItem.fecha_ini) || ((editedItem.hora_notificacion <= editedItem.hora_ini) && (editedItem.fecha_ini === editedItem.fecha_notificacion)))"
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">¿Está seguro de eliminar el laboratorio?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-row>
  </div>
</template>

<script>
import axios from 'axios'
import CrearEtiquetaFase from '@/components/Profesor/CrearEtiquetaFase'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  data: () => ({
    rulesNombre: [v => v.length <= 100 || 'No puede haber mas de 100 caracteres',
      v => !!v || 'El nombre es obligatorio'],
    menu11: false,
    menu22: false,
    menu33: false,
    menu44: false,
    id_horario: 0,
    id_curso: 0,
    id_horAnt: 0,
    id_cicloSel: '',
    id_LabImp: '',
    dialog: false,
    dialog2: false,
    dialogDelete: false,
    fecha_ini: new Date().toISOString().substr(0, 10),
    fecha_fin: new Date().toISOString().substr(0, 10),
    menu: false,
    menu1: false,
    enabled1: false,
    time: null,
    time3: null,
    menu7: false,
    laboratoriosFases: {},
    laboratoriosAnteriores: {},
    horariosAnteriores: [],
    seleccionHorarios: [],
    estudiantes: [],
    dato: [],
    editedIndex: -1,
    editedItem: {
      nombre: '',
      peso: 4,
      mostrar: true,
      fecha_notificacion: null,
      hora_notificacion: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null
    },
    auxItem: {
      nombre: '',
      peso: 4,
      mostrar: true,
      fecha_notificacion: null,
      hora_notificacion: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      horario: 0
    },
    defaultItem: {
      nombre: '',
      peso: 4,
      mostrar: true,
      fecha_notificacion: null,
      hora_notificacion: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      horario: 0
    },
    estudianteItem: {
      id: null,
      nota_lab: null,
      asistencia: null,
      notificacion: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      deleted_at: null,
      estudiante: null,
      laboratorio: null
    },
    form: {
      laboratorio: 0,
      horario: 0
    }
  }),
  methods: {
    getLaboratoriosAnteriores () {
      const path = `/api/fases_laboratorios_por_horario_prof/${this.id_horAnt}/`
      axios.get(path).then((response) => {
        this.laboratoriosAnteriores = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    listarLaboratoriosAnt () {
      this.getLaboratoriosAnteriores()
    },
    getLaboratorios () {
      if (localStorage.getItem('id')) {
        this.id_horario = localStorage.id
      }
      const path = `/api/fases_laboratorios_por_horario_prof/${this.id_horario}/`
      axios.get(path).then((response) => {
        this.laboratoriosFases = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    editItem (item) {
      this.editedIndex = this.laboratoriosFases.laboratorios.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      this.editedIndex = this.laboratoriosFases.laboratorios.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    deleteItemConfirm () {
      this.laboratoriosFases.laboratorios.splice(this.editedIndex, 1)
      const path = `/api/laboratorio/${this.editedItem.id}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
      })
        .catch((error) => {
          console.log(error)
        })
      this.closeDelete()
    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    close2 () {
      this.dialog2 = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
      this.laboratoriosAnteriores = {}
      this.id_cicloSel = ''
      this.id_horAnt = 1
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    save () {
      if (this.enabled1 === false) {
        this.editedItem.fecha_notificacion = null
        this.editedItem.hora_notificacion = null
      }
      if (this.editedIndex > -1) {
        this.auxItem = this.editedItem
        Object.assign(this.laboratoriosFases.laboratorios[this.editedIndex], this.editedItem)
        const path = `/api/laboratorio/${this.auxItem.id}/`
        axios.patch(path, this.editedItem).then((response) => {
          this.dato = response.data
        })
          .catch((error) => {
            console.log(error)
          })
      } else {
        this.auxItem = this.editedItem
        this.auxItem.peso = 4
        this.auxItem.mostrar = true
        this.auxItem.horario = this.id_horario
        if (this.laboratoriosFases.laboratorios) {
          this.laboratoriosFases.laboratorios.push(this.editedItem)
        } else {
          this.laboratoriosFases.laboratorios = []
          this.laboratoriosFases.laboratorios.push(this.editedItem)
        }
        const path = '/api/laboratorio/'
        axios.post(path, this.auxItem).then((response) => {
          // this.dato = response.data
          this.getLaboratorios()
        })
          .catch((error) => {
            console.log(error)
          })
      }
      this.close()
    },
    labsAnt () {
      this.listarLaboratoriosAnt()
    },
    importa (item) {
      this.form.laboratorio = item.id
      this.form.horario = this.id_horario
      var formData = new FormData()
      formData.append('laboratorio', this.form.laboratorio)
      formData.append('horario', this.form.horario)
      const path = '/api/duplicar_laboratorio/'
      axios.post(path, formData, {
        headers: {
          Authorization: 'Bearer ' + this.$store.state.token // the token is a variable which holds the token
        }
      }).then((response) => {
        this.getLaboratorios()
      })
        .catch((error) => {
          console.log(error)
        })
      // this.getLaboratorios()
      this.close2()
    },
    gethorarios () {
      if (localStorage.getItem('curso')) {
        this.id_curso = localStorage.curso
      }
      const path = `/api/horarios_por_curso/${this.id_curso}/`
      axios.get(path).then((response) => {
        this.horariosAnteriores = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo laboratorio' : 'Editar laboratorio'
    }
  },
  created () {
    this.getLaboratorios()
    this.gethorarios()
  },
  components: {
    CrearEtiquetaFase
  }
}
</script>
