<template>
  <div>
    <template>
      <v-row justify="center">
        <v-expansion-panels accordion>
          <v-expansion-panel
            v-for="(items, laboratorio) in laboratoriosFases.laboratorios"
            :key="laboratorio.id"
          >
            <v-expansion-panel-header disable-icon-rotate>
              {{ items.nombre }}
              <template v-slot:actions>
                <v-icon color="primary">
                  $expand
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <CrearEtiquetaFase v-bind:items="items"></CrearEtiquetaFase>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-row>
    </template>
    <v-spacer></v-spacer>
    <v-divider class="mt-15"></v-divider>
    <v-row justify="center">
    </v-row>
  </div>
</template>

<script>
import axios from 'axios'
import CrearEtiquetaFase from '@/components/Profesor/EtiquetaFaseJP'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  data: () => ({
    id_horario: '',
    fecha_ini: new Date().toISOString().substr(0, 10),
    fecha_fin: new Date().toISOString().substr(0, 10),
    menu: false,
    menu1: false,
    enabled1: false,
    time: null,
    time3: null,
    menu7: false,
    laboratoriosFases: {},
    estudiantes: [],
    dato: [],
    editedIndex: -1,
    editedItem: {
      nombre: '',
      peso: 4,
      mostrar: true,
      fecha_notificacion: null,
      hora_notificacion: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null
    },
    auxItem: {
      nombre: '',
      peso: 4,
      mostrar: true,
      fecha_notificacion: null,
      hora_notificacion: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      horario: 0
    },
    defaultItem: {
      nombre: '',
      peso: 4,
      mostrar: true,
      fecha_notificacion: null,
      hora_notificacion: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      horario: 0
    },
    estudianteItem: {
      id: null,
      nota_lab: null,
      asistencia: null,
      notificacion: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      deleted_at: null,
      estudiante: null,
      laboratorio: null
    }
  }),
  methods: {
    getLaboratorios () {
      if (localStorage.getItem('id')) {
        this.id_horario = localStorage.id
      }
      const path = `/api/fases_laboratorios_por_horario/${this.id_horario}/`
      axios.get(path).then((response) => {
        this.laboratoriosFases = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo laboratorio' : 'Editar laboratorio'
    }
  },
  created () {
    this.getLaboratorios()
  },
  components: {
    CrearEtiquetaFase
  }
}
</script>
