<template>
  <div>
    <v-list>
        <v-list-item
          v-for="(item, i) in items.fases"
          :key="i"
        >
        <v-row>
          <v-col md="4">
            <router-link :to="{ name: 'ResumenRespuestasJP',
          params: {id_lab: item.laboratorio, id_fase: item.id,
          labNombre: items.nombre,
          faseNombre: item.nombre,
          fasePeso: item.peso}}"> {{ item.nombre }} </router-link>
          </v-col>
          <v-list-item-icon style="margin-left: 60%">
                <v-icon
                  medium
                  class="mr-2"
                  @click="alertEmail(item)"
                >
                    mdi-email-alert-outline
                </v-icon>
          </v-list-item-icon>
          </v-row>
        </v-list-item>
    </v-list>
    <v-spacer></v-spacer>
    <v-divider class="mt-5"></v-divider>
    <v-row justify="center">
      <v-dialog v-model="dialogMail" max-width="600px">
        <v-card>
          <v-card-title class="headline"> ¿Desea enviar una notificacion por correo?</v-card-title>
        <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeEmail">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="emailConfirm">Aceptar</v-btn>
              <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-snackbar
      v-model="snack"
      :timeout="3000"
      :color="snackColor"
    >
      {{ snackText }}

      <template v-slot:action="{ attrs }">
        <v-btn
          v-bind="attrs"
          text
          @click="snack = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  data: () => ({
    snack: false,
    snackColor: '',
    snackText: '',
    dialogMail: false,
    fases: null,
    dialog: false,
    dialogDelete: false,
    dialogError1: false,
    dialogError2: false,
    fecha_ini: new Date().toISOString().substr(0, 10),
    fecha_fin: new Date().toISOString().substr(0, 10),
    menu: false,
    menu1: false,
    menu2: false,
    menu3: false,
    enabled2: false,
    time: null,
    time2: null,
    time3: null,
    menu4: false,
    menu5: false,
    menu6: false,
    menu7: false,
    dato: [],
    editedIndex: -1,
    editedItem: {
      nombre: '',
      peso: 4,
      num_preguntas_por_alumno: null,
      num_preguntas_total: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      laboratorio: null
    },
    auxItem: {
      nombre: '',
      peso: 4,
      num_preguntas_por_alumno: null,
      num_preguntas_total: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      laboratorio: null
    },
    defaultItem: {
      nombre: '',
      peso: 4,
      num_preguntas_por_alumno: null,
      num_preguntas_total: null,
      fecha_ini: null,
      fecha_fin: null,
      hora_ini: null,
      hora_fin: null,
      laboratorio: null
    }
  }),
  methods: {
    closeEmail () {
      this.dialogMail = false
      this.snackText = 'Envio de notificacion cancelado'
      this.snackColor = 'info'
      this.snack = true
    },
    async emailConfirm () {
      this.dialogMail = false
      try {
        const path = `/api/correo/${this.auxItem.id}/`
        const response = await axios.get(path)
        if (response.status === 200) {
          this.snackText = 'Envio de notificacion correcto'
          this.snackColor = 'success'
          this.snack = true
        } else {
          this.snackText = 'Error en el envio de notificacion'
          this.snackColor = 'error'
          this.snack = true
        }

        console.log(response)
      } catch (error) {
        console.log(error)
      }
    },
    alertEmail (item) {
      console.log(item)
      this.auxItem = Object.assign({}, item)
      this.dialogMail = true
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nueva fase' : 'Editar fase'
    }
  },
  props: {
    items: Object
  }
}
</script>
