<template>
  <div>
    <v-card v-if="!pasado">
          <v-card-title>
              {{this.faseNombre}}
              <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
              style="margin-left: 10%"
          ></v-text-field>
          </v-card-title>
          <v-data-table
          :headers="headers"
          :items="estudiantes"
          :search="search"
          disable-pagination
          :loading="loading"
          >
          <template v-slot:item.actions="{ item }">
            <v-btn color="#1B4965" class="sm-2 white--text"
            @click="goComment(item)">Observar</v-btn>
          </template>
          </v-data-table>
      </v-card>
      <v-card v-else>
        <v-card-title>Ups... parece que {{this.faseNombre}} ya terminó</v-card-title>
        <v-card-text> Deberias pasar a revisar las respuestas finales</v-card-text>
      </v-card>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  data () {
    return {
      faseNombre: '',
      headers: [{ text: 'Usuario', value: 'estudiante.username' },
        { text: 'Correo electrónico', value: 'estudiante.email' }],
      estudiantes: [],
      search: '',
      usuarios: [],
      datos: [],
      loading: true,
      pasado: true,
      fase: {},
      preguntas: []
    }
  },
  methods: {
    goComment (item) {
      this.$router.push({name: 'ProfesorLivePreg', params: {id_fase: this.$route.params.id_fase, id_horario: this.$route.params.id_horario, id_lab: this.$route.params.id_lab, id_alumno: item.estudiante.id}})
    },
    isPast () {
      const today = new Date()
      const date = today.getFullYear() + '-' + ((today.getMonth() < 10) ? ('0' + (today.getMonth() + 1)) : today.getMonth() + 1) + '-' + ((today.getDate() < 10) ? ('0' + today.getDate()) : today.getDate())
      console.log(typeof this.fase.fecha_fin)
      console.log(typeof this.fase.hora_fin)
      if (date > this.fase.fecha_fin) {
        console.log('es mayor ----')
        this.pasado = true
      } else {
        console.log('es menor---')
        if (date === this.fase.fecha_fin) {
          const time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds()
          if (Date.parse(time) > Date.parse(this.fase.hora_fin)) {
            this.pasado = true
          } else {
            this.pasado = false
          }
        } else {
          this.pasado = false
        }
      }
    },
    async getPregs () {
      const path = `/api/estado_pregunta_x_fase_x_estudiante/${this.$route.params.id_fase}/`
      axios.get(path).then((response) => {
        this.preguntas = response.data
        console.log('preguntas ---------')
        console.log(response.data)
        for (let i = 0; i < this.preguntas.length; i++) {
          const row = {}
          row['text'] = 'Pregunta ' + (i + 1)
          row['value'] = 'pregunta[' + i + '].estado'
          this.headers.push(row)
          console.log(`Length de respuestas: ${this.preguntas[i].respuestas.length}`)
          for (let j = 0; j < this.preguntas[i].respuestas.length; j++) {
            console.log(`estudiantes len: ${this.estudiantes.length}`)
            const estudiante = this.estudiantes.find((es) => es.estudiante.id === this.preguntas[i].respuestas[j].estudiante)
            if (estudiante) {
              estudiante['pregunta'].push({estado: this.preguntas[i].respuestas[j].estado, id_preg: this.preguntas[i].pregunta})
            }
          }
        }
        const row2 = {}
        row2['text'] = 'Acciones'
        row2['value'] = 'actions'
        this.headers.push(row2)
        console.log(this.estudiantes[0])
      }).catch((error) => {
        console.log(error)
      })
    },
    async getFase () {
      const path = `/api/fase/${this.$route.params.id_fase}/`
      axios.get(path).then((response) => {
        this.faseNombre = response.data.nombre
        this.fase = response.data
        console.log(this.fase)
        this.isPast()
      })
        .catch((error) => {
          console.log(error)
        })
    },
    async getEstudiantes () {
      const path = `/api/horario_estudiante_3/${this.$route.params.id_horario}/`
      try {
        const response = await axios.get(path)
        this.estudiantes = response.data
        for (let index = 0; index < this.estudiantes.length; index++) {
          this.estudiantes[index]['pregunta'] = []
        }
        console.log('estudiantes')
        console.log(this.estudiantes)
      } catch (error) {
        console.log(error)
      }
    },
    getHeaders () {
      return 0
    }
  },
  async created () {
    console.log('obtener fase----')
    await this.getFase()
    await this.getEstudiantes()
    await this.getPregs()
    this.loading = false
  }
}
</script>

<style>

</style>
