<template>
  <v-card>
    <v-card-title class="primario--text">
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="alumnos"
      :search="search"
      class="primario--text font-weight-medium text-uppercase"
    ></v-data-table>
  </v-card>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'Notas',
  data () {
    return {
      search: '',
      alumnos: [],
      headers: [],
      notas: [],
      codigo: '',
      laboratorios: [],
      horario: this.$route.params.id_horario
    }
  },
  methods: {
    getNotas () {
      const path = `/api/nota/${this.horario}/`
      // const path = `http://ec2-54-92-230-86.compute-1.amazonaws.com/PromedioNotasXHorarioXCursoXCiclo/${this.horario}/`
      axios.get(path).then((response) => {
        this.notas = response.data
        this.codigo = this.notas.codigo
        this.laboratorios = this.notas.laboratorios
        for (let i = 0; i < this.laboratorios.length; i++) {
          let row = {}
          if (i === 0) {
            let row1 = {}
            row1['text'] = 'Usuario'
            row1['value'] = 'username'
            this.headers.push(Object.assign({}, row1))
          }
          row['text'] = this.laboratorios[i].nombre
          row['value'] = i + this.laboratorios[i].nombre
          this.headers.push(Object.assign({}, row))
        }
        for (let m = 0; m < this.laboratorios[0].estudiantes.length; m++) {
          let row = {}
          for (let n = 0; n < this.laboratorios.length; n++) {
            if (n === 0) {
              row['username'] = this.laboratorios[n].estudiantes[m].estudiante.username
            }
            if (this.laboratorios[n].estudiantes[m].nota_lab === null) {
              row[n + this.laboratorios[n].nombre] = '__'
            } else {
              row[n + this.laboratorios[n].nombre] = this.laboratorios[n].estudiantes[m].nota_lab.toFixed(2)
              console.log(this.laboratorios[n].nombre)
              console.log(this.laboratorios[n].estudiantes[m].nota_lab.toFixed(2))
            }
          }
          this.alumnos.push(Object.assign({}, row))
        }
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    this.getNotas()
  }
}
</script>
