<template>
<!--scriptkiddie-->
<v-container>
    <v-btn
    tile
    color="primary"
    @click="dialog=true"
    >
    <v-icon left>
        mdi-pencil
    </v-icon>
    Insertar Preguntas
    </v-btn>
    <!--Comienzo de dialog para listar preguntas -->
    <v-dialog max-width="1280px"
        v-model="dialog">
        <v-card>
            <v-card-title>
                <h2>Preguntas</h2>
            </v-card-title>
            <v-window
                v-model="window"
                class="elevation-1"
                vertical
            >
            <!-- Muestra Preguntas Actuales -->
            <v-window-item :value="0">
                <v-row style="direction:rtl;text-align:justify;max-width: 1200px">
                    <v-btn color="primary" @click="window++">
                         Crear Nueva Pregunta
                        </v-btn>
                </v-row>
                <v-data-table :items="preguntas"
                :headers="headers"
                v-model="selected"
                show-select
                show-expand
                :single-expand="singleExpand"
                :expanded.sync="expanded"
                >
                <template #item.actions="{item}">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        @click="deleteItem(item)"
                    >
                        mdi-delete
                    </v-icon>
                </template>
                <template #expanded-item="{headers,item}">
                  <td colspan="1000px">
                    <PreguntaDisplay :preguntas="item"></PreguntaDisplay>
                  </td>
                </template>
                </v-data-table>
            </v-window-item>
            <!-- CREAR NUEVA PREGUNTA-->
            <v-window-item :value="1" reverse-transition="fade-transition">
                <v-card>
                    <v-form>
                        <v-col cols="12" md="4">
                            <v-row style="margin-left: 10px">
                                <v-combobox label="Tipo de Pregunta"
                                    v-model="tipoSelec"
                                    :items="tipos" @input="verificaTipo"></v-combobox>
                            </v-row>
                        </v-col>
                            <!--PARA CREAR PREGUNTAS DE OPCIONES MULTIPLES-->
                            <div v-if="this.multiple">
                                <div>
                                    <v-textarea
                                        filled
                                        label="Texto de Pregunta"
                                        v-model="nuevaPreg.texto_pregunta"
                                        style="max-width: 1200px;left: 20px;"
                                        ></v-textarea>
                                </div>
                                <v-col cols="12" md="11">
                                    <v-row style="margin-left: 10px">
                                        <v-text-field label="Categoria"
                                        v-model="nuevaPreg.categoria"></v-text-field>
                                    <v-combobox label="Tipo de Respuesta"
                                    v-model="pregTypeSelec"
                                    :items="pregType"
                                    style="margin-left: 30px"></v-combobox>
                                    </v-row>
                                </v-col>
                                <!--Iteracion sobre opciones-->
                                <v-col cols="12" md="10" v-for="(opcion, index) in opciones" :key="index">
                                    <v-row style="margin-left: 10px;margin-right: 10px;">
                                        <v-text-field
                                            :label="`Opcion ${index+1}`"
                                            placeholder="Ingrese la opcion"
                                            v-model="opcion.texto_opcion"
                                        ></v-text-field>
                                        <v-text-field
                                            label="Ayuda"
                                            placeholder="Ingrese una ayuda para el alumno"
                                            v-model="opcion.ayuda"
                                            style="margin-left: 10px;"
                                        ></v-text-field>
                                        <v-checkbox style="padding-left: 10px"
                                            v-model="opcion.correcta"
                                            label="Respuesta Correcta"
                                            color="primary"
                                        ></v-checkbox>
                                        <v-icon
                                            small
                                            v-if="showRemoveOption"
                                            style="margin-left: 20px"
                                            @click="eliminarOpcion(index)"
                                        >
                                            mdi-close
                                        </v-icon>
                                    </v-row>
                                </v-col>
                                <v-btn
                                    fab
                                    dark
                                    color="primary"
                                    style="margin-left: 20px"
                                    @click="addOption"
                                    >
                                    <v-icon dark>
                                        mdi-plus
                                    </v-icon>
                                    </v-btn>
                                <v-btn
                                    fab
                                    dark
                                    color="primary"
                                    style="margin-left: 20px"
                                    @click="removeOption"
                                    v-if="showRemoveOption"
                                    >
                                    <v-icon dark>
                                        mdi-minus
                                    </v-icon>
                                    </v-btn>
                            </div>
                            <!--PARA CREAR PREGUNTAS DE REDACCION-->
                            <div v-if="this.redaccion">
                                <v-textarea
                                        filled
                                        label="Texto de Pregunta"
                                        v-model="nuevaPreg.texto_pregunta"
                                        style="max-width: 1200px;left: 20px;"
                                        ></v-textarea>
                                <v-col cols="12" md="11">
                                    <v-row style="margin-left: 10px">
                                        <v-text-field label="Categoria"
                                        v-model="nuevaPreg.categoria"></v-text-field>
                                    </v-row>
                                </v-col>
                            </div>
                    </v-form>
                    <v-card-actions style="direction:rtl;text-align:justify;">
                        <v-btn color="secondary" @click="cancelarPregunta">
                            Cancelar
                        </v-btn>
                        <v-btn color="secondary" @click="guardarPregunta" style="margin-right: 10px">
                            Guardar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-window-item>
            <v-window-item>
            </v-window-item>
            </v-window>
            <v-card-actions style="direction:rtl;text-align:justify;" v-if="window===0">
                <v-btn color="primary" outlined @click="close" style="margin-left: 50px">
                Cancelar
            </v-btn>
                <v-btn color="primary" outlined @click="save" style="margin-left: 50px">
                Guardar
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">¿Está seguro de eliminar la pregunta?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
</v-container>

</template>

<script>
import axios from 'axios'
import PreguntaDisplay from '@/components/Profesor/PreguntaDisplay'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  components: {
    PreguntaDisplay
  },
  data: () => ({
    expanded: [],
    singleExpand: true,
    idp: -1,
    dato: [],
    dialogDelete: false,
    editedIndex: -1,
    info: null,
    dialog: false,
    showRemoveOption: false,
    opciones: [
      {texto_opcion: null, ayuda: null, correcta: false}
    ],
    opcionesDefault: [
      {texto_opcion: '', ayuda: '', correcta: false}
    ],
    window: 0,
    redaccion: false,
    multiple: false,
    nuevaPreg: {
      id: null,
      texto_pregunta: null,
      tipo: null,
      esBanco: false,
      puntaje: null,
      categoria: null,
      fases: [],
      opciones: []
    },
    defaultPreg: {
      id: null,
      texto_pregunta: null,
      tipo: null,
      esBanco: false,
      categoria: null,
      puntaje: null,
      fases: [],
      opciones: []
    },
    pregType: ['Unica opcion', 'Mas de una opcion'],
    pregTypeSelec: [],
    categorias: ['Cat-1', 'Cat-2'],
    categoriaSelec: [],
    tipoSelec: [],
    tipos: ['Opcion Multiple', 'Redaccion'],
    selected: [],
    preguntas: [
      {
        id: 1,
        texto_pregunta: '¿Pregunta?',
        tipo: true,
        esBanco: true,
        fases: []
      },
      {
        id: 2,
        texto_pregunta: '¿Pregunta 2 raaaa?',
        tipo: true,
        esBanco: true,
        fases: []
      },
      {
        id: 9,
        texto_pregunta: 'pruebaprueba',
        tipo: false,
        esBanco: false,
        opciones: [
          {
            id: 3,
            texto_opcion: 'uno',
            ayuda: 'raaaa',
            correcta: false,
            pregunta: 9
          },
          {
            id: 4,
            texto_opcion: 'dos',
            ayuda: 'raaaa',
            correcta: false,
            pregunta: 9
          }
        ]
      }
    ]
  }),
  methods: {
    cancelarPregunta () {
      this.window--
      this.editedIndex = -1
      this.tipoSelec = []
      this.redaccion = false
      this.multiple = false
      this.nuevaPreg = Object.assign({}, this.defaultPreg)
      this.opciones = [...this.opcionesDefault]
      this.pregTypeSelec = []
      this.showRemoveOption1()
    },
    getOpciones () {
      if (this.editedIndex >= 0) {
        this.opciones = this.preguntas[this.editedIndex].opciones
      }
    },
    async eliminarOpcion (index) {
      if (this.nuevaPreg.id && (this.editedIndex !== -1)) {
        try {
          // estoy editando una pregunta existente
          const id = this.preguntas[this.editedIndex].opciones[index].id
          const path = `/api/opcion/${id}/`
          const response = await axios.delete(path)
          console.log(response)
          this.preguntas[this.editedIndex].opciones.splice(index, 1)
        } catch (error) {
          console.log(error)
        }
      }
      this.opciones.splice(index, 1)
      this.showRemoveOption1()
    },
    close () {
      this.selected = []
      this.dialog = false
    },
    save () {
      this.$emit('asignarPreg', this.selected)
      this.dialog = false
    },

    editItem (item) {
      this.editedIndex = this.preguntas.indexOf(item)
      console.log(item)
      this.nuevaPreg = Object.assign({}, item)
      this.dialog = true
      if (this.nuevaPreg.tipo === 0) {
        this.tipoSelec = 'Opcion Multiple'
        this.pregTypeSelec = 'Unica opcion'
        this.multiple = true
        this.redaccion = false
        this.getOpciones()
        this.showRemoveOption1()
      } else {
        if (this.nuevaPreg.tipo === 1) {
          this.tipoSelec = 'Redaccion'
          this.multiple = false
          this.redaccion = true
        } else {
          this.tipoSelec = 'Opcion Multiple'
          this.pregTypeSelec = 'Mas de una opcion'
          this.multiple = true
          this.redaccion = false
          this.getOpciones()
          this.showRemoveOption1()
        }
      }
      this.window++
    },
    deleteItem (item) {
      this.editedIndex = this.preguntas.indexOf(item)
      this.nuevaPreg = Object.assign({}, item)
      this.dialogDelete = true
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultPreg)
        this.editedIndex = -1
      })
    },
    deleteItemConfirm () {
      this.preguntas.splice(this.editedIndex, 1)
      const path = `/api/pregunta/${this.nuevaPreg.id}/`
      axios.delete(path, this.nuevaPreg).then((response) => {
        this.dato = response.data
      })
        .catch((error) => {
          console.log(error)
        })
      this.closeDelete()
    },
    async getInfo () {
      const config = {
        headers: { Authorization: `Bearer ${this.$store.state.token}` }
      }
      const path = '/api/who/'
      try {
        const response = await axios.get(path, config)
        this.info = response.data.id
      } catch (error) {
        console.log(error)
      }
    },
    async getPreguntas () {
      const config = {
        headers: { Authorization: `Bearer ${this.$store.state.token}` }
      }
      const path = '/api/pregunta_token/'
      try {
        const response = await axios.get(path, config)
        console.log(response)
        this.preguntas = [...response.data]
      } catch (error) {
        console.log(error)
      }
    },
    async guardarPregunta () {
      if (this.tipoSelec === 'Opcion Multiple' && this.pregTypeSelec === 'Unica opcion') {
        this.nuevaPreg.tipo = 0
      } else {
        if (this.tipoSelec === 'Opcion Multiple' && this.pregTypeSelec === 'Mas de una opcion') {
          this.nuevaPreg.tipo = 2
        } else {
          this.nuevaPreg.tipo = 1
        }
      }
      const newPreg = {
        texto_pregunta: this.nuevaPreg.texto_pregunta,
        tipo: this.nuevaPreg.tipo,
        esBanco: false,
        autor: this.info,
        categoria: this.nuevaPreg.categoria
      }
      try {
        if (this.redaccion) {
          // se debe solo pushear
          newPreg.tipo = 1
          if (this.editedIndex !== -1) {
            console.log('patching redac question')
            const path = `/api/pregunta/${this.preguntas[this.editedIndex].id}/`
            const response = await axios.patch(path, newPreg)
            console.log(response)
            this.editedIndex = -1
          } else {
            const path = '/api/pregunta/'
            const response = await axios.post(path, newPreg)
            console.log(response)
          }
        } else {
          if (this.pregTypeSelec === 'Unica opcion') {
            newPreg.tipo = 0
          } else {
            console.log('multiples opciones correctas ------')
            newPreg.tipo = 2
          }
          this.idp = -1
          if (this.editedIndex !== -1) {
            console.log('patching multip question')
            const path = `/api/pregunta/${this.preguntas[this.editedIndex].id}/`
            const response = await axios.patch(path, newPreg)
            this.idp = response.data.id
            this.idp = this.nuevaPreg.id
          } else {
            console.log('posting multip question')
            const path = '/api/pregunta/'
            const response = await axios.post(path, newPreg)
            this.idp = response.data.id
          }
          for (const opcion of this.opciones) {
            const op = {
              texto_opcion: opcion.texto_opcion,
              ayuda: opcion.ayuda,
              correcta: opcion.correcta,
              pregunta: this.idp
            }
            if (this.editedIndex !== -1 && opcion.id) {
              const pathOpt = `/api/opcion/${opcion.id}/`
              const resp = await axios.patch(pathOpt, op)
              console.log(resp)
            } else {
              const pathOpt = '/api/opcion/'
              const resp = await axios.post(pathOpt, op)
              console.log(resp)
            }
          }
          this.editedIndex = -1
        }
        this.getPreguntas()
        this.window = 0
      } catch (error) {
        console.log(error)
      }
      this.editedIndex = -1
      this.idp = -1
      this.cancelarPregunta()
    },
    out () {
      this.window = 0
    },
    showRemoveOption1 () {
      this.showRemoveOption = this.opciones.length > 1
    },
    addOption () {
      this.opciones.push({texto_opcion: null, ayuda: null, correcta: false})
      this.showRemoveOption1()
    },
    removeOption () {
      this.eliminarOpcion(this.opciones.length - 1)
      this.showRemoveOption1()
    },
    verificaTipo () {
      if (this.tipoSelec === 'Opcion Multiple') {
        this.multiple = true
        this.redaccion = false
      } else {
        this.multiple = false
        this.redaccion = true
      }
    }
  },
  computed: {
    headers () {
      return [
        {text: 'ID', value: 'id'},
        {text: 'Pregunta', value: 'texto_pregunta'},
        { text: 'Acciones', value: 'actions', align: 'end', sortable: false }
      ]
    }
  },
  created () {
    this.getPreguntas()
    this.getInfo()
  }
}
</script>

<style>

</style>
