<template>
  <v-form>
        <v-col cols="12" md="4">
            <v-row style="margin-left: 10px">
                <v-combobox label="Tipo de Pregunta"
                disabled
                    v-model="tipoSelec"
                    :items="tipos"></v-combobox>
            </v-row>
        </v-col>
            <!--PARA CREAR PREGUNTAS DE OPCIONES MULTIPLES-->
            <div v-if="!(this.preguntas.tipo===1)">
                <div>
                    <v-textarea
                    disabled
                        filled
                        label="Texto de Pregunta"
                        v-model="this.preguntas.texto_pregunta"
                        style="max-width: 1200px;left: 20px;margin-right: 20px"
                        ></v-textarea>
                </div>
                <v-col cols="12" md="11">
                    <v-row style="margin-left: 10px">
                        <v-text-field label="Categoria"
                        disabled
                        v-model="this.preguntas.categoria"></v-text-field>
                    <v-combobox label="Tipo de Respuesta"
                    disabled
                    v-model="pregTypeSelec"
                    :items="pregType"
                    style="margin-left: 30px"></v-combobox>
                    </v-row>
                </v-col>
                <!--Iteracion sobre opciones-->
                <v-col cols="12" md="10" v-for="(opcion, index) in preguntas.opciones" :key="index">
                    <v-row style="margin-left: 10px;margin-right: 10px;">
                        <v-text-field
                        disabled
                            :label="`Opcion ${index+1}`"
                            placeholder="Ingrese la opcion"
                            v-model="opcion.texto_opcion"
                        ></v-text-field>
                        <v-text-field
                        disabled
                            label="Ayuda"
                            placeholder="Ingrese una ayuda para el alumno"
                            v-model="opcion.ayuda"
                            style="margin-left: 10px;"
                        ></v-text-field>
                        <v-checkbox style="padding-left: 10px"
                        disabled
                            v-model="opcion.correcta"
                            label="Respuesta Correcta"
                            color="primary"
                        ></v-checkbox>
                    </v-row>
                </v-col>
            </div>
            <!--PARA CREAR PREGUNTAS DE REDACCION-->
            <div v-if="this.preguntas.tipo===1">
                <v-textarea
                disabled
                        filled
                        label="Texto de Pregunta"
                        v-model="preguntas.texto_pregunta"
                        style="max-width: 1200px;left: 20px;margin-right: 20px"
                        ></v-textarea>
                <v-col cols="12" md="11">
                    <v-row style="margin-left: 10px">
                        <v-text-field label="Categoria"
                        disabled
                          v-model="preguntas.categoria"></v-text-field>
                    </v-row>
                </v-col>
            </div>
    </v-form>
</template>

<script>
export default {
  data () {
    return {
      pregType: ['Unica opcion', 'Mas de una opcion'],
      pregTypeSelec: [],
      categorias: ['Cat-1', 'Cat-2'],
      categoriaSelec: [],
      tipoSelec: [],
      tipos: ['Opcion Multiple', 'Redaccion']
    }
  },
  props: {
    preguntas: {
      type: Object
    }
  },
  methods: {
    verificaTipo () {
      if (this.preguntas.tipo === 1) {
        this.tipoSelec = 'Redaccion'
      } else {
        this.tipoSelec = 'Opcion Multiple'
        if (this.preguntas.tipo === 0) {
          this.pregTypeSelec = 'Unica opcion'
        } else {
          this.pregTypeSelec = 'Mas de una opcion'
        }
      }
    }
  },
  created () {
    this.verificaTipo()
  }

}
</script>

<style>

</style>
