<template>
  <v-card>
    <v-card-title class="primario--text">
      {{this.$route.params.faseNombre}}
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="estudiantes"
      :search="search"
      class="primario--text font-weight-medium text-uppercase elevation-1"
      v-if="!loading"
    >
    <template v-slot:item.actions="{ item }">
      <v-btn color="#1B4965" class="mt-2 white--text"
      :to="{name: 'ProfesorRevisar',
      params:{id_alumno: item.id_estudiante}}">Corregir</v-btn>
    </template>
    <template v-slot:item.id_estudiante="{ item }">
      {{ usuarios.find( id_estudiante => id_estudiante.id === item.id_estudiante )? usuarios.find( id_estudiante => id_estudiante.id === item.id_estudiante ).username : 'Not found'}}
    </template>
    <template v-slot:item.estado="{ item }">
      {{ item.estado ? 'Corregido' : 'No corregido' }}
    </template>
    <template v-slot:item.nota="{ item }">
      {{ item.nota.toFixed(2) }}
    </template>
    </v-data-table>
  </v-card>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'ResumenRespuestasFase',
  data () {
    return {
      search: '',
      loading: true,
      estudiantes: [],
      headers: [
        { text: 'Usuario', value: 'id_estudiante' },
        { text: 'Correo electrónico', value: 'email' },
        { text: 'Nota', value: 'nota' },
        { text: 'Estado', value: 'estado' },
        { text: 'Corregir', value: 'actions' }
      ],
      codigo: '',
      laboratorios: [],
      horario: this.$route.params.id_horario,
      datos: [],
      usuarios: []
    }
  },
  methods: {
    getEstudiantes () {
      const path = `/api/horario_estudiante_3/${this.$route.params.id_horario}/`
      axios.get(path).then((response) => {
        this.datos = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getData () {
      const path = `/Lista_Nota_Horario_Fase_View/${this.$route.params.id_horario}/${this.$route.params.id_fase}/`
      axios.get(path).then((response) => {
        this.estudiantes = response.data
        console.log(this.datos)
      })
        .catch((error) => {
          console.log(error)
        })
    },
    corregirAlumno (item) {
      console.log('holi')
    },
    getUsuarios () {
      const path = '/api/user/'
      axios.get(path).then((response) => {
        console.log(response)
        this.usuarios = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    this.getEstudiantes()
    this.getData()
    this.getUsuarios()
    this.loading = false
  }
}
</script>
