<template>
  <v-card>
    <v-card-title class="primario--text">
      Resumen:
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="notas"
      :search="search"
      class="primario--text font-weight-medium text-uppercase elevation-1"
    ></v-data-table>
  </v-card>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'ResumenNotasFase',
  data () {
    return {
      search: '',
      estudiantes: [],
      headers: [],
      codigo: '',
      laboratoriosFases: [],
      laboratorios: [],
      datos: [],
      notas: [],
      horario: this.$route.params.id_horario
    }
  },
  methods: { /*
    getEstudiantes () {
      const path = `http://ec2-54-92-230-86.compute-1.amazonaws.com/api/horario_estudiante_3/${this.$route.params.id_horario}/`
      axios.get(path).then((response) => {
        this.estudiantes = response.data
        console.log(this.estudiantes)
      })
        .catch((error) => {
          console.log(error)
        })
    }, */
    getNotas () {
      const path = `/api/lista_notas_por_laboratorio/${this.$route.params.id_lab}/`
      axios.get(path).then((response) => {
        this.datos = response.data
        // console.log(this.datos.estudiantes)
        for (let m = 0; m < this.datos.estudiantes.length; m++) {
          // if (m !== 3) {
          let row = {} /*
          console.log('alumno ' + m)
          console.log(this.datos.estudiantes[m].email) */
          row['email'] = this.datos.estudiantes[m].email
          for (let n = 0; n < this.datos.estudiantes[m].laboratorio.fases.length; n++) { /*
            console.log('fase ' + n)
            console.log(this.datos.estudiantes[m].laboratorio.fases[n].nombre)
            console.log(this.datos.estudiantes[m].laboratorio.fases[n].nota_fase) */
            row[this.datos.estudiantes[m].laboratorio.fases[n].nombre] = this.datos.estudiantes[m].laboratorio.fases[n].nota_fase.toFixed(2)
          }
          // console.log(this.datos.estudiantes[m].laboratorio.nota_lab)
          row['nota'] = this.datos.estudiantes[m].laboratorio.nota_lab.toFixed(2)
          this.notas.push(Object.assign({}, row))
          // }
        }
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getLaboratorios () {
      const path = `/api/fases_laboratorios_por_horario/${this.$route.params.id_horario}/`
      axios.get(path).then((response) => {
        this.laboratoriosFases = response.data
        this.laboratorios = this.laboratoriosFases.laboratorios
        // for (let i = 0; i < this.laboratorios[0].fases.length; i++) {
        console.log(this.idNombreLab)
        console.log(this.laboratorios[3].nombre)
        for (let i = 0; i < this.laboratorios.length; i++) {
          if (this.laboratorios[i].nombre === this.idNombreLab) {
            let row = {}
            // if (i === 0) {
            let row2 = {}
            row2['text'] = 'Correo'
            row2['value'] = 'email'
            this.headers.push(Object.assign({}, row2))
            // console.log(row2)
            // }
            for (let j = 0; j < this.laboratorios[i].fases.length; j++) {
              row['text'] = this.laboratorios[i].fases[j].nombre
              row['value'] = this.laboratorios[i].fases[j].nombre
              this.headers.push(Object.assign({}, row))
            }
            // if (i === this.laboratorios[0].fases.length - 1) {
            // let row1 = {}
            let row3 = {} /*
            let row3 = {}
            row1['text'] = 'Nota sug.'
            row1['value'] = 'notaSug'
            this.headers.push(Object.assign({}, row1)) */
            row3['text'] = 'Nota Final'
            row3['value'] = 'nota'
            this.headers.push(Object.assign({}, row3)) /*
            row3['text'] = 'Obs.'
            row3['value'] = 'obs'
            this.headers.push(Object.assign({}, row3)) */
            // }
          }
        }
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    // this.getEstudiantes()
    this.getLaboratorios()
    this.getNotas()
  },
  props: ['idNombreLab']
}
</script>
