<template>
    <div>
        <v-row>
            <h4>Enunciado:</h4>
        </v-row>
        <v-row>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, sint perferendis nihil, saepe enim quibusdam sequi ratione similique, sed beatae neque. Repellat harum vitae a unde esse corrupti fugit beatae {{$route.params.preg}}.</p>
        </v-row>
        <v-row>
            <h4>Respuesta:</h4>
        </v-row>
        <v-row>
            <p class="text-justify">
                Mi respuesta para la pregunta {{$route.params.preg}} es la siguiente:
                Morbi mattis ullamcorper velit. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Fusce convallis metus id felis luctus adipiscing. Aenean massa. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
                Nulla consequat massa quis enim. Praesent venenatis metus at tortor pulvinar varius. Donec venenatis vulputate lorem. Phasellus accumsan cursus velit. Pellentesque ut neque.
            </p>
        </v-row>
        <v-row>
            <h4>Comentario:</h4>
        </v-row>
        <v-row>
            <RichText></RichText>
        </v-row>
        <v-row>
            <v-col sm="2">
                <h4>Puntaje:</h4>
            </v-col>
            <v-col sm="2">
                <v-text-field
                    label="Puntaje"
                    outlined
                    dense
                ></v-text-field>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import RichText from '@/components/Profesor/RichTextComentarioRevision'
export default {
  name: 'RevisarPreguntas',
  components: {
    RichText
  }
}
</script>
