<template>
  <v-data-table
    :headers="headers"
    :items="alumnos"
    :search="search"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Administración de alumnos</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="#1B4965"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              Nuevo participante
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.username"
                      label="Nombre"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.email"
                      label="e-mail"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">¿Está seguro de eliminar al participante?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'Usuarios',

  data: () => ({
    dialog: false,
    dialogDelete: false,
    alumnos: [],
    dato: [],
    search: '',
    headers: [
      { text: 'Usuario', value: 'username' },
      { text: 'Email', value: 'email' },
      { text: 'Acciones', value: 'actions', sortable: false }
    ],
    editedIndex: -1,
    editedItem: {
      codigo: '',
      nombre: '',
      especialidad: 0
    },
    auxItem: {
      codigo: '',
      nombre: '',
      especialidad: 0
    },
    defaultItem: {
      codigo: '',
      nombre: '',
      especialidad: 0
    }
  }),
  methods: {
    getAlumnos () {
      const path = '/api/user/'
      axios.get(path).then((response) => {
        this.alumnos = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    editItem (item) {
      this.editedIndex = this.alumnos.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.alumnos.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.alumnos.splice(this.editedIndex, 1)
      const path = `/api/user/${this.editedItem.id}/`
      axios.delete(path).then((response) => {
        this.dato = response.data
      })
        .catch((error) => {
          console.log(error)
        })
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.alumnos[this.editedIndex], this.editedItem)
        const path = `/api/user/${this.auxItem.id}/`
        axios.patch(path, this.editedItem).then((response) => {
          this.dato = response.data
        })
          .catch((error) => {
            console.log(error)
          })
      } else {
        this.auxItem = this.editedItem
        this.auxItem.groups = []
        this.auxItem.is_active = true
        this.auxItem.is_staff = false
        this.auxItem.is_superuser = false
        this.auxItem.password = 'abcd1234'
        this.auxItem.user_permissions = []
        this.auxItem.date_joined = '2020-10-15T01:23:07.441303Z'
        this.auxItem.last_login = null
        this.auxItem.first_name = ''
        this.auxItem.last_name = ''
        this.alumnos.push(this.editedItem)
        const path = '/api/user/'
        axios.post(path, this.auxItem).then((response) => {
          this.dato = response.data
        })
          .catch((error) => {
            console.log(error)
          })
      }
      this.close()
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo usuario' : 'Editar usuario'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    }
  },
  created () {
    this.getAlumnos()
  }
}
</script>
