<template>
  <div>
    <CabeceraGeneral></CabeceraGeneral>
    <CabeceraIzq></CabeceraIzq>
    <v-container>

      <button class="btn" @click="anterior">
              Volver Inicio <span class="badge badge-primary"></span>
      </button>
      <br>
      <br>
      <v-card color="info" dark> <!-- color sacado de vuitify y dark pa q contraste con el color(blanco en este caso) -->
            <v-card-text class="display-1 text-md-center"> <!-- no me funco xs center mmm -->
              Ingeniería Informática
            </v-card-text>
      </v-card>
      <h2>Carga masiva</h2>
      <v-file-input
        accept="csv/*"
        label="File input">
      </v-file-input>
      <v-row align="center"
      justify="space-around">
        <v-btn
          depressed
          color="primario"
        >
          Subir
        </v-btn>
        <v-btn
          depressed
          color="primario"
        >
          Cancelar
        </v-btn>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import CabeceraIzq from '@/components/Administrador/CabeceraIzqAdmin'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
export default {
  components: {
    CabeceraIzq,
    CabeceraGeneral
  },
  methods: {
    anterior () {
      this.$router.go(-1)
    }
  }
}
</script>
