<template>
  <div>
    <CabeceraGeneral></CabeceraGeneral>
    <v-row>
      <CabeceraIzq></CabeceraIzq>
        <v-container>
          <v-col>
              <v-icon class="ml-2">
                mdi-arrow-left-circle
              </v-icon>
              <span><a href="javascript: history.go(-1)" style="color: #1B4965">Volver a Horarios</a></span>
              <VerHorario/>
              <!-- <Estudiantes/> -->
          </v-col>
        </v-container>
    </v-row>
  </div>
</template>
<script>
import CabeceraIzq from '@/components/Administrador/CabeceraIzqAdmin'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import VerHorario from '@/components/Administrador/VerHorario'
import Estudiantes from '@/components/Administrador/EstudiantesAdmin'

export default {
  components: {
    CabeceraIzq,
    CabeceraGeneral,
    VerHorario,
    Estudiantes
  }
}
</script>
