<template>
  <div>
    <CabeceraGeneral></CabeceraGeneral>
    <v-row>
      <CabeceraIzq></CabeceraIzq>
      <v-col>
        <v-container>
          <v-icon class="ml-2">
            mdi-arrow-left-circle
          </v-icon>
          <span><a href="javascript: history.go(-1)" style="color: #1B4965">Volver a Cursos</a></span>
          <ListarHorarios/>
          <!--<ListarHxC/>-->
        </v-container>
      </v-col>

    </v-row>
  </div>
</template>
<script>
import CabeceraIzq from '@/components/Administrador/CabeceraIzqAdmin'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import ListarHorarios from '@/components/Administrador/ListarHorarios'
import ListarCursos from '@/components/Administrador/ListarCursosAd'
import ListarHxC from '@/components/Administrador/ListarHorariosxCurso'
export default {
  components: {
    CabeceraIzq,
    CabeceraGeneral,
    ListarHorarios,
    ListarCursos,
    ListarHxC
  }
}
</script>
