<template>
  <div>
    <CabeceraGeneral></CabeceraGeneral>
    <v-row>
    <CabeceraIzq></CabeceraIzq>
      <v-col>
        <v-container>
          <br>
          <!--<router-link :to="{name : 'AdminCargarHorarios'}">
            <v-btn block>
              Agregar Cursos
            </v-btn>
          </router-link> -->
            <!-- <ListarHorarios/> -->
          <!-- <v-col full-width>
          </v-col> -->

          <ListarCursos/>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import CabeceraIzq from '@/components/Administrador/CabeceraIzqAdmin'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import ListarHorarios from '@/components/Administrador/ListarHorarios'
import ListarCursos from '@/components/Administrador/ListarCursosAd'
export default {
  components: {
    CabeceraIzq,
    CabeceraGeneral,
    ListarHorarios,
    ListarCursos
  }
}
</script>
