<template>
    <div class="agregarPersonaACurso">
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzq></CabeceraIzq>
            <v-col>
                <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span>Volver a cursos</span>
                <v-layout justify-center class="secundario text-h2 font-weight-medium">
                    SISTEMAS OPERATIVOS INF239</v-layout>
                 <v-card>
                    <v-toolbar flat>
                    <v-toolbar-title class="primario--text font-weight-medium">Informacion General</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                </v-card>
                <v-flex xs6 class="pr-16">
                        <v-container fluid>
                            <v-row>
                            <v-col cols="4">
                                <v-subheader class="primario--text">Codigo del Curso</v-subheader>
                            </v-col>
                            <v-col cols="8">
                                <v-text-field class="secundario"
                                label="ID"
                                placeholder="INF235"
                                value="INF235"
                                ></v-text-field>
                            </v-col>
                            </v-row>
                            <v-row>
                            <v-col cols="4">
                                <v-subheader class="primario--text">Horario del Curso</v-subheader>
                            </v-col>
                            <v-col cols="8">
                                <v-text-field class="secundario"
                                label="Horario del curso"
                                placeholder="H-101"
                                value="H-101"
                                ></v-text-field>
                            </v-col>
                            </v-row>
                        </v-container>
                    </v-flex>
                 <v-card>
                    <v-toolbar flat>
                    <v-toolbar-title class="font-weight-medium primario--text">
                        Profesor(es)</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                </v-card>
                <v-container class="grey lighten-5">
                    <v-row
                    v-for="n in 2"
                    :key="n"
                    :class="n === 1 ? 'mb-6' : ''"
                    no-gutters
                    >
                        <v-col sm="1">
                            <v-list-item-avatar class="ml-5">
                                <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
                            </v-list-item-avatar>
                        </v-col>
                        <v-col>
                            <v-toolbar-title class="pt-3">Nombre persona</v-toolbar-title>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-toolbar-title class="pt-3 pr-16">{{n}}</v-toolbar-title>
                        <v-col>
                            <v-btn right="true" class="mt-2 white--text"
                            depressed
                            color="primario"
                            >
                                Eliminar
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
                 <v-card>
                    <v-toolbar flat>
                    <v-toolbar-title class="font-weight-medium primario--text">
                        Jefes de Laboratorio</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                </v-card>
                <v-container class="grey lighten-5">
                    <v-row
                    v-for="n in 2"
                    :key="n"
                    :class="n === 1 ? 'mb-6' : ''"
                    no-gutters
                    >
                        <v-col sm="1">
                            <v-list-item-avatar class="ml-5">
                                <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
                            </v-list-item-avatar>
                        </v-col>
                        <v-col>
                            <v-toolbar-title class="pt-3">Nombre persona</v-toolbar-title>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-toolbar-title class="pt-3 pr-16">{{n}}</v-toolbar-title>
                        <v-col>
                            <v-btn right="true" class="mt-2 white--text"
                            depressed
                            color="primario"
                            >
                                Eliminar
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
                <v-card>
                    <v-toolbar flat>
                    <v-toolbar-title class="font-weight-medium primario--text">
                        Alumnos</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                </v-card>
                <v-container class="grey lighten-5">
                    <v-row
                    v-for="n in 2"
                    :key="n"
                    :class="n === 1 ? 'mb-6' : ''"
                    no-gutters
                    >
                        <v-col sm="1">
                            <v-list-item-avatar class="ml-5">
                                <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
                            </v-list-item-avatar>
                        </v-col>
                        <v-col>
                            <v-toolbar-title class="pt-3">Nombre persona</v-toolbar-title>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-toolbar-title class="pt-3 pr-16">{{n}}</v-toolbar-title>
                        <v-col>
                            <v-btn right="true" class="mt-2 white--text"
                            depressed
                            color="primario"
                            >
                                Eliminar
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-layout reverse>
                        <v-btn right="true" class="mt-5 white--text"
                            depressed
                            color="primario"
                            >
                            Guardar
                        </v-btn>
                        <div class="pl-10"></div>
                        <v-btn right="true" class="mt-5 white--text"
                            depressed
                            color="primario"
                            >
                            Cancelar
                        </v-btn>
                    </v-layout>
                </v-container>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import CabeceraIzq from '../components/Todos/CabeceraIzq'
import CabeceraGeneral from '../components/Todos/CabeceraGeneral'

export default {
  data: () => ({
  }),
  components: {
    CabeceraIzq, CabeceraGeneral
  },
  name: 'agregarPersonaACurso'
}
</script>
