<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzq></CabeceraIzq>
            <v-container>
              <v-col>
                  <v-icon>
                      mdi-arrow-left-circle
                  </v-icon>
                  <span><a href="javascript: history.go(-1)" style="color: #1B4965">Volver al Horario</a></span>
                  <!-- <v-row align="center" justify="center" class="mt-5">
                  <v-toolbar class="secundario">
                      <v-toolbar-title class="font-weight-bold text-right">2020-2 {{ this.$route.params.nombre }} ( {{ this.$route.params.codigo }} - )</v-toolbar-title>
                  </v-toolbar>
                  </v-row>
                  <v-container class="d-flex justify-center mb-6">
                      <v-img max-height="250" max-width="350" src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"></v-img>
                  </v-container> -->
                  <br>
                  <br>
                  <!-- <AgregarProfe></AgregarProfe>
                  <AgregarJefesDePractica></AgregarJefesDePractica>
                  <AgregarEstudiantes></AgregarEstudiantes>
                  <AgregarProfe></AgregarProfe> -->
                  <el-tabs type="card" @tab-click="handleClick">
                    <el-tab-pane label="Profesores"><AgregarProfe></AgregarProfe></el-tab-pane>
                    <el-tab-pane label="Jefes de Practica"><AgregarJefesDePractica/></el-tab-pane>
                    <el-tab-pane label="Estudiantes"><AgregarEstudiantes/></el-tab-pane>
                  </el-tabs>
              </v-col>
            </v-container>
        </v-row>
    </div>
</template>

<script>
import ListarCursos from '../components/Profesor/ListarCursos'
import AgregarEstudiantes from '../components/Administrador/AgregarEstudianteAdmin'
import AgregarJefesDePractica from '../components/Administrador/AgregarJPAdmin'
import AgregarProfe from '../components/Administrador/AgregarProfeAdmin'
import CabeceraIzq from '../components/Administrador/CabeceraIzqAdmin'
import CabeceraGeneral from '../components/Todos/CabeceraGeneral'

export default {
  components: {
    ListarCursos, CabeceraIzq, CabeceraGeneral, AgregarEstudiantes, AgregarJefesDePractica, AgregarProfe
  },
  methods: {
    handleClick (tab, event) {
      // console.log(tab, event)
    }
  }
}
</script>
