<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzq></CabeceraIzq>
            <v-col>
                <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span @click="borrarDatos"><a href="/Profesor" style="color: #1B4965">Volver a cursos</a></span>
                <v-row align="center" justify="center" class="mt-5">
                <v-toolbar class="secundario">
                    <v-spacer></v-spacer>
                    <h1 class="font-weight-regular primario--text">{{ciclo}} {{ nombre }} ( {{ codigo }} - {{horario}})</h1>
                    <v-spacer></v-spacer>
                </v-toolbar>
                </v-row>
                <Asistencia class="mb-2 mt-5"></Asistencia>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import ListarCursos from '../components/Profesor/ListarCursos'
import Asistencia from '../components/Profesor/Asistencia'
import CabeceraIzq from '../components/Profesor/CabeceraIzq'
import CabeceraGeneral from '../components/Todos/CabeceraGeneral'
export default {
  data: () => ({
    id: '',
    ciclo: '',
    nombre: '',
    codigo: '',
    horario: ''
  }),
  components: {
    ListarCursos, CabeceraIzq, CabeceraGeneral, Asistencia
  },
  mounted () {
    if (localStorage.ciclo) {
      this.ciclo = localStorage.ciclo
    }
    if (localStorage.nombre) {
      this.nombre = localStorage.nombre
    }
    if (localStorage.codigo) {
      this.codigo = localStorage.codigo
    }
    if (localStorage.horario) {
      this.horario = localStorage.horario
    }
  },
  methods: {
    buscarDatos () {
      localStorage.getItem('id')
      localStorage.getItem('ciclo')
      localStorage.getItem('nombre')
      localStorage.getItem('codigo')
      localStorage.getItem('horario')
    },
    borrarDatos () {
      localStorage.removeItem('id')
      localStorage.removeItem('ciclo')
      localStorage.removeItem('nombre')
      localStorage.removeItem('codigo')
      localStorage.removeItem('horario')
    }
  },
  created () {
    this.buscarDatos()
  }
}
</script>
