<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <v-container>
            <v-col>
                <h1>Mis Roles</h1>
            </v-col>
            <ListarRoles v-if="okPermisos"></ListarRoles>
            <h1 v-else> Usted no tiene asignado ningun Rol en el sistema.</h1>
            </v-container>
        </v-row>
    </div>
</template>

<script>
import ListarRoles from '@/components/Todos/ListarRoles'
import CabeceraGeneral from '../components/Todos/CabeceraGeneral'
export default {
  components: {
    ListarRoles, CabeceraGeneral
  },
  methods: {
    okPermisos () {
      return this.$store.state.permissions.length
    }
  }
}
</script>
