<template>
    <div class="infoCurso">
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzq></CabeceraIzq>
            <v-col>
                <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span><a href="/SuperAdmin/Especialidades" style="color: #1B4965">Volver a cursos</a></span>
                <v-card>
                    <v-toolbar flat>
                    <v-toolbar-title class="primario--text">Informacion General</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                </v-card>
                <v-layout wrap class="mt-5">
                    <v-flex xs6>
                        <v-card class="mx-auto" max-width="400">
                            <v-img
                                src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                                height="200px"
                            ></v-img>
                            <v-col>
                                  <v-btn>
                                      Imagen
                                  </v-btn>
                                  <div class="form-group">
                                      <input type="file" accept="image/*" @change="onFileUpload">
                                  </div>
                              </v-col>
                        </v-card>
                    </v-flex>
                    <v-flex xs6 class="pr-16">
                        <v-container fluid>
                            <v-row>
                            <v-col cols="4">
                                <v-subheader class="primario--text">Codigo del Curso</v-subheader>
                            </v-col>
                            <v-col cols="8">
                                <v-text-field class="secundario"
                                v-model="editedItem.codigo"
                                label="ID"
                                placeholder="INF235"
                                ></v-text-field>
                            </v-col>
                            </v-row>
                            <v-row>
                            <v-col cols="4">
                                <v-subheader class="primario--text">Nombre del Curso</v-subheader>
                            </v-col>
                            <v-col cols="8">
                                <v-text-field class="secundario"
                                v-model="editedItem.nombre"
                                label="Nombre Completo"
                                placeholder="Sistemas Operativos"
                                ></v-text-field>
                            </v-col>
                            </v-row>
                            <v-row>
                            <v-col cols="4">
                                <v-subheader class="primario--text">Especialidad</v-subheader>
                            </v-col>
                            <v-col
                                cols="11"
                                sm="8"
                                >
                               <v-select class="secundario"
                               v-model="editedItem.especialidad"
                                :items="especialidades"
                                label="Elija una especialidad"
                                item-text="nombre"
                                item-value="id"
                                hide-selected
                                solo
                                ></v-select>
                            </v-col>
                            </v-row>
                        </v-container>
                    </v-flex>
                </v-layout>
                <v-card>
                    <v-toolbar flat>
                    <v-toolbar-title class="primario--text">CURSOS</v-toolbar-title>
                    <v-spacer></v-spacer>
                    </v-toolbar>
                </v-card>
                <v-container class="grey lighten-5">
                    <v-data-table
                    :headers="headers"
                    :items="cursos"
                    item-key="nombre"
                    sort-by="especialidad">
                    <template v-slot:item.especialidad="{ item }">
                    {{ valor(item)}}
                    </template>
                    <template v-slot:item.actions="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        @click="deleteItem(item)"
                    >
                        mdi-delete
                    </v-icon>
                    <router-link :to="{ name: 'HorarioxCurso', params: {id: item.id , nombre: item.nombre, codigo: item.codigo}}">
                      Ver
                    </router-link>
                    </template>
                    <template v-slot:no-data>
                    <v-btn
                        color="primary"
                        @click="initialize"
                    >
                        Reset
                    </v-btn>
                    </template>
                    </v-data-table>
                </v-container>
                    <v-layout reverse>
                        <v-dialog
                        v-model="dialog"
                        persistent
                        max-width="370"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                    <v-btn  class="mt-5 white--text"
                                        depressed
                                        color="primario"
                                        v-bind="attrs"
                                        v-on="on"
                                        >
                                        Guardar
                                    </v-btn>
                            </template>
                                <v-card>
                                    <v-card-title class="headline">
                                    ¿Desea guardar los cambios?
                                    </v-card-title>
                                    <v-card-text>Los cambios seran permanentes</v-card-text>
                                    <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        color="green darken-1"
                                        text
                                        @click="save"
                                    >
                                        Aceptar
                                    </v-btn>
                                    <v-btn
                                        color="green darken-1"
                                        text
                                        @click="dialog = false"
                                    >
                                        Cancelar
                                    </v-btn>
                                    </v-card-actions>
                                </v-card>
                        </v-dialog>
                        <v-dialog v-model="dialogDelete" max-width="500px">
                            <v-card>
                                <v-card-title class="headline">¿Está seguro de eliminar al participante?</v-card-title>
                                <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
                                <v-spacer></v-spacer>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <div class="pl-10"></div>
                        <v-btn  class="mt-5 white--text"
                            depressed
                            color="primario"
                            >
                            Cancelar
                        </v-btn>
                        <div class="pl-10"></div>
                        <v-dialog
                          v-model="dialog2"
                          max-width="400px"
                          >
                          <template v-slot:activator="{ on, attrs }">
                              <v-btn
                              color="#1B4965"
                              dark
                              class="mb-2"
                              v-bind="attrs"
                              v-on="on"
                              >
                              CARGA MASIVA
                              </v-btn>
                          </template>
                          <v-card>
                              <v-card-title>
                              <span class="headline">Carga Masiva</span>
                              </v-card-title>
                              <v-card-text>
                              <v-container>
                                  <v-row>
                                    <v-col>
                                      <v-file-input
                                        v-model="file"
                                        accept=".csv"
                                        placeholder="Seleccione el archivo .CSV"
                                        label="Archivo"
                                      ></v-file-input>
                                  </v-col>
                                  </v-row>

                              </v-container>
                              </v-card-text>

                              <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                  color="blue darken-1"
                                  text
                                  @click="close_CM"
                              >
                                  Cancelar
                              </v-btn>
                              <v-btn
                                  color="blue darken-1"
                                  text
                                  @click="guardar_CM"
                              >
                                  Guardar
                              </v-btn>
                              </v-card-actions>
                          </v-card>
                        </v-dialog>
                    </v-layout>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import CabeceraIzq from '../components/Administrador/CabeceraIzqAdmin'
import CabeceraGeneral from '../components/Todos/CabeceraGeneral'
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  data () {
    return {
      file: null,
      dialog2: false,
      FILE: {
        nombre_corto: '',
        nombre_extendido: '',
        imagen: null
      },
      dialog: false,
      especialidades: [],
      cursos: [],
      editedItem: {
        codigo: '',
        nombre: '',
        especialidad: 1
      },
      defaultItem: {
        codigo: '',
        nombre: '',
        especialidad: 1
      },
      AuxItem: {
        codigo: '',
        nombre: '',
        especialidad: 1
      },
      headers: [
        {text: 'Codigo', value: 'codigo', groupable: false},
        {text: 'Nombre', value: 'nombre', groupable: false},
        {text: 'Especialidad', value: 'especialidad'},
        {text: 'Acciones', value: 'actions', sortable: false, groupable: false}
      ],
      editedIndex: -1,
      dialogDelete: false,
      esp: this.$route.params.id
    }
  },
  components: {
    CabeceraIzq, CabeceraGeneral
  },
  name: 'infoCurso',
  methods: {
    valor (item) {
      if (item.id === this.especialidades.id) {
        return this.especialidades.nombre
      }
    },
    /* getCursos () {
      const path = `/api/cursos_por_especialidad/${this.esp}`
      axios.get(path).then((response) => {
        this.cursos = response.data.cursos
      })
        .catch((error) => {
          console.log(error)
        })
    }, */
    getCursos () {
      const config = {
        headers: {Authorization: `Bearer ${this.$store.state.token}`}
      }
      const path = `/api/curso_token/`
      axios.get(path, config).then((response) => {
        this.cursos = response.data
        console.log(this.$store.state.token)
        console.log(response.data)
      })
        .catch((error) => {
          console.log(error)
        })
    },
    getEspecialidades () {
      const path = `/api/cursos_por_especialidad/${this.esp}`
      axios.get(path).then((response) => {
        this.especialidades = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    save () {
      if (this.editedIndex > -1) {
        this.auxItem = this.editedItem
        Object.assign(this.cursos[this.editedIndex], this.editedItem)
        const path = `/api/curso/${this.auxItem.id}/`
        axios.patch(path, this.editedItem).then((response) => {
          this.dato = response.data
        })
          .catch((error) => {
            console.log(error)
          })
      } else {
        this.auxItem = this.editedItem
        this.cursos.push(this.editedItem)
        const path = '/api/curso/'
        axios.post(path, this.auxItem).then((response) => {
          this.dato = response.data
        })
          .catch((error) => {
            console.log(error)
          })
      }
      this.close()
    },
    deleteItemConfirm () {
      this.cursos.splice(this.editedIndex, 1)
      const path = `/api/curso/${this.editedItem.id}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
      })
        .catch((error) => {
          console.log(error)
        })
      this.closeDelete()
    },
    editItem (item) {
      this.editedIndex = this.cursos.indexOf(item)
      this.editedItem = Object.assign({}, item)
    },
    deleteItem (item) {
      this.editedIndex = this.cursos.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    onFileUpload (event) {
      this.FILE = event.target.files[0]
    },
    close_CM () {
      this.dialog2 = false
      this.file = null
      this.$nextTick(() => {
      })
    },
    guardar_CM () {
      const formData = new FormData()
      formData.append('archivo', this.file)

      axios.post('/api/carga_masiva_curso/',
        formData, {headers: {
          'Content-Type': 'multipart/form-data'}
        }).then((res) => {
        console.log(res)
        this.close()
        location.reload()
      })
    }
  },
  created () {
    this.getEspecialidades()
    this.getCursos()
  }

}
</script>
