<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <MenuSuperAdmin></MenuSuperAdmin>
            <v-col>
                <ListarAdministradores></ListarAdministradores>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import ListarAdministradores from '../components/SuperAdmin/ListarAdministradores'

import MenuSuperAdmin from '../components/SuperAdmin/MenuSuperAdmin'
import CabeceraGeneral from '../components/Todos/CabeceraGeneral'

export default {
  components: {
    CabeceraGeneral,
    MenuSuperAdmin,
    ListarAdministradores
  }
}
</script>

<style>
</style>
