<template>
  <div>
    <CabeceraGeneral></CabeceraGeneral>
    <v-row>
      <MenuSuperAdmin></MenuSuperAdmin>
      <v-col>
        <InformacionGeneral></InformacionGeneral>
      </v-col>
    </v-row>
  </div>
</template>

<script>

import InformacionGeneral from '../components/SuperAdmin/InformacionGeneral'
import InfoSuperAdmin from '../components/SuperAdmin/InfoSuperAdmin'

import MenuSuperAdmin from '../components/SuperAdmin/MenuSuperAdmin'
import CabeceraGeneral from '../components/Todos/CabeceraGeneral'

export default {
  components: {
    CabeceraGeneral,
    MenuSuperAdmin,
    InformacionGeneral,
    InfoSuperAdmin
  }
}
</script>
