<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <MenuSuperAdmin></MenuSuperAdmin>
            <v-col>
                <ListarUsuarios></ListarUsuarios>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import ListarUsuarios from '../components/SuperAdmin/ListarUsuarios'

import MenuSuperAdmin from '../components/SuperAdmin/MenuSuperAdmin'
import CabeceraGeneral from '../components/Todos/CabeceraGeneral'

export default {
  components: {
    CabeceraGeneral,
    MenuSuperAdmin,
    ListarUsuarios
  }
}
</script>

<style>
</style>
