<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <MenuSuperAdmin></MenuSuperAdmin>
            <v-col>
              <v-row>
                <ListarFacultades></ListarFacultades>
              </v-row>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import ListarFacultades from '../components/SuperAdmin/ListarFacultades'

import MenuSuperAdmin from '../components/SuperAdmin/MenuSuperAdmin'
import CabeceraGeneral from '../components/Todos/CabeceraGeneral'

export default {
  components: {
    CabeceraGeneral,
    MenuSuperAdmin,
    ListarFacultades
  }
}
</script>

<style>
</style>
