<template>
  <div>
   <v-container>
      <v-row>
          <h1>Información General</h1>
      </v-row>
      <v-row>
        <v-col :cols="3">
          <v-card
            class="mx-auto"
            max-width="344"
          >
            <v-img
            contain
            :aspect-ratio="5/2"
            max-width="340"
            :src = info_Insti.imagen
            ></v-img>
          </v-card>
              <v-dialog
                v-model="dialog2"
                max-width="400px"
                >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                    color="#1B4965"
                    dark
                    class="mb-2"
                    v-bind="attrs"
                    v-on="on"
                    >
                    EDITAR LOGO
                    </v-btn>
                </template>
                <v-card>
                    <v-card-title>
                    <span class="headline">Editar Logo</span>
                    </v-card-title>
                    <v-card-text>
                    <v-container>
                        <v-row>
                          <v-col
                            cols="12"
                            sm="9"
                            md="12"
                        >
                        <v-card
                            class="mx-auto"
                            max-width="344"
                        >
                          <v-img
                        contain
                        :aspect-ratio="5/2"
                        max-width="340"
                        :src = nuevaImagen
                        ></v-img>
                        </v-card>
                        </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                        <v-file-input
                          @change ="previsualizarFoto"
                          v-model="file2"
                          :rules="rules.logo"
                          accept="image/png, image/jpeg, image/bmp"
                          placeholder="Seleccione un logo"
                          prepend-icon="mdi-camera"
                          label="Nuevo Logo"
                        ></v-file-input>

                        </v-col>
                        </v-row>

                    </v-container>
                    </v-card-text>

                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue darken-1"
                        text
                        @click="close_logo"
                    >
                        Cancelar
                    </v-btn>
                    <v-btn
                        color="blue darken-1"
                        text
                        @click="subirFoto"
                    >
                        Guardar
                    </v-btn>
                    </v-card-actions>
                </v-card>
              </v-dialog>
        </v-col>
        <v-col :cols="9">
          <h3>Nombre Corto: {{info_Insti.nombre_corto}}</h3>
          <h3>Nombre Extendido: {{info_Insti.nombre_extendido}}</h3>
          <h3>Dominio: {{info_Insti.dominio}}</h3>
          <h3>Telefono: {{info_Insti.telefono}}</h3>
          <h3>Dirección: {{info_Insti.direccion}}</h3>
          <h3>Página web: {{info_Insti.pagina_web}}</h3>
          <v-dialog
          v-model="dialog"
          max-width="500px"
          >
          <template v-slot:activator="{ on, attrs }">
              <v-btn
              color="#1B4965"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
              >
              EDITAR
              </v-btn>
          </template>
          <v-card ref="form">
              <v-card-title>
              <span class="headline">{{ formTitle }}</span>
              </v-card-title>
              <v-card-text>
              <v-container>
                  <v-row>

                    <v-col
                      cols="12"
                      sm="3"
                      md="12"
                    >
                      <v-text-field
                      ref="nombre_corto"
                      v-model="editedItem.nombre_corto"
                      label="Nombre Corto"
                      :rules="[
                      () => !!editedItem.nombre_corto || 'Este campo es obligatorio',
                      () => !!editedItem.nombre_corto && editedItem.nombre_corto.length <= 8 || 'El nombre corto debe ser menor a 8 caracteres',
                      ]"
                      counter="8"
                      required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                  <v-col
                      cols="12"
                      sm="9"
                      md="12"
                  >
                      <v-text-field
                      ref="nombre_extendido"
                      v-model="editedItem.nombre_extendido"
                      label="Nombre Extendido"
                      :rules="[
                      () => !!editedItem.nombre_extendido || 'Este campo es obligatorio',
                      () => !!editedItem.nombre_extendido && editedItem.nombre_extendido.length <= 50 || 'El nombre extendido debe ser menor a 50 caracteres',
                      ]"
                      counter="50"
                      required
                      ></v-text-field>
                  </v-col>
                  </v-row>
                  <v-row>
                  <v-col
                      cols="12"
                      sm="9"
                      md="12"
                  >
                      <v-text-field
                      ref="dominio"
                      v-model="editedItem.dominio"
                      label="Dominio"
                      :rules="[
                      () => !!editedItem.dominio || 'Este campo es obligatorio',
                      () => !!editedItem.dominio && editedItem.dominio.length <= 50 || 'El dominio debe ser menor a 50 caracteres',
                      ]"
                      counter="50"
                      required
                      ></v-text-field>
                  </v-col>
                  </v-row>
                  <v-row>
                  <v-col
                      cols="12"
                      sm="9"
                      md="12"
                  >
                      <v-text-field
                      ref="telefono"
                      v-model="editedItem.telefono"
                      label="Telefono"
                      :rules="[
                      () => !!editedItem.telefono || 'Este campo es obligatorio',
                      () => !!editedItem.telefono && editedItem.telefono.length === 7 || 'El teléfono debe contener 7 caracteres',
                      ]"
                      counter="7"
                      required
                      ></v-text-field>
                  </v-col>
                  </v-row>
                  <v-row>
                  <v-col
                      cols="12"
                      sm="9"
                      md="12"
                  >
                      <v-text-field
                      ref="direccion"
                      v-model="editedItem.direccion"
                      label="Dirección"
                      :rules="[
                      () => !!editedItem.direccion || 'Este campo es obligatorio',
                      () => !!editedItem.direccion && editedItem.direccion.length <= 50 || 'La dirección debe ser menor a 50 caracteres',
                      ]"
                      counter="50"
                      required
                      ></v-text-field>
                  </v-col>
                  </v-row>
                  <v-row>
                  <v-col
                      cols="12"
                      sm="9"
                      md="12"
                  >
                      <v-text-field
                      ref="pagina_web"
                      v-model="editedItem.pagina_web"
                      label="Página Web"
                      :rules="[
                      () => !!editedItem.pagina_web || 'Este campo es obligatorio',
                      () => !!editedItem.pagina_web && editedItem.pagina_web.length <= 50 || 'La página web debe ser menor a 50 caracteres',
                      ]"
                      counter="50"
                      required
                      ></v-text-field>
                  </v-col>
                  </v-row>

              </v-container>
              </v-card-text>

              <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
              >
                  Cancelar
              </v-btn>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
              >
                  Guardar
              </v-btn>
              </v-card-actions>
          </v-card>
          </v-dialog>

          </v-col>

          </v-row>
        </v-container>
        <v-snackbar
          v-model="snack"
          :timeout="3000"
          :color="snackColor"
        >
          {{ snackText }}

          <template v-slot:action="{ attrs }">
            <v-btn
              v-bind="attrs"
              text
              @click="snack = false"
            >
              Close
            </v-btn>
          </template>
        </v-snackbar>
    </div>
</template>

<script>

import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'InformacionGeneral',
  data: () => ({
    snack: false,
    snackColor: '',
    snackText: '',
    nuevaImagen: '',
    FILE: {
      nombre_corto: '',
      nombre_extendido: '',
      imagen: null
    },
    file2: null,
    rules: {
      logo: [
        value => !value || value.size < 20000000 || 'Logo size should be less than 20 MB!'
      ]
    },
    formHasErrors: false,
    name: '',
    dialog: false,
    dialogDelete: false,
    dialog2: false,
    dialogDelete2: false,
    info_Insti: {},
    dato: [],
    search: '',
    editedIndex: 1,
    editedItem: {
      nombre_corto: '',
      nombre_extendido: '',
      dominio: '',
      telefono: '',
      direccion: '',
      pagina_web: ''
    },
    auxItem: {
      nombre_corto: '',
      nombre_extendido: '',
      dominio: '',
      telefono: '',
      direccion: '',
      pagina_web: ''
    },
    defaultItem: {
      nombre_corto: '',
      nombre_extendido: '',
      dominio: '',
      telefono: '',
      direccion: '',
      pagina_web: ''
    }
  }),
  methods: {
    previsualizarFoto () {
      this.nuevaImagen = URL.createObjectURL(this.file2)
    },

    subirFoto () {
      const formData = new FormData()
      formData.append('imagen', this.file2)

      axios.patch('/api/institucion/1/',
        formData, {headers: {
          'Content-Type': 'multipart/form-data'}
        }).then((res) => {
        console.log(res)
        this.close()
        location.reload()
      })
    },
    get_info_Insti () {
      axios
        .get('/api/institucion/1/')
        .then(response => {
          console.log(response)
          this.info_Insti = response.data
          this.editedItem.nombre_corto = this.info_Insti.nombre_corto
          this.editedItem.nombre_extendido = this.info_Insti.nombre_extendido
          this.editedItem.dominio = this.info_Insti.dominio
          this.editedItem.telefono = this.info_Insti.telefono
          this.editedItem.direccion = this.info_Insti.direccion
          this.editedItem.pagina_web = this.info_Insti.pagina_web
          this.nuevaImagen = this.info_Insti.imagen
        })
        .catch(e => console.log(e))
    },
    editItem (item) {
      this.editedIndex = 1
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem.nombre_corto = this.info_Insti.nombre_corto
        this.editedItem.nombre_extendido = this.info_Insti.nombre_extendido
        this.editedIndex = 1
      })
    },
    close_logo () {
      this.dialog2 = false
      this.file2 = null
      this.$nextTick(() => {
        this.nuevaImagen = this.info_Insti.imagen
      })
    },

    save () {
      this.formHasErrors = false
      Object.keys(this.form).forEach(f => {
        if (!this.form[f]) this.formHasErrors = true
        this.$refs[f].validate(true)
      })
      if (!this.formHasErrors) {
        this.auxItem = this.editedItem
        Object.assign(this.info_Insti, this.editedItem)
        const path = `/api/institucion/1/`
        axios.patch(path, this.editedItem).then((response) => {
          this.dato = response.data
          this.snackText = 'Se han editado los datos correctamente'
          this.snackColor = 'success'
          this.snack = true
        })
          .catch((error) => {
            console.log(error)
            this.snackText = 'Se ha producido un error, inténtelo de nuevo'
            this.snackColor = 'error'
            this.snack = true
          })
        this.close()
      }
    }
  },
  computed: {
    formTitle () {
      return 'Editar Institución'
    },
    form () {
      return {
        nombre_corto: this.editedItem.nombre_corto,
        nombre_extendido: this.editedItem.nombre_extendido,
        dominio: this.editedItem.dominio,
        telefono: this.editedItem.telefono,
        direccion: this.editedItem.direccion,
        pagina_web: this.editedItem.pagina_web
      }
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
    dialog2 (val) {
      val || this.close()
    },
    dialogDelete2 (val) {
      val || this.closeDelete()
    }
  },
  created () {
    this.get_info_Insti()
  }
}

</script>

<style scoped>
.Titulo {
  font-family: roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  margin-right: 0px;
  margin-left: 0px;
  color:#1B4965;
}
.bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
.clearfix:after {
      clear: both
  }
</style>
