<template>
  <div>
   <v-container>
      <v-row>
          <h1>Super Administrador</h1>
      </v-row>
      <v-row>
        <v-col :cols="9">
            <h3>Usuario: {{info_SuperAdmin.username}}</h3>
            <h3>Nombre: {{info_SuperAdmin.first_name}}</h3>
            <h3>Apellidos: {{info_SuperAdmin.last_name}}</h3>
            <h3>E-mail: {{info_SuperAdmin.email}}</h3>
            <v-dialog
            v-model="dialog"
            max-width="500px"
            >
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                color="#1B4965"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
                >
                EDITAR
                </v-btn>
            </template>
            <v-card>
                <v-card-title>
                <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="3"
                        md="12"
                      >
                        <v-text-field
                        v-model="editedItem.username"
                        label="Usuario"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                    <v-col
                        cols="12"
                        sm="9"
                        md="12"
                    >
                        <v-text-field
                        v-model="editedItem.first_name"
                        label="Nombre"
                        ></v-text-field>
                    </v-col>
                    </v-row>
                    <v-row>
                    <v-col
                        cols="12"
                        sm="9"
                        md="12"
                    >
                        <v-text-field
                        v-model="editedItem.last_name"
                        label="Apellidos"
                        ></v-text-field>
                    </v-col>
                    </v-row>
                    <v-row>
                    <v-col
                        cols="12"
                        sm="9"
                        md="12"
                    >
                        <v-text-field
                        v-model="editedItem.email"
                        label="E-mail"
                        ></v-text-field>
                    </v-col>
                    </v-row>
                </v-container>
                </v-card-text>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="close"
                >
                    Cancelar
                </v-btn>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="save"
                >
                    Guardar
                </v-btn>
                </v-card-actions>
            </v-card>
            </v-dialog>

            </v-col>

            </v-row>
        </v-container>
    </div>
</template>

<script>

import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'InformacionGeneral',
  data: () => ({
    FILE: {
      nombre_corto: '',
      nombre_extendido: '',
      imagen: null
    },
    name: '',
    dialog: false,
    dialogDelete: false,
    info_SuperAdmin: {},
    dato: [],
    search: '',
    id_superUser: 0,
    editedIndex: -1,
    editedItem: {
      id: 0,
      username: '',
      first_name: '',
      last_name: '',
      email: ''
    },
    auxItem: {
      id: 0,
      username: '',
      first_name: '',
      last_name: '',
      email: ''
    },
    defaultItem: {
      id: 0,
      username: '',
      first_name: '',
      last_name: '',
      email: ''
    }
  }),
  methods: {
    get_info_SuperAdmin () {
      axios
        .get('/api/user/')
        .then(response => {
          console.log(response)
          const info = response.data.find(dato => dato.is_superuser === true)
          this.info_SuperAdmin = info
          this.id_superUser = info.id
          this.editedIndex = this.info_SuperAdmin.id
          this.editItem.id = this.info_SuperAdmin.id
          this.editedItem.username = this.info_SuperAdmin.username
          this.editedItem.first_name = this.info_SuperAdmin.first_name
          this.editedItem.last_name = this.info_SuperAdmin.last_name
          this.editedItem.email = this.info_SuperAdmin.email
        })
        .catch(e => console.log(e))
    },
    editItem (item) {
      this.editedIndex = this.info_SuperAdmin.id
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.info_SuperAdmin.id
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.facultades.splice(this.editedIndex, this.info_SuperAdmin.id)
      const path = `/api/user/${this.info_SuperAdmin.id}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
      })
        .catch((error) => {
          console.log(error)
        })
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem.nombre_corto = this.info_SuperAdmin.nombre_corto
        this.editedItem.nombre_extendido = this.info_SuperAdmin.nombre_extendido
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      })
    },
    save () {
      this.auxItem = this.editedItem
      Object.assign(this.info_SuperAdmin, this.editedItem)
      const path = `/api/user/${this.id_superUser}/`
      axios.patch(path, this.editedItem).then((response) => {
        this.dato = response.data
      })
        .catch((error) => {
          console.log(error)
        })
      this.close()
    }
  },
  computed: {
    formTitle () {
      return 'Editar Institución'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    }
  },
  created () {
    this.get_info_SuperAdmin()
  }
}

</script>

<style scoped>
.Titulo {
  font-family: roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  margin-right: 0px;
  margin-left: 0px;
  color:#1B4965;
}
.bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
.clearfix:after {
      clear: both
  }
</style>
