<template>
<v-container>
<v-row>
    <h1>Usuarios</h1>
</v-row>
  <v-data-table
    :headers="headers"
    :items="usuarios"
    :search="search"
    class="primario--text font-weight-medium text-uppercase"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title class="primario--text">Administración de Usuarios</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="#1B4965"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              NUevo Usuario
            </v-btn>
          </template>
          <v-card ref="form">
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="9"
                  >
                    <v-text-field
                      ref="username"
                      v-model="editedItem.username"
                      label="Usuario"
                      :rules="[
                      () => !!editedItem.username || 'Este campo es obligatorio',
                      () => !!editedItem.username && editedItem.username.length <= 20 || 'El usuario debe ser menor a 20 caracteres',
                      ]"
                      counter="20"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="9"
                  >
                    <v-text-field
                      ref="first_name"
                      v-model="editedItem.first_name"
                      label="Nombres"
                      :rules="[
                      () => !!editedItem.first_name || 'Este campo es obligatorio',
                      () => !!editedItem.first_name && editedItem.first_name.length <= 40 || 'El nombre debe ser menor a 40 caracteres',
                      ]"
                      counter="40"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="9"
                  >
                    <v-text-field
                      ref="last_name"
                      v-model="editedItem.last_name"
                      label="Apellidos"
                      :rules="[
                      () => !!editedItem.last_name || 'Este campo es obligatorio',
                      () => !!editedItem.last_name && editedItem.last_name.length <= 40 || 'El apellido debe ser menor a 40 caracteres',
                      ]"
                      counter="40"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="9"
                  >
                    <v-text-field
                      ref="email"
                      v-model="editedItem.email"
                      label="E-mail"
                      :rules="rules.email"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">¿Está seguro de eliminar al usuario?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <div class="pl-10"></div>
                <v-dialog
                  v-model="dialog2"
                  max-width="400px"
                  >
                  <template v-slot:activator="{ on, attrs }">
                      <v-btn
                      color="#1B4965"
                      dark
                      class="mb-2"
                      v-bind="attrs"
                      v-on="on"
                      >
                      CARGA MASIVA
                      </v-btn>
                  </template>
                  <v-card>
                      <v-card-title>
                      <span class="headline">Carga Masiva</span>
                      </v-card-title>
                      <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col>
                            <v-file-input
                              v-model="file"
                              accept=".csv"
                              placeholder="Seleccione el archivo .CSV"
                              label="Archivo"
                            ></v-file-input>
                        </v-col>
                        </v-row>
                      </v-container>
                      </v-card-text>
                      <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                          color="blue darken-1"
                          text
                          @click="close_CM"
                      >
                          Cancelar
                      </v-btn>
                      <v-btn
                          color="blue darken-1"
                          text
                          @click="guardar_CM"
                      >
                          Guardar
                      </v-btn>
                      </v-card-actions>
                  </v-card>
                </v-dialog>
                <ExcelUsuarios/>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
  <v-snackbar
    v-model="snack"
    :timeout="3000"
    :color="snackColor"
  >
    {{ snackText }}

    <template v-slot:action="{ attrs }">
      <v-btn
        v-bind="attrs"
        text
        @click="snack = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</v-container>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
import ExcelUsuarios from '@/components/SuperAdmin/PlantillasDeCargaMasivaExcel/ExcelUsuarios'
axios.defaults.baseURL = extraConfig.backPath

export default {
  components: {
    ExcelUsuarios
  },
  name: 'Facultades',
  data: () => ({
    snack: false,
    snackColor: '',
    snackText: '',
    file: null,
    dialog2: false,
    dialog: false,
    dialogDelete: false,
    facultades: [],
    usuarios: [],
    dato: [],
    search: '',
    headers: [
      {text: 'Usuario', value: 'username'},
      {text: 'Nombres', value: 'first_name'},
      {text: 'Apellidos', value: 'last_name'},
      {text: 'Email', value: 'email'},
      {text: 'Grupos', value: 'user_permissions'},
      {text: 'Acciones', value: 'actions', sortable: false}
    ],
    rules: {
      email: [
        (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'E-mail inválido!'
        }
      ]
    },
    formHasErrors: false,
    editedIndex: -1,
    editedItem: {
      username: '',
      email: '',
      first_name: '',
      last_name: '',
      password: 'None'
    },
    auxItem: {
      username: '',
      email: '',
      first_name: '',
      last_name: '',
      password: 'None'
    },
    defaultItem: {
      username: '',
      email: '',
      first_name: '',
      last_name: '',
      password: 'None'
    }
  }),
  methods: {
    getFacultades () {
      const path = '/api/user/'
      axios.get(path).then((response) => {
        this.facultades = response.data
        console.log(this.facultades.length)
        for (let i = 0; i < this.facultades.length; i++) {
          let row = {}
          row['id'] = this.facultades[i].id
          row['username'] = this.facultades[i].username
          row['email'] = this.facultades[i].email
          row['first_name'] = this.facultades[i].first_name
          row['last_name'] = this.facultades[i].last_name
          row['password'] = this.facultades[i].password
          row['last_login'] = this.facultades[i].last_login
          row['is_superuser'] = this.facultades[i].is_superuser
          row['is_staff'] = this.facultades[i].is_staff
          row['is_active'] = this.facultades[i].is_active
          row['date_joined'] = this.facultades[i].date_joined
          row['user_permissions'] = ''
          // console.log(this.facultades.length)
          for (let j = 0; j < this.facultades[i].groups.length; j++) {
            // console.log(this.facultades[i].groups.length)
            if (j !== this.facultades[i].groups.length - 1) {
              row['user_permissions'] = row['user_permissions'] + this.facultades[i].groups[j].name + ', '
            } else {
              row['user_permissions'] = row['user_permissions'] + this.facultades[i].groups[j].name
            }
          }
          this.usuarios.push(Object.assign({}, row))
        }
      })
        .catch((error) => {
          console.log(error)
        })
    },
    editItem (item) {
      this.editedIndex = this.usuarios.indexOf(item)
      console.log(this.editedIndex)
      this.editedItem = Object.assign({}, item)
      console.log(this.editedItem)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.usuarios.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.usuarios.splice(this.editedIndex, 1)
      const path = `/api/user/${this.editedItem.id}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
        this.snackText = 'Se ha eliminado al usuario con éxito'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          this.snackText = 'Se ha producido un error, inténtelo de nuevo'
          this.snackColor = 'error'
          this.snack = true
        })
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      if (this.editedIndex > -1) {
        this.formHasErrors = false
        Object.keys(this.form).forEach(f => {
          if (!this.form[f]) this.formHasErrors = true
          this.$refs[f].validate(true)
        })
        if (!this.formHasErrors) {
          this.auxItem = this.editedItem
          Object.assign(this.usuarios[this.editedIndex], this.editedItem)
          console.log(this.editedIndex)
          console.log(this.editedItem.id)
          this.editedItem.user_permissions = []
          console.log(this.editedItem)
          const path = `/api/user/${this.auxItem.id}/`
          axios.patch(path, this.editedItem).then((response) => {
            this.dato = response.data
            this.snackText = 'Se ha editado al usuario correctamente'
            this.snackColor = 'success'
            this.snack = true
            this.getFacultades()
          })
            .catch((error) => {
              console.log(error)
              this.snackText = 'Se ha producido un error, inténtelo de nuevo'
              this.snackColor = 'error'
              this.snack = true
            })
          this.close()
        }
      } else {
        this.formHasErrors = false
        Object.keys(this.form).forEach(f => {
          if (!this.form[f]) this.formHasErrors = true
          this.$refs[f].validate(true)
        })
        if (!this.formHasErrors) {
          console.log(this.auxItem.id)
          console.log(this.editedIndex)
          console.log('Los datos son correctos')
          console.log(this.formHasErrors)
          this.auxItem = this.editedItem
          this.usuarios.push(this.editedItem)
          const path = '/api/user_config/'
          axios.post(path, this.auxItem).then((response) => {
            this.dato = response.data
            this.snackText = 'Se ha registrado al usuario correctamente'
            this.snackColor = 'success'
            this.snack = true
            this.getFacultades()
          })
            .catch((error) => {
              console.log(error)
              this.snackText = 'Se ha producido un error, inténtelo de nuevo'
              this.snackColor = 'error'
              this.snack = true
            })
          this.close()
        }
      }
    },

    close_CM () {
      this.dialog2 = false
      this.file = null
      this.$nextTick(() => {
      })
    },
    guardar_CM () {
      const formData = new FormData()
      formData.append('archivo', this.file)

      axios.post('/api/carga_masiva_usuario/',
        formData, {headers: {
          'Content-Type': 'multipart/form-data'}
        }).then((res) => {
        console.log(res)
        this.close()
        location.reload()
      })
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo Usuario' : 'Editar Usuario'
    },
    form () {
      return {
        username: this.editedItem.username,
        email: this.editedItem.email,
        first_name: this.editedItem.first_name,
        last_name: this.editedItem.last_name
      }
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    }
  },
  created () {
    this.getFacultades()
  }
}
</script>
