<template>
<v-container>
<v-row>
    <h1>Administradores</h1>
</v-row>
  <v-data-table
    :headers="headers"
    :items="facultades"
    :search="search"
    class="primario--text font-weight-medium text-uppercase"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title class="primario--text">Gestion de Administradores</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="#1B4965"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
              v-on:click="reset">
              Nuevo Administrador>
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="9"
                  >
                    <v-select
                      v-model="selectEspecialidad"
                      label="especialidades"
                      :items="especialidades"
                      item-text="nombre"
                      item-value="id"
                      @change="checkEspecialidad"
                    ></v-select>
                  </v-col>
                  <div>
                    <v-col
                        cols="12"
                        sm="6"
                        md="9"
                    >
                        <v-select
                        v-model="selectUsuario"
                        label="usuarios"
                        :items="usuarios"
                        item-text="email"
                        item-value="id"
                        @change="checkUsuario"
                        ></v-select>
                    </v-col>
                  </div>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">¿Está seguro de eliminar el administrador de la especialidad?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <div class="pl-10"></div>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <!-- <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon> -->
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <!-- <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn> -->
    </template>
  </v-data-table>
  <v-snackbar
    v-model="snack"
    :timeout="3000"
    :color="snackColor"
  >
    {{ snackText }}

    <template v-slot:action="{ attrs }">
      <v-btn
        v-bind="attrs"
        text
        @click="snack = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</v-container>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'Facultades',
  data: () => ({
    snack: false,
    snackColor: '',
    snackText: '',
    selectEspecialidad: '',
    selectUsuario: '',
    file: null,
    dialog2: false,
    dialog: false,
    dialogDelete: false,
    facultades: [],
    dato: [],
    especialidades: [],
    temporal: null,
    usuarios: [],
    search: '',
    headers: [
      {text: 'Email', value: 'email'},
      {text: 'Especialidad', value: 'especialidad'},
      {text: 'Acciones', value: 'actions', sortable: false}
    ],
    editedIndex: -1,
    editedItem: {
      id_admin: '',
      email: '',
      especialidad: '',
      id_especialidad: ''
    },
    auxItem: {
      id_admin: '',
      email: '',
      especialidad: '',
      id_especialidad: ''
    },
    defaultItem: {
      id_admin: '',
      email: '',
      especialidad: '',
      id_especialidad: ''
    },
    opItem: {
      administradores: []
    },
    temportalItem: {
      id_admin: '',
      email: '',
      especialidad: '',
      id_especialidad: ''
    }
  }),
  methods: {
    checkEspecialidad (id, nombre) {
      this.editedItem.id_especialidad = id
    },

    checkUsuario (id) {
      this.editedItem.id_admin = id
    },

    getFacultades () {
      const path = '/api/lista_admin/'
      axios.get(path).then((response) => {
        this.facultades = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    editItem (item) {
      this.editedIndex = this.facultades.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.facultades.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.facultades.splice(this.editedIndex, 1)
      const path = `/api/gestionar_admin_especialidad/${this.editedItem.id_admin}/${this.editedItem.id_especialidad}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
        this.snackText = 'Se ha eliminado al administrador con éxito'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          this.snackText = 'Se ha producido un error, inténtelo de nuevo'
          this.snackColor = 'error'
          this.snack = true
        })
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
        this.opItem.administradores = []
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      const path = `/api/gestionar_admin_especialidad/${this.editedItem.id_admin}/${this.editedItem.id_especialidad}/`
      axios.post(path).then((response) => {
        this.dato = response.data
        this.getFacultades()
        this.snackText = 'Se ha registrado al administrador correctamente'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          this.snackText = 'Se ha producido un error, inténtelo de nuevo'
          this.snackColor = 'error'
          this.snack = true
        })
      this.close()
    },

    close_CM () {
      this.dialog2 = false
      this.file = null
      this.$nextTick(() => {
      })
    },
    guardar_CM () {
      const formData = new FormData()
      formData.append('archivo', this.file)
      axios.post('/api/carga_masiva_usuario/',
        formData, {headers: {
          'Content-Type': 'multipart/form-data'}
        }).then((res) => {
        console.log(res)
        this.close()
        location.reload()
      })
    },
    reset () {
      this.selectEspecialidad = ''
      this.selectUsuario = ''
    }
  },
  computed: {
    // eslint-disable-next-line
    formTitle ()  {

      const path = '/api/especialidad/'
      // eslint-disable-next-line
      axios.get(path).then((response) => {
        // eslint-disable-next-line
        this.especialidades = response.data
      })
        .catch((error) => {
          console.log(error)
        })
      const path2 = '/api/user/'
      // eslint-disable-next-line
      axios.get(path2).then((response) => {
        // eslint-disable-next-line
        this.usuarios = response.data
      })
        .catch((error) => {
          console.log(error)
        })
      return this.editedIndex === -1 ? 'Nuevo Administrador' : 'Editar Administrador'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    }
  },
  created () {
    this.getFacultades()
  }
}
</script>
