<template>
<v-container>
<v-row>
    <h1>Facultades</h1>
</v-row>
  <v-data-table
    :headers="headers"
    :items="facultades"
    :search="search"
    class="primario--text font-weight-medium text-uppercase"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title class="primario--text">Administración de Facultades</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="#1B4965"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              Nuevo
            </v-btn>
          </template>
          <v-card ref="form">
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="3"
                  >
                    <v-text-field
                      ref="codigo"
                      v-model="editedItem.codigo"
                      label="Código"
                      :rules="[
                      () => !!editedItem.codigo || 'Este campo es obligatorio',
                      () => !!editedItem.codigo && editedItem.codigo.length <= 10 || 'El código debe ser menor a 10 caracteres',
                      ]"
                      counter="10"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="9"
                  >
                    <v-text-field
                      ref="nombre"
                      v-model="editedItem.nombre"
                      label="Nombre de la facultad"
                      :rules="[
                      () => !!editedItem.nombre || 'Este campo es obligatorio',
                      () => !!editedItem.nombre && editedItem.nombre.length <= 40 || 'El nombre debe ser menor a 40 caracteres',
                      ]"
                      counter="40"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">¿Está seguro de eliminar el registro?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <div class="pl-10"></div>
        <v-dialog v-model="dialogError" max-width="500px">
          <v-card>
            <v-card-title class="headline">ERROR!</v-card-title>
            <v-container>
            <span>No se guardaron los siguientes registros</span>
            </v-container>
            <v-data-table
              :headers="headersNoGuargados"
              :items="regNoGuardados"
              :items-per-page="10"
              class="elevation-1"
            ></v-data-table>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeError">Cerrar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogSuccess" max-width="500px">
          <v-card>
            <v-card-title class="headline">Registros guardados correctamente!</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeSuccess">Cerrar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog
          v-model="dialog2"
          max-width="400px"
          >
          <template v-slot:activator="{ on, attrs }">
              <v-btn
              color="#1B4965"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
              >
              CARGA MASIVA
              </v-btn>
          </template>
          <v-card>
              <v-card-title>
              <span class="headline">Carga Masiva</span>
              </v-card-title>
              <v-card-text>
              <v-container>
                <v-row>
                  <v-col>
                    <v-file-input
                      v-model="file"
                      accept=".csv"
                      placeholder="Seleccione el archivo .CSV"
                      label="Archivo"
                    ></v-file-input>
                </v-col>
                </v-row>
              </v-container>
              </v-card-text>
              <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="close_CM"
              >
                  Cancelar
              </v-btn>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="guardar_CM"
              >
                  Guardar
              </v-btn>
              </v-card-actions>
          </v-card>
        </v-dialog>
        <ExcelFacultades/>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
  <v-snackbar
    v-model="snack"
    :timeout="3000"
    :color="snackColor"
  >
    {{ snackText }}

    <template v-slot:action="{ attrs }">
      <v-btn
        v-bind="attrs"
        text
        @click="snack = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</v-container>
</template>
<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
import ExcelFacultades from '@/components/SuperAdmin/PlantillasDeCargaMasivaExcel/ExcelFacultades'
axios.defaults.baseURL = extraConfig.backPath

export default {
  components: {
    ExcelFacultades
  },
  name: 'Facultades',
  data: () => ({
    snack: false,
    snackColor: '',
    snackText: '',
    file: null,
    dialogError: false,
    dialogSuccess: false,
    regNoGuardados: [],
    headersNoGuargados: [
      {text: 'Codigo', value: 'codigoFacultad'},
      {text: 'Error', value: 'error'}
    ],
    dialog2: false,
    dialog: false,
    dialogDelete: false,
    facultades: [],
    dato: [],
    search: '',
    rules: {
      required: [
        value => !!value || 'Campo requerido!'
      ]
    },
    formHasErrors: false,
    headers: [
      { text: 'Codigo', value: 'codigo' },
      { text: 'Nombre', value: 'nombre' },
      { text: 'Acciones', value: 'actions', sortable: false }
    ],
    editedIndex: -1,
    editedItem: {
      codigo: '',
      nombre: '',
      institucion: 1
    },
    auxItem: {
      codigo: '',
      nombre: '',
      institucion: 1
    },
    defaultItem: {
      codigo: '',
      nombre: '',
      institucion: 1
    }
  }),
  methods: {
    getFacultades () {
      const path = '/api/facultad/?format=json'
      axios.get(path).then((response) => {
        this.facultades = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    editItem (item) {
      this.editedIndex = this.facultades.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.facultades.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.facultades.splice(this.editedIndex, 1)
      const path = `/api/facultad/${this.editedItem.id}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
        this.snackText = 'Se ha eliminado la facultad con éxito'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          this.snackText = 'Se ha producido un error, inténtelo de nuevo'
          this.snackColor = 'error'
          this.snack = true
        })
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    close_CM () {
      this.dialog2 = false
      this.file = null
      this.$nextTick(() => {
      })
    },
    closeError () {
      this.dialogError = false
      this.regNoGuardados = []
      this.$nextTick(() => {
      })
    },
    closeSuccess () {
      this.dialogSuccess = false
      this.$nextTick(() => {
      })
    },
    guardar_CM () {
      const formData = new FormData()
      formData.append('archivo', this.file)
      axios.post('/api/carga_masiva_facultad/',
        formData, {headers: {
          'Content-Type': 'multipart/form-data'}
        }).then((res) => {
        console.log(res)
        this.regNoGuardados = res.data.message
        this.close_CM()
        this.getFacultades()
        if (this.regNoGuardados.length !== 0) {
          this.dialogError = true
        } else {
          this.dialogSuccess = true
        }
        // location.reload()
      })
    },
    save () {
      if (this.editedIndex > -1) {
        this.formHasErrors = false
        Object.keys(this.form).forEach(f => {
          if (!this.form[f]) this.formHasErrors = true
          this.$refs[f].validate(true)
        })
        if (!this.formHasErrors) {
          this.auxItem = this.editedItem
          Object.assign(this.facultades[this.editedIndex], this.editedItem)
          const path = `/api/facultad/${this.auxItem.id}/`
          axios.patch(path, this.editedItem).then((response) => {
            this.dato = response.data
            this.snackText = 'Se ha editado la facultad correctamente'
            this.snackColor = 'success'
            this.snack = true
            this.getFacultades()
          })
            .catch((error) => {
              console.log(error)
              this.snackText = 'Se ha producido un error, inténtelo de nuevo'
              this.snackColor = 'error'
              this.snack = true
            })
          this.close()
        }
      } else {
        this.formHasErrors = false
        Object.keys(this.form).forEach(f => {
          if (!this.form[f]) this.formHasErrors = true
          this.$refs[f].validate(true)
        })
        if (!this.formHasErrors) {
          this.auxItem = this.editedItem
          this.facultades.push(this.editedItem)
          const path = '/api/facultad/'
          axios.post(path, this.auxItem).then((response) => {
            this.dato = response.data
            this.snackText = 'Se ha registrado la facultad correctamente'
            this.snackColor = 'success'
            this.snack = true
            this.getFacultades()
          })
            .catch((error) => {
              console.log(error)
              this.snackText = 'Se ha producido un error, inténtelo de nuevo'
              this.snackColor = 'error'
              this.snack = true
            })
          this.close()
        }
      }
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nueva Facultad' : 'Editar Facultad'
    },
    form () {
      return {
        codigo: this.editedItem.codigo,
        nombre: this.editedItem.nombre
      }
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    }
  },
  created () {
    this.getFacultades()
  }
}
</script>
