<template>
  <div>
    <v-dialog
      v-model="dialog"
        max-width="500px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
        color="#1B4965"
        icon
        v-bind="attrs"
        v-on="on"
        >
          <v-icon>mdi-help-circle</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Ayuda Carga Masiva</span>
        </v-card-title>
          <v-card-text>
            <v-container>
              <span>Solo se aceptan archivos en formato CSV con la siguiente estructura:</span>
              <table border="1" frame="border" class="egt" style="width: 100%; border-collapse: collapse; color: #1B4965">
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Codigo-Especialidad</th>
                </tr>
                <tr>
                  <td>INF245</td>
                  <td>Ingeniería de Software</td>
                  <td>INF</td>
                </tr>
                <tr>
                  <td>INF238</td>
                  <td>Redes de Computadoras</td>
                  <td>TEL</td>
                </tr>
                <tr>
                  <td>INF239</td>
                  <td>Sistemas Operativos</td>
                  <td>INF</td>
                </tr>
                <tr>
                  <td>ING220</td>
                  <td>Ética Profesional</td>
                  <td>IND</td>
                </tr>
              </table>
              <span class="red--text">*Todos los campos son obligatorios<br></span>
              <span class="red--text">**El nombre del archivo solo debe contener caracteres alfanumerios y subguiones. Ejemplo: "Plantilla_Cursos.csv"</span>
            </v-container>
            <v-container>
              <download-excel
                class="btn btn-default"
                :data="json_data"
                :fields="json_fields"
                worksheet="Cursos"
                type="csv"
                name="Plantilla_Cursos.csv"
                >
                <v-btn
                dark
                block
                outlined
                color="#1B4965">
                  <span>Descargar Plantilla en excel (.csv)</span>
                  <v-divider></v-divider>
                  <v-icon>mdi-file-excel</v-icon>
                </v-btn>
              </download-excel>
            </v-container>
          </v-card-text>
          <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
              >
                  cerrar
              </v-btn>
          </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
// https://github.com/jecovier/vue-json-excel
// 1B49655FA8D3CAE9FF62B6CBBEE9E8
import Vue from 'vue'
import JsonExcel from 'vue-json-excel'

Vue.component('downloadExcel', JsonExcel)
export default {
  data: () => ({
    dialog: false,
    json_fields: {
      'Codigo': 'codigo',
      'Nombre': 'nombre',
      'Codigo-Especialidad': 'codigoEspecialidad'
    },
    json_data: [
      {
        codigo: '',
        nombre: '',
        codigoEspecialidad: ''
      }
    ],
    json_meta: [
      [
        {
          key: 'charset',
          value: 'utf-8'
        }
      ]
    ]
  }),
  methods: {
    close () {
      this.dialog = false
    }
  }
}
</script>
