<template>
  <div>
    <v-dialog
      v-model="dialog"
        max-width="650px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
        color="#1B4965"
        icon
        v-bind="attrs"
        v-on="on"
        >
          <v-icon>mdi-help-circle</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Ayuda Carga Masiva</span>
        </v-card-title>
          <v-card-text>
            <v-container>
              <span>Solo se aceptan archivos en formato CSV con la siguiente estructura:</span>
              <table border="1" frame="border" class="egt" style="width: 100%; border-collapse: collapse; color: #1B4965">
                <tr>
                  <th>username</th>
                  <th>email</th>
                  <th>fist_name</th>
                  <th>last_name</th>
                </tr>
                <tr>
                  <td>REIVER</td>
                  <td>REIVER.LOPEZ@PUCP.EDU.PE</td>
                  <td>REIVER</td>
                  <td>LOPEZ</td>
                </tr>
                <tr>
                  <td>DOMINICK</td>
                  <td>PATRICIA.ALVAREZ@PUCP.PE</td>
                  <td>DOMINICK PATRICIA</td>
                  <td>ALVAREZ</td>
                </tr>
                <tr>
                  <td>LUISFELIPE</td>
                  <td>LFTORRESG@PUCP.EDU.PE</td>
                  <td>LUIS FELIPE</td>
                  <td>TORRES</td>
                </tr>
                <tr>
                  <td>JAIR</td>
                  <td>JAIR.FERNANDEZ@PUCP.EDU.PE</td>
                  <td>JAIR</td>
                  <td>FERNANDEZ</td>
                </tr>
              </table>
              <span class="red--text">*Los campos username y email son obligatorios</span>
            </v-container>
            <v-container>
              <download-excel
                class="btn btn-default"
                :data="json_data"
                :fields="json_fields"
                worksheet="Facultades"
                type="csv"
                name="Plantilla_Usuarios.csv"
                >
                <v-btn
                dark
                block
                outlined
                color="#1B4965">
                  <span>Descargar Plantilla en excel (.csv)</span>
                  <v-divider></v-divider>
                  <v-icon>mdi-file-excel</v-icon>
                </v-btn>
              </download-excel>
            </v-container>
          </v-card-text>
          <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
              >
                  cerrar
              </v-btn>
          </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
// https://github.com/jecovier/vue-json-excel
// 1B49655FA8D3CAE9FF62B6CBBEE9E8
import Vue from 'vue'
import JsonExcel from 'vue-json-excel'

Vue.component('downloadExcel', JsonExcel)
export default {
  data: () => ({
    dialog: false,
    json_fields: {
      'username': 'username',
      'email': 'email',
      'first_name': 'first_name',
      'last_name': 'last_name'
    },
    json_data: [
      {
        username: '',
        email: '',
        first_name: '',
        last_name: ''
      }
    ],
    json_meta: [
      [
        {
          key: 'charset',
          value: 'utf-8'
        }
      ]
    ]
  }),
  methods: {
    close () {
      this.dialog = false
    }
  }
}
</script>
