<template>
  <div>
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title>
          Información
        </v-card-title>

        <v-card-text>
          PhuyuLabs es un proyecto desarrollado para el curso de Ingeniería de Software.
          El proyecto busca satisfacer la necesidad de una plataforma versátil y cómoda para realizar las pruebas de laboratorio a los alumnos de la PUCP.
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Continuar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  <el-container class="topbar">
      <el-col><h1 class="topbarContent">PUCP</h1></el-col>
      <el-col><el-button round size="small" style="float:right; margin:8px" @click="dialog=true">Info</el-button></el-col>
  </el-container>
  <div class="loginBody">
    <particles-bg color="ffffff" type="cobweb"/>
    <div class="loginCard">
      <el-card>
        <img src="https://escuela.pucp.edu.pe/gobierno/wp-content/uploads/2015/04/logo-pucp-full-color.png" height="100">
        <br>
        <h2>Logueate con tu correo PUCP</h2>
        <br>
        <br>
        <el-button style="margin-left: 115px"
            :loading="loading"
            type="primary"
            native-type="submit"
            block
            v-on:click="login"
          >Login</el-button>
      </el-card>
    </div>
  </div>
</div>
</template>

<script>
import { mapActions } from 'vuex'
import { ParticlesBg } from 'particles-bg-vue'
export default {
  name: 'Login',
  components: {
    ParticlesBg
  },
  data () {
    return {
      loading: false,
      dialog: false
    }
  },
  methods: {
    ...mapActions([
      'retrieveToken'
    ]),
    async login () {
      this.loading = true
      await this.retrieveToken()
      this.loading = false
      // se debe redireccionar a la pagina home si es que se cargo el token
      if (this.$store.getters.loggedIn) {
        this.$router.push({name: 'HomeGeneral'})
      } else {
        alert('Error al loguearse, utilize un correo insitucional.')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.topbar {
  background-color: #1B4965;
  color: #fff;
  height: 50px;
  text-align: center;
}
.topbarContent{
  text-align: right;
  margin-top: 6px;

}
.loginBody{
  width:100%;
  background-image: url('https://capu.pucp.edu.pe/wp-content/uploads/2019/06/fachada-pucp.jpeg');
  background-size: cover;
  background-repeat: repeat-y;
}
.loginCard{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
