<template>
  <div>
    <CabeceraGeneral></CabeceraGeneral>
    <v-row>
      <CabeceraIzq></CabeceraIzq>
      <v-col>
        <v-container>
          <v-card>
            <v-card-text>
              <h1 class="text-md-left">ACTIVIDADES</h1>
            </v-card-text>
          </v-card>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import CabeceraIzq from '@/components/Alumnos/CabeceraIzq'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
export default {
  components: {
    CabeceraIzq, CabeceraGeneral
  }
}
</script>
