<template>
  <div>
    <CabeceraGeneral></CabeceraGeneral>
    <v-row>
      <CabeceraIzq></CabeceraIzq>
      <v-col>
        <v-icon>
            mdi-arrow-left-circle
        </v-icon>
        <span @click="borrarDatos"><a href="/AlumnoInicio" style="color: #1B4965">Volver a cursos</a></span>
        <v-row align="center" justify="center" class="mt-5">
        <v-toolbar class="secundario">
          <v-spacer></v-spacer>
          <h1 class="font-weight-regular primario--text">{{ciclo}} {{ nombre }} ( {{ codigo }} - {{horario}})</h1>
          <v-spacer></v-spacer>
        </v-toolbar>
        </v-row>
        <v-container>
          <v-tabs
            v-model="tabs"
            fixed-tabs
            background-color="primario"
            dark
          >
            <v-tab>
              Notas laboratorios
            </v-tab>
            <v-tab>
              Estadísticas laboratorios
            </v-tab>
          </v-tabs>
          <v-tabs-items v-model="tabs">
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <h1 class="primario--text text-md-left mt-5">NOTAS DE LABORATORIOS</h1>
                </v-card-text>
              </v-card>
              <NotasLab></NotasLab>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <h1 class="primario--text text-md-left mt-5">ESTADÍSTICA DE LABORATORIOS</h1>
                </v-card-text>
              </v-card>
              <v-card
                flat
              >
                <EstadisticaLab></EstadisticaLab>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import NotasLab from '@/components/Alumnos/NotasLab'
import EstadisticaLab from '@/components/Alumnos/EstadisticasNotasLab'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import CabeceraIzq from '@/components/Alumnos/CabeceraIzq'
export default {
  data: () => ({
    id: '',
    ciclo: '',
    nombre: '',
    codigo: '',
    horario: '',
    tabs: null
  }),
  components: {
    CabeceraIzq, CabeceraGeneral, NotasLab, EstadisticaLab
  },
  mounted () {
    if (localStorage.id) {
      this.id = localStorage.id
    }
    if (localStorage.ciclo) {
      this.ciclo = localStorage.ciclo
    }
    if (localStorage.nombre) {
      this.nombre = localStorage.nombre
    }
    if (localStorage.codigo) {
      this.codigo = localStorage.codigo
    }
    if (localStorage.horario) {
      this.horario = localStorage.horario
    }
  },
  methods: {
    buscarDatos () {
      localStorage.getItem('id')
      localStorage.getItem('ciclo')
      localStorage.getItem('nombre')
      localStorage.getItem('codigo')
      localStorage.getItem('horario')
    },
    borrarDatos () {
      localStorage.removeItem('id')
      localStorage.removeItem('ciclo')
      localStorage.removeItem('nombre')
      localStorage.removeItem('codigo')
      localStorage.removeItem('horario')
    }
  },
  created () {
    this.buscarDatos()
  }
}
</script>
