<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzquierda></CabeceraIzquierda>
            <v-col>
                <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span @click="borrarDatos"><a href="/alumnoInicio" style="color: #1B4965">Volver a inicio</a></span>
                <v-row align="center" justify="center" class="mt-5">
                <v-toolbar class="secundario">
                  <v-spacer></v-spacer>
                  <h1 class="font-weight-regular primario--text">{{ciclo}} {{ nombre }} ( {{ codigo }} - {{horario}})</h1>
                  <v-spacer></v-spacer></v-toolbar>
                </v-row>
                <h1 align="center" justify="center">{{$route.params.labNombre}}</h1>
                <h2>{{$route.params.faseNombre}}</h2>
                <v-spacer></v-spacer>
                <div v-if="cantPreguntas !== 0">
                <v-row>
                  <v-col cols="2">
                    <v-card
                      elevation="2"
                      outlined
                      shaped
                      tile
                    >
                      <span>Modo de Visualización</span>
                      <v-bottom-navigation
                        :value="modoDeVistaInicial"
                        color="teal"
                        grow
                      >
                        <v-btn @click="cambiarModoDeVista(0)">
                          <span>Panel</span>
                          <v-icon>mdi-apps</v-icon>
                        </v-btn>
                        <v-btn @click="cambiarModoDeVista(1)">
                          <span>Lista</span>
                          <v-icon>mdi-format-list-bulleted</v-icon>
                        </v-btn>
                      </v-bottom-navigation>
                    </v-card>
                  </v-col>
                  <v-col>
                  </v-col>
                </v-row>
                <div v-if="modoDeVista===0">
                <v-row>
                    <v-col
                    cols="12"
                    sm="2">
                      <v-row>
                        <v-container>
                          <h3>Navegación por cuestionario <br></h3>
                        </v-container>
                      </v-row>
                      <v-row>
                        <v-container>
                          <v-btn class="ma-1"
                            @click="irAPregunta(index)"
                            v-for="(item, index) of preguntas" :key="index"
                            small
                            outlined
                            >
                            <span>{{parseInt(index, 10)+1}}</span>
                          </v-btn>
                        </v-container>
                      </v-row>
                      <v-row>
                        <v-container>
                          <v-dialog
                            v-model="dialog"
                            max-width="500px"
                            >
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                dark
                                left
                                outlined
                                color="error"
                                v-bind="attrs"
                                v-on="on"
                                >
                                <span>Enviar todo <br> y terminar</span>
                                <v-divider></v-divider>
                                <v-icon>mdi-content-save-all</v-icon>
                              </v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                <span class="headline">Enviar todo y terminar</span>
                                </v-card-title>
                                <v-card-text>
                                <v-container>
                                </v-container>
                                </v-card-text>

                                <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close"
                                >
                                    Cancelar
                                </v-btn>
                                <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="incrementarIntentosRealizados()"
                                >
                                    Aceptar
                                </v-btn>
                                </v-card-actions>
                            </v-card>
                          </v-dialog>
                      </v-container>
                      </v-row>
                    </v-col>
                    <v-col
                    cols="12"
                    sm="9">
                        <v-row>
                          <h2>Pregunta {{this.index + 1}}</h2>
                        </v-row>
                        <v-row>
                          <h4>Enunciado:</h4>
                        </v-row>
                        <v-row>
                          <p class="text-justify">
                            {{this.preguntas[this.index].texto_pregunta}}
                          </p>
                        </v-row>
                        <v-row>
                          <h4>Respuesta:</h4>
                        </v-row>
                        <v-row>
                          <div v-if="tipo===1">
                            <vue-editor id="Editor" useCustomImageHandler @image-added="handleImageAdded" v-model="respuesta">
                            </vue-editor>
                          </div>
                          <div v-if="tipo===0">
                            <v-radio-group
                              v-model="radioGroup"
                            >
                              <v-radio
                                v-for="(opcion, index1) in this.preguntas[this.index].opciones"
                                :key="index1"
                                :label="`${opcion.texto_opcion}`"
                                :value="`${opcion.id_opcion}`"
                                :disabled="disableRadio"
                              ></v-radio>
                            </v-radio-group>
                            <v-row>
                              <v-col cols="12">
                                <v-alert v-if="this.esCorrecto()===1" dense type="success">
                                  Su respuesta: <strong>{{this.radioTextoOpcion}}</strong> es correcta: <strong>{{this.mensajeAyuda}}</strong>
                                </v-alert>
                                <v-alert v-if="this.esCorrecto()===2" dense type="error">
                                  Su respuesta: <strong>{{this.radioTextoOpcion}}</strong> es incorrecta: <strong>{{this.mensajeAyuda}}</strong>
                                </v-alert>
                                <v-alert
                                  v-if="this.esCorrecto()===0"
                                  dense
                                  text
                                  type="info"
                                >
                                  Aún no ha respondido
                                </v-alert>
                              </v-col>
                            </v-row>
                          </div>
                          <div v-if="tipo===2">
                            <v-checkbox
                              v-model="selectedMultiple"
                              v-for="(opcion, index1) in this.preguntas[this.index].opciones"
                              :key="index1"
                              :label="`${opcion.texto_opcion}`"
                              :value="`${opcion.id_opcion}`"
                            ></v-checkbox>
                            <div v-for="(opc) in this.dato2" :key="opc.id_opcion">
                              <v-row>
                                <v-alert v-if="opc.es_correcta === true" dense type="success">
                                  Su respuesta <!--strong>{{this.multipleTextoOpcion[index2]}}</strong--> es correcta: <strong>{{opc.ayuda}}</strong>
                                </v-alert>
                                <v-alert v-if="opc.es_correcta === false" dense type="error">
                                  Su respuesta <!--strong>{{this.multipleTextoOpcion[index2]}}</strong--> es incorrecta: <strong>{{opc.ayuda}}</strong>
                                </v-alert>
                              </v-row>
                            </div>
                            <v-row>
                              <v-alert
                                v-if="this.esCorrecto()===0"
                                dense
                                text
                                type="info"
                              >
                                Aún no ha respondido
                              </v-alert>
                            </v-row>
                          </div>
                        </v-row>
                        <v-row>
                          <v-btn color="#1B4965" class="mt-2 white--text" @click="saveRespuesta(-1)">GUARDAR</v-btn>
                        </v-row>
                        <v-row>
                          <div v-if="this.index > 0">
                            <v-btn color="#1B4965" class="mt-2 white--text" @click="anterior">Pregunta anterior</v-btn>
                          </div>
                          <v-spacer></v-spacer>
                          <div v-if="this.index < this.cantPreguntas - 1">
                            <v-btn color="#1B4965" class="mt-2 white--text" @click="siguiente">Siguiente pregunta</v-btn>
                          </div>
                        </v-row>
                    </v-col>
                </v-row>
                </div>
                <div v-if="modoDeVista===1">
                  <v-list>
                    <v-list-item
                      v-for="(pregunta, index) of preguntas"
                      :key="index"
                    >
                    <v-container>
                    <v-card
                        elevation="2"
                        outlined
                        shaped
                        tile
                      >
                        <v-container>
                          <v-container>
                          <v-row>
                            <h2>Pregunta {{parseInt(index, 10)+1}}</h2>
                          </v-row>
                          <v-row>
                            <h4>Enunciado:</h4>
                          </v-row>
                          <v-row>
                            <p class="text-justify">
                              {{pregunta.texto_pregunta}}
                            </p>
                          </v-row>
                          <v-row>
                            <h4>Respuesta:</h4>
                          </v-row>
                          <v-row>
                            <div v-if="pregunta.tipo===1">
                              <vue-editor useCustomImageHandler :disabled='true' @image-added="handleImageAdded" v-model="pregunta.texto_respuesta">
                              </vue-editor>
                            </div>
                            <!--div v-if="tipo===0">
                              <v-radio-group v-model="radioGroup">
                                <v-radio
                                  v-for="(opcion, index1) in pregunta.opciones"
                                  :key="index1"
                                  :label="`${opcion.texto_opcion}`"
                                  :value="`${opcion.id_opcion}`"
                                  :disabled="this.disableRadio"
                                ></v-radio>
                              </v-radio-group>
                              <v-alert v-if="this.esCorrecto()===1" type="success">
                                {{this.mensajeAyuda}}
                              </v-alert>
                              <v-alert v-if="this.esCorrecto()===2" type="error">
                                {{this.mensajeAyuda}}
                              </v-alert>
                            </div-->
                            <div v-if="pregunta.tipo===0">
                              <v-radio-group
                                v-model="radioGroup"
                              >
                                <v-radio
                                  v-for="(opcion, index1) in pregunta.opciones"
                                  :key="index1"
                                  :label="`${opcion.texto_opcion}`"
                                  :value="`${opcion.id_opcion}`"
                                  :disabled="true"
                                ></v-radio>
                              </v-radio-group>
                              <v-row>
                                <!--v-col>
                                  <v-alert v-if="esCorrecto1(pregunta)===1" type="success">
                                    {{this.mensajeAyuda}}
                                  </v-alert>
                                  <v-alert v-if="esCorrecto1(pregunta)===2" type="error">
                                    {{this.mensajeAyuda}}
                                  </v-alert>
                                  <v-alert
                                    v-if="esCorrecto1(pregunta)===0"
                                    dense
                                    text
                                    type="success"
                                  >
                                    Aún no ha respondido
                                  </v-alert>
                                </v-col>
                                <v-spacer></v-spacer>
                                  <v-text-field
                                    class="font-weight-regular primario--text"
                                    :label="`Su nota es: ${pregunta.puntaje_obtenido.toFixed(2)}`"
                                    outlined
                                    disabled
                                  ></v-text-field-->
                              </v-row>
                            </div>
                            <div v-if="pregunta.tipo===2">
                            <v-checkbox
                              v-model="selectedMultiple"
                              v-for="(opcion, index2) in pregunta.opciones"
                              :key="index2"
                              :label="`${opcion.texto_opcion}`"
                              :value="`${opcion.id_opcion}`"
                              :disabled="true"
                            ></v-checkbox>
                          </div>
                          </v-row>
                          <!--v-row>
                            <v-btn color="#1B4965" class="mt-2 white--text" @click="saveRespuesta(parseInt(index, 10))">GUARDAR</v-btn>
                          </v-row-->
                          </v-container>
                        </v-container>
                      </v-card>
                      </v-container>
                    </v-list-item>
                  </v-list>
                  <v-row>
                    <v-container>
                      <v-dialog
                        v-model="dialog"
                        max-width="500px"
                        >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            dark
                            left
                            outlined
                            color="error"
                            v-bind="attrs"
                            v-on="on"
                            >
                            <span>Enviar todo <br> y terminar</span>
                            <v-divider></v-divider>
                            <v-icon>mdi-content-save-all</v-icon>
                          </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                            <span class="headline">Enviar todo y terminar</span>
                            </v-card-title>
                            <v-card-text>
                            <v-container>
                            </v-container>
                            </v-card-text>

                            <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                color="blue darken-1"
                                text
                                @click="close"
                            >
                                Cancelar
                            </v-btn>
                            <v-btn
                                color="blue darken-1"
                                text
                                @click="incrementarIntentosRealizados()"
                            >
                                Aceptar
                            </v-btn>
                            </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-container>
                  </v-row>
                </div>
                </div>
                <div v-else>
                  <h3>Fase sin preguntas asignadas!</h3>
                </div>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
import CabeceraIzquierda from '@/components/Alumnos/CabeceraIzq'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import RevisarPreguntas from '@/components/Profesor/RevisarPreguntas'
import { VueEditor } from 'vue2-editor'
axios.defaults.baseURL = extraConfig.backPath

export default {
  name: 'AlumnoFase',
  components: {
    VueEditor, CabeceraIzquierda, CabeceraGeneral, RevisarPreguntas
  },
  data () {
    return {
      dialog: false,
      modoDeVistaInicial: 0,
      modoDeVista: 0,
      dato: '',
      dato2: '',
      content: '<h1>Some initial content</h1>',
      preguntas: [],
      cantPreguntas: 0,
      index: 0,
      respuesta: '',
      id: '',
      ciclo: '',
      nombre: '',
      codigo: '',
      horario: '',
      idFase: '',
      user: '',
      idEstudianteFase: '',
      numeroIntentosRendidos: '',
      numeroIntentosPregunta: '',
      tipo: null,
      radioGroup: null,
      puntajeObtenido: null,
      disableRadio: false,
      disableMultiple: false,
      mensajeAyuda: '',
      radioTextoOpcion: '',
      multipleTextoOpcion: [],
      correcto: 0,
      selectedMultiple: [],
      editItem: {
        texto_respuesta: 'a',
        opciones: []
      },
      editItem1: {
        id_respuesta: null,
        opciones: []
      },
      notas: {
        id_fase: '',
        id_Estudiante: ''
      }
    }
  },
  methods: {
    esCorrecto () {
      return this.correcto
    },
    close () {
      this.dialog = false
    },
    cargarDatos () {
      if (this.$route.params.id_fase) {
        localStorage.setItem('idFase', this.$route.params.id_fase)
        localStorage.setItem('idEstudianteFase', this.$route.params.idEstudianteFase)
        localStorage.setItem('numeroIntentosRendidos', this.$route.params.numeroIntentosRendidos)
      }
    },
    buscarDatos () {
      localStorage.getItem('id')
      localStorage.getItem('ciclo')
      localStorage.getItem('nombre')
      localStorage.getItem('codigo')
      localStorage.getItem('horario')
      localStorage.getItem('idFase')
      localStorage.getItem('idEstudianteFase')
      localStorage.getItem('numeroIntentosRendidos')
      localStorage.getItem('user')
    },
    borrarDatos () {
      localStorage.removeItem('id')
      localStorage.removeItem('ciclo')
      localStorage.removeItem('nombre')
      localStorage.removeItem('codigo')
      localStorage.removeItem('horario')
      localStorage.removeItem('idFase')
      localStorage.removeItem('idEstudianteFase')
      localStorage.removeItem('numeroIntentosRendidos')
    },
    cambiarModoDeVista (modo) {
      this.modoDeVista = modo
    },
    anterior () {
      if (this.index > 0) {
        // post de la respuesta actual
        this.saveRespuesta(-1)
        // Cambiamos la pregunta actual
        this.index--
        this.getPreguntas()
        // this.respuesta = this.preguntas[this.index].texto_respuesta
        this.correcto = 3
        this.dato2 = []
      }
    },
    siguiente () {
      if (this.index < this.cantPreguntas - 1) {
        // post de la respuesta actual
        this.saveRespuesta(-1)
        // Cambiamos la pregunta actual
        this.index++
        this.getPreguntas()
        // this.respuesta = this.preguntas[this.index].texto_respuesta
        this.correcto = 3
        this.dato2 = []
      }
    },
    irAPregunta (index) {
      console.log('Index de iaaPregunta' + index)
      if (this.index !== parseInt(index, 10)) {
        // post de la respuesta actual
        this.saveRespuesta(-1)
        // Cambiamos la pregunta actual
        this.index = parseInt(index, 10)
        // this.respuesta = this.preguntas[this.index].texto_respuesta
        this.correcto = 0
      }
    },
    saveRespuesta (numPreg) {
      if (numPreg !== -1) {
        this.index = numPreg
      }
      console.log(this.tipo)
      if (this.tipo === 1) {
        console.log('Texto')
        this.preguntas[this.index].texto_respuesta = this.respuesta
        console.log('Guardar pregunta ' + (parseInt(this.index, 10) + 1))
        console.log('Respuesta ' + this.preguntas[this.index].texto_respuesta)
        const formData = new FormData()
        formData.append('texto_respuesta', this.preguntas[this.index].texto_respuesta)
        const path = `/api/respuesta/${this.preguntas[this.index].id_respuesta}/`
        axios.patch(path, formData).then((response) => {
          this.dato = response.data
          this.getPreguntas()
        })
          .catch((error) => {
            console.log(error)
          })
      }
      if (this.tipo === 0) {
        console.log('Guardando Opcion única')
        console.log(this.radioGroup)
        this.editItem.opciones = []
        this.editItem.opciones.push(parseInt(this.radioGroup))
        console.log('Item ' + this.editItem.opciones)
        // guardano la respuesta
        const path = `/api/respuesta/${this.preguntas[this.index].id_respuesta}/`
        axios.patch(path, this.editItem).then((response) => {
          this.radioGroup = null
          this.getPreguntas()
        })
          .catch((error) => {
            console.log(error)
          })
      }
      if (this.tipo === 2) {
        console.log('Opcion múltiple')
        this.editItem.opciones = []
        for (let m = 0; m < this.selectedMultiple.length; m++) {
          this.editItem.opciones.push(parseInt(this.selectedMultiple[m]))
        }
        // Object.assign(this.preguntas[this.index], this.editItem)
        console.log(this.editItem)
        const path = `/api/respuesta/${this.preguntas[this.index].id_respuesta}/`
        axios.patch(path, this.editItem).then((response) => {
          // this.dato = response.data
          this.selectedMultiple = []
          this.getPreguntas()
        })
          .catch((error) => {
            console.log(error)
          })
      }
    },
    handleImageAdded: function (file, Editor, cursorLocation, resetUploader) {
      // An example of using FormData
      // NOTE: Your key could be different such as:
      // formData.append('file', file)

      var formData = new FormData()
      formData.append('imagen', file)
      console.log('INTENTANDO GUARDAR IMAGEN')
      axios.post('/api/richtext_imagen/',
        formData, {headers: {
          'Content-Type': 'multipart/form-data'}
        }).then((response) => {
        console.log(response)
        let url = response.data.imagen // Get url from response
        Editor.insertEmbed(cursorLocation, 'image', url)
        resetUploader()
      })
        .catch(err => {
          console.log(err)
        })
    },
    getPreguntas () {
      console.log(this.$store.state.token)
      console.log('Fase params: ', this.$route.params.id_fase)
      console.log('Fase guardada: ', this.idFase)
      const path = `/api/respuestas_por_fase/${this.idFase}/`
      axios.get(path, {
        headers: {
          Authorization: 'Bearer ' + this.$store.state.token // the token is a variable which holds the token
        }
      }).then((response) => {
        console.log(response.data)
        this.preguntas = Object.assign({}, response.data.respuestas)
        this.cantPreguntas = Object.keys(this.preguntas).length
        console.log('CANTIDAD DE PREGUNTAS: ' + Object.keys(this.preguntas).length)
        if (this.cantPreguntas !== 0) {
          this.tipo = this.preguntas[this.index].tipo // evaluamos de que tipo es la pregunta
          if (this.tipo === 1) {
            this.respuesta = this.preguntas[this.index].texto_respuesta
          }
          if (this.tipo === 0) { // es una pregunta de opción simple
            if (this.preguntas[this.index].opciones_seleccionadas.length === 0) { // si aun no ha respondido la pregunta
              this.correcto = 0
            } else {
              this.radioGroup = this.preguntas[this.index].opciones_seleccionadas[0].id_opcion.toString() // verificamos el id de respuesta que ha marcado
              for (let m = 0; m < this.preguntas[this.index].opciones.length; m++) {
                if (this.preguntas[this.index].opciones[m].id_opcion === this.preguntas[this.index].opciones_seleccionadas[0].id_opcion) {
                  this.radioTextoOpcion = this.preguntas[this.index].opciones[m].texto_opcion
                }
              }
              this.editItem1.opciones = []
              this.editItem1.id_respuesta = this.preguntas[this.index].id_respuesta
              this.editItem1.opciones.push(parseInt(this.radioGroup))
              const path1 = '/api/guia_preguntas_con_opcion_View/'
              // obteniendo si marco bien o mal
              console.log('Item1 ' + this.editItem1.id_respuesta)
              console.log('Item1 ' + this.editItem1.opciones)
              axios.post(path1, this.editItem1).then((response) => {
                this.dato = response.data
                console.log(this.dato)
                this.radioGroup = this.dato.opciones[0].opcion.toString()
                this.mensajeAyuda = this.dato.opciones[0].ayuda
                console.log('Opcion simple ' + this.radioGroup)
                console.log('mensaje ayuda ' + this.mensajeAyuda)
                console.log('correcto ' + this.correcto)
                if (this.dato.opciones[0].es_correcta === true) {
                  this.correcto = 1
                } else {
                  this.correcto = 2
                }
              })
                .catch((error) => {
                  console.log(error)
                })
            }
          }
          if (this.tipo === 2) { // preguntas de opcion multiple
            console.log('Pregunta de tipo 2')
            if (this.preguntas[this.index].opciones_seleccionadas.length === 0) { // si aun no ha respondido la pregunta
              this.dato2 = []
              this.correcto = 0
            } else {
              this.editItem1.opciones = []
              this.selectedMultiple = []
              this.multipleTextoOpcion = []
              for (let m = 0; m < this.preguntas[this.index].opciones_seleccionadas.length; m++) {
                this.selectedMultiple.push(this.preguntas[this.index].opciones_seleccionadas[m].id_opcion.toString())
                this.editItem1.opciones.push(this.preguntas[this.index].opciones_seleccionadas[m].id_opcion)
                for (let n = 0; n < this.preguntas[this.index].opciones.length; n++) {
                  if (this.preguntas[this.index].opciones_seleccionadas[m].id_opcion === this.preguntas[this.index].opciones[n].id_opcion) {
                    this.multipleTextoOpcion.push(this.preguntas[this.index].opciones[n].texto_opcion)
                  }
                }
              }
              console.log('Texto opciones: ' + this.multipleTextoOpcion)
              console.log('Las opciones seleccionada es ' + this.selectedMultiple)
              console.log('edit item1 ' + this.editItem1.opciones)
              this.editItem1.id_respuesta = this.preguntas[this.index].id_respuesta
              const path1 = '/api/guia_preguntas_con_opcion_View/'
              // obteniendo si marco bien o mal
              console.log('Item1 ' + this.editItem1.id_respuesta)
              console.log('Item1 ' + this.editItem1.opciones)
              axios.post(path1, this.editItem1).then((response) => {
                this.dato2 = response.data.opciones
                console.log('Este es dato2 ' + this.dato2[0].es_correcta)
                this.correcto = 1
              })
                .catch((error) => {
                  console.log(error)
                })
            }
          }
        }
      })
        .catch((error) => {
          console.log(error)
        })
    },
    incrementarIntentosRealizados () {
      console.log('num_intentos_rendidos: ', this.numeroIntentosRendidos)
      this.numeroIntentosRendidos++
      localStorage.setItem('numeroIntentosRendidos', this.numeroIntentosRendidos)
      const editedItem = new FormData()
      editedItem.append('num_intentos_rendidos', this.numeroIntentosRendidos)
      // Actualizamos el numero de intentos
      const path = `/api/estudiante_fase/${this.idEstudianteFase}/`
      axios.patch(path, editedItem, {
        headers: {
          Authorization: 'Bearer ' + this.$store.state.token // the token is a variable which holds the token
        }
      }).then((response) => {
        console.log('Se actualiozo el numero de intentos')
        console.log(response)
        this.guardandoNotas()
        this.close()
        /* for (var i = 0; i < this.cantPreguntas; i++) {
          this.saveRespuesta(i)
        } */
        this.$router.go(-1)
      })
        .catch((error) => {
          console.log(error)
        })
    },
    guardandoNotas () {
      console.log('Guardando notas del alumno')
      console.log(this.idFase)
      console.log(this.user)
      this.notas.id_fase = this.idFase
      this.notas.id_Estudiante = this.user
      // const path = `/api/calificar_puntaje_opcion_alumno_x_fase/${this.idFase}/${this.user}`
      const path = '/api/calificar_puntaje_opcion_alumno_x_fase/'
      axios.post(path, this.notas).then((response) => {
        console.log('Se actualizo las notas')
        console.log(response)
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    this.cargarDatos()
    this.buscarDatos()
  },
  mounted () {
    if (localStorage.id) {
      this.id = localStorage.id
    }
    if (localStorage.ciclo) {
      this.ciclo = localStorage.ciclo
    }
    if (localStorage.nombre) {
      this.nombre = localStorage.nombre
    }
    if (localStorage.codigo) {
      this.codigo = localStorage.codigo
    }
    if (localStorage.horario) {
      this.horario = localStorage.horario
    }
    if (localStorage.idFase) {
      this.idFase = localStorage.idFase
    }
    if (localStorage.idEstudianteFase) {
      this.idEstudianteFase = localStorage.idEstudianteFase
    }
    if (localStorage.numeroIntentosRendidos) {
      this.numeroIntentosRendidos = localStorage.numeroIntentosRendidos
    }
    if (localStorage.user) {
      this.user = localStorage.user
    }
    this.getPreguntas()
  }
}
</script>
