<template>
  <div>
    <CabeceraGeneral/>
      <v-row>
        <CabeceraIzq/>
          <v-col>
            <Laboratorios/>
          </v-col>
      </v-row>
  </div>
</template>
<script>
import MenuAlumno from '@/components/Alumnos/CabeceraIzq'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'
import Laboratorios from '@/components/Alumnos/LaboratorioxHorario'
export default {
  components: {
    MenuAlumno,
    CabeceraGeneral,
    Laboratorios
  }
}
</script>
