<template>
    <div>
        <CabeceraGeneral></CabeceraGeneral>
        <v-row>
            <CabeceraIzq></CabeceraIzq>
            <v-col>
                <v-icon>
                    mdi-arrow-left-circle
                </v-icon>
                <span @click="borrarDatos"><a href="/Profesor" style="color: #1B4965">Volver a cursos</a></span>
                <v-row align="center" justify="center" class="mt-5">
                <v-toolbar class="secundario">
                    <v-spacer></v-spacer>
                    <h1 class="font-weight-regular primario--text">{{ciclo}} {{ nombre }} ( {{ codigo }} - {{horario}})</h1>
                    <v-spacer></v-spacer>
                </v-toolbar>
                </v-row>
                <el-tabs type="card" @tab-click="handleClick" class="mt-5">
                  <el-tab-pane label="Profesores"><Profesores></Profesores></el-tab-pane>
                  <el-tab-pane label="Jefes de Practica"><JefesDePractica/></el-tab-pane>
                  <el-tab-pane label="Estudiantes"><Estudiantes/></el-tab-pane>
                </el-tabs>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import Profesores from '@/components/Todos/ProfesoresSinEliminar'
import Estudiantes from '@/components/Todos/EstudiantesSinEliminar'
import JefesDePractica from '@/components/Todos/JefesDePracticaSinEliminar'
import CabeceraIzq from '@/components/Alumnos/CabeceraIzq'
import CabeceraGeneral from '@/components/Todos/CabeceraGeneral'

export default {
  data: () => ({
    id: '',
    ciclo: '',
    nombre: '',
    codigo: '',
    horario: ''
  }),
  components: {
    CabeceraIzq, CabeceraGeneral, Profesores, Estudiantes, JefesDePractica
  },
  mounted () {
    if (localStorage.ciclo) {
      this.ciclo = localStorage.ciclo
    }
    if (localStorage.nombre) {
      this.nombre = localStorage.nombre
    }
    if (localStorage.codigo) {
      this.codigo = localStorage.codigo
    }
    if (localStorage.horario) {
      this.horario = localStorage.horario
    }
  },
  methods: {
    buscarDatos () {
      localStorage.getItem('id')
      localStorage.getItem('ciclo')
      localStorage.getItem('nombre')
      localStorage.getItem('codigo')
      localStorage.getItem('horario')
    },
    borrarDatos () {
      localStorage.removeItem('id')
      localStorage.removeItem('ciclo')
      localStorage.removeItem('nombre')
      localStorage.removeItem('codigo')
      localStorage.removeItem('horario')
    },
    handleClick (tab, event) {
      // console.log(tab, event)
    }
  },
  created () {
    this.buscarDatos()
  }
}
</script>
