<template>
    <div>
      <v-app-bar app dense>
        <h1 align="left">PHUYULAB</h1>
      </v-app-bar>
      <v-app-bar class="primario" dark>
        <v-list-item-avatar class="ml-5">
          <v-img :src="image" @click="goHome()"></v-img>
      </v-list-item-avatar>
        <v-toolbar-title @click="goHome()">{{this.$store.state.username}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <h1 class="mr-12">PUCP</h1>
        <v-spacer></v-spacer>

        <v-btn icon>
        <v-icon v-on:click ='logout'>mdi-export</v-icon>
        </v-btn>
      </v-app-bar>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'CabeceraGeneral',
  data: () => ({
    image: 'https://randomuser.me/api/portraits/men/85.jpg',
    img: ''
  }),
  methods: {
    ...mapActions([
      'destroyToken'
    ]),
    async logout () {
      await this.destroyToken()
      this.$router.push({name: 'Login'})
      // se debe redireccionar al login
    },
    goHome () {
      this.$router.push({name: 'HomeGeneral'})
    }
  },
  mounted: async function () {
    this.image = this.$store.state.img
  }
}
</script>
