<template>
  <div>
  <v-card>
    <v-card-title class="primario--text">
      Jefes de practica
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="jps"
      :search="search"
      class="primario--text font-weight-medium text-uppercase elevation-1"
    ></v-data-table>
  <div class="text-center pt-2">
      <v-pagination
        v-model="page"
        :length="pageCount"
      ></v-pagination>
    </div>
  </v-card>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'JefesDePractica',
  data: () => ({
    snack: false,
    snackColor: '',
    snackText: '',
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    jps: [],
    search: '',
    editedIndex: -1,
    editedItem: {
      id: ''
    },
    dialogDelete: false,
    headers: [
      { text: 'Usuario', value: 'jefe_practica.username' },
      { text: 'Nombres', value: 'jefe_practica.first_name' },
      { text: 'Apellidos', value: 'jefe_practica.last_name' },
      { text: 'Correo electrónico', value: 'jefe_practica.email' }
    ]
  }),
  methods: {
    getJPS () {
      const path = `/api/horario_jp_3/${this.$route.params.id_horario}/`
      axios.get(path).then((response) => {
        this.jps = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    this.getJPS()
  }
}
</script>
