<template>
  <div>
  <v-card>
    <v-card-title class="primario--text">
      Jefes de practica
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="jps"
      :search="search"
      class="primario--text font-weight-medium text-uppercase elevation-1"
    >
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  <div class="text-center pt-2">
      <v-pagination
        v-model="page"
        :length="pageCount"
      ></v-pagination>
    </div>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="headline">¿Está seguro de eliminar el registro?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
  <v-snackbar
    v-model="snack"
    :timeout="3000"
    :color="snackColor"
  >
    {{ snackText }}

    <template v-slot:action="{ attrs }">
      <v-btn
        v-bind="attrs"
        text
        @click="snack = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
  </div>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'JefesDePractica',
  data: () => ({
    snack: false,
    snackColor: '',
    snackText: '',
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    jps: [],
    search: '',
    editedIndex: -1,
    editedItem: {
      id: ''
    },
    dialogDelete: false,
    headers: [
      { text: 'Usuario', value: 'jefe_practica.username' },
      { text: 'Nombres', value: 'jefe_practica.first_name' },
      { text: 'Apellidos', value: 'jefe_practica.last_name' },
      { text: 'Correo electrónico', value: 'jefe_practica.email' },
      { text: 'Eliminar', value: 'actions' }
    ]
  }),
  methods: {
    getJPS () {
      const path = `/api/horario_jp_3/${this.$route.params.id_horario}/`
      axios.get(path).then((response) => {
        this.jps = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    },
    deleteItem (item) {
      this.editedIndex = this.jps.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    deleteItemConfirm () {
      this.jps.splice(this.editedIndex, 1)
      const path = `/api/horario_jefe_practica/${this.editedItem.id}/`
      axios.delete(path, this.editedItem).then((response) => {
        this.dato = response.data
        this.snackText = 'Se ha eliminado al Jefe de practica con éxito'
        this.snackColor = 'success'
        this.snack = true
      })
        .catch((error) => {
          console.log(error)
          this.snackText = 'Se ha producido un error, inténtelo de nuevo'
          this.snackColor = 'error'
          this.snack = true
        })
      this.closeDelete()
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    }
  },
  created () {
    this.getJPS()
  }
}
</script>
