<template lang="html">
  <div>
      <div v-if="hasPermissions">
        <v-container fluid>
            <v-row dense>
                <v-col md="4" v-for="(permission, index) in permissions" :key ='index'>
                  <v-card>
                      <router-link  :to= urlPermissions(permission) >
                        <v-img :src= imagenRol[index].ruta height="200px"></v-img>
                        <h2 v-if="permission==='admin'" align="left" class="ml-2">Administrador</h2>
                        <h2 v-if="permission==='estudiante'" align="left" class="ml-2">Estudiante</h2>
                        <h2 v-if="permission==='jefe_practica'" align="left" class="ml-2">Jefe de práctica</h2>
                        <h2 v-if="permission==='profesor'" align="left" class="ml-2">Profesor</h2>
                        <h2 v-if="permission==='super_admin'" align="left" class="ml-2">Super administrador</h2>
                      </router-link>
                  </v-card>
                </v-col>
            </v-row>
        </v-container>
      </div>
      <v-col md="12" v-else>
        <h1> Lo siento, usted no tiene ningun rol asignado</h1>
        <v-row justify="center">
          <v-img src="https://lh3.googleusercontent.com/proxy/KKQ4ItV1Q6FdXmoPADJdqu60WxwoS4aJEUzHAwQ_uTOcQ4A3JBdvRpx2DztD6tk8nN7ewZCyaVsIKC9V1eKkJuUhAhoTyuvSFqMPU_eIMxZexRRC2MLPhSZVq6mjG04xedMSIXlwgWf051Hs6w" max-width="500px" max-height="500px"></v-img>
        </v-row>
        <h1> Contacte al administrador</h1>
      </v-col>
  </div>
</template>

<script>
export default {
  name: 'ListarRoles',
  data: () => ({
    urlPermision: {
      'admin': 'AdminInicio',
      'estudiante': 'AlumnoInicio',
      'jefe_practica': 'JefePractica',
      'profesor': 'Profesor',
      'super_admin': 'SuperAdmin'
    },
    permissions: [],
    imagenRol: [
      { ruta: 'https://picsum.photos/id/1/350/165' }, // computadora
      { ruta: 'https://picsum.photos/id/24/4855/1803' }, // libro
      { ruta: 'https://picsum.photos/id/341/7360/4912' }, // touch profesor
      { ruta: 'https://picsum.photos/id/370/4928/3264' }, // computadora
      { ruta: 'https://picsum.photos/id/60/1920/1200' } // computadora
    ]
  }),
  methods: {
    home () {
      this.$router.push('/HomeGeneral')
    },
    urlPermissions (permission) {
      return permission ? this.urlPermision[permission] : ''
    }
  },
  created () {
    this.permissions = this.$store.state.permissions
  },
  computed: {
    hasPermissions () {
      return this.permissions.length !== 0
    }
  }
}
</script>
