<template>
  <v-card>
    <v-card-title class="primario--text">
      Profesores
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="profesores"
      :search="search"
      class="primario--text font-weight-medium text-uppercase elevation-1"
    ></v-data-table>
  </v-card>
</template>

<script>
import axios from 'axios'
import extraConfig from '@/extraConfig'
axios.defaults.baseURL = extraConfig.backPath
export default {
  name: 'Profesores',

  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 20,
    profesores: [],
    search: '',
    headers: [
      { text: 'Usuario', value: 'profesor.username' },
      { text: 'Nombres', value: 'profesor.first_name' },
      { text: 'Apellidos', value: 'profesor.last_name' },
      { text: 'Correo electrónico', value: 'profesor.email' }
    ]
  }),
  methods: {
    getProfesores () {
      const path = `/api/horario_profesor_3/${this.$route.params.id_horario}/`
      axios.get(path).then((response) => {
        this.profesores = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created () {
    this.getProfesores()
  }
}
</script>
